<div class="datatable-item">
    <div class="select">
        <nb-checkbox *ngIf="!isHeader" (checkedChange)="control.setValue($event); useItemCheck.emit()" [checked]="control.value"></nb-checkbox>
        <nb-checkbox *ngIf="isHeader" (checkedChange)="control.setValue($event ? 'on' : 'off'); useItemCheck.emit()" [checked]="control.value === 'on'" [indeterminate]="control.value === 'indeterminate'"></nb-checkbox>
        <div class="field">
            <nb-form-field>
                <input nbInput fullWidth readonly />
            </nb-form-field>
        </div>
    </div>
    <div class="field gaint" (click)="useSort('name')">
        <nb-form-field class="w-100">
            <input nbInput fullWidth readOnly [value]="isHeader ? 'Name' : attachment.name" placeHolder="Name" />
            <nb-icon *ngIf="isHeader && sort.key === 'name'" nbSuffix [icon]="'arrow-' + sort.stage + '-outline'"></nb-icon>
            <nb-icon *ngIf="!isHeader" (click)="useCopy(attachment.name)" nbSuffix [icon]="'clipboard-outline'"></nb-icon>
        </nb-form-field>
    </div>
    <div class="field large" (click)="useSort('extension')">
        <nb-form-field class="w-100">
            <input nbInput fullWidth readOnly [value]="isHeader ? 'Extension' : attachment.extension" placeHolder="Extension" />
            <nb-icon *ngIf="isHeader && sort.key === 'extension'" nbSuffix [icon]="'arrow-' + sort.stage + '-outline'"></nb-icon>
        </nb-form-field>
    </div>
    <div class="field gaint" (click)="useSort('url')">
        <nb-form-field class="w-100">
            <input nbInput fullWidth readOnly [value]="isHeader ? 'Url' : attachment.url" placeHolder="Url" />
            <nb-icon *ngIf="isHeader && sort.key === 'url'" nbSuffix [icon]="'arrow-' + sort.stage + '-outline'"></nb-icon>
        </nb-form-field>
    </div>
    <div class="field large" (click)="useSort('size')">
        <nb-form-field class="w-100">
            <input nbInput fullWidth readOnly [value]="isHeader ? 'Size' : (attachment.size | size)" placeHolder="Size" />
            <nb-icon *ngIf="isHeader && sort.key === 'size'" nbSuffix [icon]="'arrow-' + sort.stage + '-outline'"></nb-icon>
        </nb-form-field>
    </div>
    <div class="action">
        <button (click)="useDownload()" *ngIf="!isHeader" nbButton status="success" outline size="small">
    <nb-icon [icon]="'download-outline'"></nb-icon>
</button>
        <div class="field">
            <nb-form-field>
                <input nbInput fullWidth readonly />
            </nb-form-field>
        </div>
    </div>
    <div class="action">
        <button (click)="useDialog(editRef)" *ngIf="!isHeader" nbButton status="info" outline size="small">
        <nb-icon [icon]="'edit-2-outline'"></nb-icon>
    </button>
        <div class="field">
            <nb-form-field>
                <input nbInput fullWidth readonly />
            </nb-form-field>
        </div>
    </div>
    <div class="action">
        <button (click)="useRemove.emit()" *ngIf="!isHeader" nbButton status="danger" outline size="small">
      <nb-icon [icon]="'trash-2-outline'"></nb-icon>
  </button>
        <div class="field">
            <nb-form-field>
                <input nbInput fullWidth readonly />
            </nb-form-field>
        </div>
    </div>
</div>
<ng-template #editRef let-data let-ref="dialogRef">
    <nb-card class="child" style="position: relative;">
        <ngx-spinner [name]="'attachment-save'" bdColor="#e5e5e5" [style.opacity]="'0.8'" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
        <nb-card-header>
            {{data?.description ? 'Edit' : 'Add'}} attachment description
            <button (click)="ref.close()" style="float:right" nbButton size="tiny">
          <nb-icon icon="close"></nb-icon>
          </button>
        </nb-card-header>
        <nb-card-body>
            <div class="attachment mb-3">
                <div class="extension">
                    <nb-icon [icon]="icon"></nb-icon>
                </div>
                <div class="content">
                    <div class="content-top">
                        <a>{{data?.name}}</a>
                    </div>
                    <div class="content-bottom">
                        <span class="text">{{data?.createdAt | time}}</span>
                        <span class="separator">·</span>
                        <span class="text">Đặng Khánh Vinh</span>
                        <span class="separator">·</span>
                        <span class="text">{{data?.size | size}}</span>
                    </div>
                </div>
            </div>
            <span style="display: block; margin-bottom: 0.5rem; font-weight: 600">Description</span
          >
        <nb-form-field style="width: 100%; margin-bottom: 1rem">
          <textarea
            #area
            placeHolder="Description"
            fullWidth
            [formControl]="description"
            rows="5"
            nbInput
          ></textarea>
        </nb-form-field>
      </nb-card-body>
      <nb-card-footer class="p-2">
          <button style="float: right" status="success" nbButton size="small" (click)="useSave(ref)">
Save
</button>
          <button style="float: right; margin-right: 0.5rem" status="default" nbButton size="small" (click)="ref.close()">
Cancel
</button>
          </nb-card-footer>
  </nb-card>
</ng-template>