<div class="datatable-item">
    <div class="select">
        <nb-checkbox *ngIf="!isHeader" (checkedChange)="control.setValue($event); useItemCheck.emit()" [checked]="control.value"></nb-checkbox>
        <nb-checkbox *ngIf="isHeader" (checkedChange)="control.setValue($event ? 'on' : 'off'); useItemCheck.emit()" [checked]="control.value === 'on'" [indeterminate]="control.value === 'indeterminate'"></nb-checkbox>
        <div class="field">
            <nb-form-field>
                <input nbInput fullWidth readonly />
            </nb-form-field>
        </div>
    </div>
    <div class="image">
        <img *ngIf="!isHeader && employee.avatar" [src]="employee.avatar" />
        <div *ngIf="!isHeader && !employee.avatar" class="empty-image">
            <b>{{ employee.fullname | key }}</b>
        </div>
        <div class="field">
            <nb-form-field>
                <input nbInput fullWidth readonly />
            </nb-form-field>
        </div>
    </div>
    <div class="field gaint" (click)="useSort('code')">
        <nb-form-field class="w-100">
            <input nbInput fullWidth readOnly [value]="isHeader ? 'Code' : employee.code" placeHolder="Code" />
            <nb-icon *ngIf="isHeader && sort.key === 'code'" nbSuffix [icon]="'arrow-' + sort.stage + '-outline'"></nb-icon>
            <nb-icon *ngIf="!isHeader" (click)="useCopy(employee.code)" nbSuffix [icon]="'clipboard-outline'"></nb-icon>
        </nb-form-field>
    </div>
    <div class="field b-gaint" (click)="useSort('fullname')">
        <nb-form-field class="w-100">
            <input nbInput fullWidth readOnly [value]="isHeader ? 'Fullname' : employee.fullname" placeHolder="Fullname" />
            <nb-icon *ngIf="isHeader && sort.key === 'fullname'" nbSuffix [icon]="'arrow-' + sort.stage + '-outline'"></nb-icon>
            <nb-icon *ngIf="!isHeader" (click)="useCopy(employee.fullname)" nbSuffix [icon]="'clipboard-outline'"></nb-icon>
        </nb-form-field>
    </div>
    <div class="field gaint" (click)="useSort('email')">
        <nb-form-field class="w-100">
            <input nbInput fullWidth readOnly [value]="isHeader ? 'Email' : employee.email" placeHolder="Email" />
            <nb-icon *ngIf="isHeader && sort.key === 'email'" nbSuffix [icon]="'arrow-' + sort.stage + '-outline'"></nb-icon>
            <nb-icon *ngIf="!isHeader" (click)="useCopy(employee.email)" nbSuffix [icon]="'clipboard-outline'"></nb-icon>
        </nb-form-field>
    </div>
    <div class="field gaint" (click)="useSort('phone')">
        <nb-form-field class="w-100">
            <input nbInput fullWidth readOnly [value]="isHeader ? 'Phone' : employee.phone" placeHolder="Phone" />
            <nb-icon *ngIf="isHeader && sort.key === 'phone'" nbSuffix [icon]="'arrow-' + sort.stage + '-outline'"></nb-icon>
            <nb-icon *ngIf="!isHeader" (click)="useCopy(employee.phone)" nbSuffix [icon]="'clipboard-outline'"></nb-icon>
        </nb-form-field>
    </div>
    <div class="field gaint" (click)="useSort('roles')">
        <nb-form-field class="w-100">
            <input nbInput fullWidth readOnly [value]="isHeader ? 'Role' : useRenderRole()" placeHolder="Role" />
            <nb-icon *ngIf="isHeader && sort.key === 'roles'" nbSuffix [icon]="'arrow-' + sort.stage + '-outline'"></nb-icon>
            <nb-icon *ngIf="!isHeader" (click)="useCopy(useRenderRole())" nbSuffix [icon]="'clipboard-outline'"></nb-icon>
        </nb-form-field>
    </div>
    <div class="action">
        <button (click)="useEdit()" *ngIf="!isHeader" nbButton status="info" outline size="small">
      <nb-icon [icon]="'edit-2-outline'"></nb-icon>
  </button>
        <div class="field">
            <nb-form-field>
                <input nbInput fullWidth readonly />
            </nb-form-field>
        </div>
    </div>
    <div class="action">
        <button (click)="useView()" *ngIf="!isHeader" nbButton status="info" outline size="small">
    <nb-icon [icon]="'eye-outline'"></nb-icon>
</button>
        <div class="field">
            <nb-form-field>
                <input nbInput fullWidth readonly />
            </nb-form-field>
        </div>
    </div>
    <div class="action">
        <button (click)="useRemove.emit()" *ngIf="!isHeader" nbButton status="danger" outline size="small">
    <nb-icon [icon]="'trash-2-outline'"></nb-icon>
</button>
        <div class="field">
            <nb-form-field>
                <input nbInput fullWidth readonly />
            </nb-form-field>
        </div>
    </div>
</div>