.crm-search-result {
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    top: -5px;
    .crm-search-result-tabs {
        height: 3rem;
        background: #f7f7f7;
        .crm-search-result-tab {
            text-decoration: none;
            font: 400 18px/24px Source Sans Pro, sans-serif;
            color: rgba(38, 41, 44, .64);
            height: 3rem;
            display: flex;
            justify-content: center;
            float: left;
            align-items: center;
            &:hover {
                box-shadow: inset 0 -2px 0 0 #317ae2;
            }
            &.current {
                box-shadow: inset 0 -2px 0 0 #317ae2;
            }
        }
    }
    .crm-search-result-data {
        max-height: 18rem;
        min-height: 3rem;
        overflow-y: auto;
        position: relative;
        overflow-x: hidden;
        &.searching {
            min-height: 6rem;
        }
        .no-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 6rem;
            width: 100%;
            a {
                text-decoration: none;
                border: 2px solid #3366ff;
                padding: 5px;
                text-align: center;
                margin-right: 3px;
                text-transform: uppercase;
                border-radius: 5px;
            }
        }
        .no-search {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 6rem;
            width: 100%;
        }
        .result {
            width: 100%;
            .item {
                min-height: 3rem;
                width: 100%;
                display: flex;
                align-items: center;
                padding: 0 1rem 0 1rem;
                color: black;
                text-decoration: none;
                pre {
                    white-space: pre-wrap;
                    white-space: -moz-pre-wrap;
                    white-space: -pre-wrap;
                    white-space: -o-pre-wrap;
                    word-wrap: break-word;
                    margin: 0;
                    font-size: 1.1rem;
                    font-weight: bolder;
                }
                &:hover {
                    background-color: #317ae2;
                    cursor: pointer;
                    color: #fff;
                    pre {
                        color: #fff;
                    }
                }
            }
        }
    }
}
