.image {
    width: 100%;
    margin-bottom: 1rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    min-height: 250px;
    border: 1px solid #e5e5e5;
    align-items: center;
    position: relative;
    .image-picker {
        &.danger {
            border: 1px solid #dc3545;
        }
        border: 1px solid #e5e5e5;
        width: 150px;
        position: relative;
        height: 150px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

::ng-deep {
    .item-body {
        overflow: hidden !important;
    }
}