<button *ngIf="!data" nbButton status="success" (click)="useDownload(example)" size="small">Download Example</button>
<table #example style="display: none;">
    <thead>
        <tr>
            <th>code</th>
            <th>name</th>
            <th>price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>PRO-1</td>
            <td>Watch</td>
            <td>1,000</td>
        </tr>
    </tbody>
</table>
<nb-accordion *ngIf="data">
    <nb-accordion-item *ngFor="let form of state.formArray['controls']; let i = index" class="mb-2">
        <nb-accordion-item-header>{{form.value.name}}</nb-accordion-item-header>
        <nb-accordion-item-body>
            <div class="image">
                <div class="image-picker" [class.danger]="form.value.errorImage">
                    <input accept="image/jpeg,image/jpg,image/png" (change)="useSelectImage($event, imageSelect, form)" #imageSelect type="file" style="opacity: 0; height: 0; width: 0" />
                    <button *ngIf="!form.get('image').value" nbButton status="default" size="small" (click)="imageSelect.click()"><nb-icon icon="camera-outline"></nb-icon></button>
                    <img *ngIf="form.get('image').value" [src]="form.get('image').value" style="width: 80%; height: 80%; border-radius: 50%;" />
                    <button *ngIf="form.get('image').value" style="position: absolute; top: 98px; left: 127px;" shape="round" nbButton [status]="form.value.errorImage ? 'danger' : 'primary'" size="small" (click)="imageSelect.click()"><nb-icon icon="camera-outline"></nb-icon></button>
                </div>
                <b *ngIf="form.value.errorImage" class="text-danger" style="position: absolute; bottom: 5px; text-align: center;">{{form.value.errorImageMessage}}</b>
            </div>
            <span style="display: block; margin-bottom: 0.5rem; font-weight: 600;" [class.text-danger]="form.get('code').invalid && (form.get('code').touched || form.get('code').dirty)">Code <span class="text-danger">*</span></span>
            <nb-form-field class="not-search" [nbSpinner]="form.value.codeStage === 'querying'" [nbSpinnerSize]="'tiny'" style="width: 100%; margin-bottom: 1rem;">
                <nb-icon [ngStyle]="{'opacity': form.value.codeStage === 'done' ? '1' : '0'}" nbPrefix icon="code-outline"></nb-icon>
                <input style="height: 3rem;" [status]="form.get('code').invalid && (form.get('code').touched || form.get('code').dirty) ? 'danger' : 'basic'" (blur)="useCheckCode(form)" fullWidth nz-dropdown [placeholder]="'Code'" shape="rectangle" [formControl]="form.get('code')"
                    nbInput size="large" />
            </nb-form-field>
            <span *ngIf="form.get('code').errors?.required && (form.get('code').touched || form.get('code').dirty)" class="text-danger mb-3 display-block font-weight-bold">Please fill code</span>
            <span *ngIf="form.get('code').errors?.duplicate && (form.get('code').touched || form.get('code').dirty)" class="text-danger mb-3 display-block font-weight-bold">Please fill another code. Because this code is exsited</span>
            <span style="display: block; margin-bottom: 0.5rem; text-transform: capitalize; font-weight: 600;" [class.text-danger]="form.get('name').invalid && (form.get('name').touched || form.get('name').dirty)">Name <span class="text-danger">*</span></span>
            <nb-form-field style="width: 100%; margin-bottom: 1rem;">
                <input style="height: 3rem;" [status]="form.get('name').invalid && (form.get('name').touched || form.get('name').dirty) ? 'danger' : 'basic'" fullWidth nz-dropdown [placeholder]="'Fullname'" shape="rectangle" [formControl]="form.get('name')" nbInput size="large"
                />
            </nb-form-field>
            <span *ngIf="form.get('name').invalid && (form.get('name').touched || form.get('name').dirty)" class="text-danger mb-3 display-block font-weight-bold">Please fill name</span>
            <span style="display: block; margin-bottom: 0.5rem; font-weight: 600" [class.text-danger]="
          form.get('price').invalid &&
          (form.get('price').touched || form.get('price').dirty)
        ">Price <span class="text-danger">*</span></span>
            <nb-form-field style="width: 100%; margin-bottom: 1rem">
                <nb-icon icon="money-bill-wave" pack="font-awesome" nbPrefix></nb-icon>
                <input mask="separator.0" mask="separator.0" thousandSeparator="," [status]="
            form.get('price').invalid &&
            (form.get('price').touched || form.get('price').dirty)
              ? 'danger'
              : 'basic'
          " placeholder="Price" fullWidth [formControl]="form.get('price')" nbInput size="small" />
            </nb-form-field>
            <span *ngIf="form.get('price').invalid && (form.get('price').touched || form.get('price').dirty)" class="text-danger mb-3 display-block font-weight-bold">Please fill price</span>
            <span style="display: block; margin-bottom: 0.5rem; font-weight: 600">Category</span
      >
      <nb-form-field style="width: 100%; margin-bottom: 1rem">
        <nb-icon icon="compass-outline" nbPrefix></nb-icon>
        <input
          #categoryInput
          fullWidth
          nz-dropdown
          [status]="
            form.get('category').invalid &&
            (form.get('category').touched || form.get('category').dirty)
              ? 'danger'
              : 'basic'
          "
          [nzDropdownMenu]="categoryRef"
          placeholder="Category"
          [nzPlacement]="'bottomCenter'"
          [nzBackdrop]="false"
          [nzTrigger]="'click'"
          [value]="form?.get('category').value?.name"
          nbInput
          size="small"
          (input)="categoryPlus.useSearch($event.target.value)"
        />
        <nb-icon icon="arrow-down" nbSuffix></nb-icon>
      </nb-form-field>
      <nz-dropdown-menu #categoryRef="nzDropdownMenu">
        <app-reuse-category-select
        [selected]="form.get('category').value"
          #categoryPlus
          (useSelect)="form.get('category').setValue($event)"
        ></app-reuse-category-select>
      </nz-dropdown-menu>
      <span *ngIf="form.get('category').invalid && (form.get('category').touched || form.get('category').dirty)" class="text-danger mb-3 display-block font-weight-bold">Please select category</span>
            <nb-accordion>
                <nb-accordion-item>
                    <nb-accordion-item-header>Parameters</nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <smooth-dnd-container [dragHandleSelector]="'.drag-handle'" (drop)="useDrop($event, form)">
                            <smooth-dnd-draggable *ngFor="let parameter of form.get('parameters')['controls']; let i = index">
                                <nb-form-field style="width: 50%; float: left; margin-bottom: 1rem">
                                    <nb-icon class="drag-handle" style="cursor: move;" nbPrefix icon="move-outline"></nb-icon>
                                    <input fullWidth [status]="
                          parameter.get('label').invalid &&
                          (parameter.get('label').touched ||
                            parameter.get('label').dirty)
                            ? 'danger'
                            : 'basic'
                        " [formControl]="parameter.get('label')" placeholder="Label" nbInput size="small" />
                                </nb-form-field>
                                <nb-form-field style="width: 50%; float: left; margin-bottom: 1rem">
                                    <input fullWidth [status]="
                          parameter.get('value').invalid &&
                          (parameter.get('value').touched ||
                            parameter.get('value').dirty)
                            ? 'danger'
                            : 'basic'
                        " [formControl]="parameter.get('value')" placeholder="Value" nbInput size="small" />
                                    <nb-icon (click)="useRemoveParameter(i, form)" style="cursor: pointer;" nbSuffix icon="trash-2-outline" status="danger"></nb-icon>
                                </nb-form-field>
                            </smooth-dnd-draggable>
                        </smooth-dnd-container>
                        <button (click)="useAddParameter(form)" nbButton status="success" size="small">
              <nb-icon icon="plus"></nb-icon>
              <b>Add new parameter</b>
            </button>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
            <span style="display: block; margin: 1rem 0 0.5rem 0; font-weight: 600">Description</span
      >
      <angular-editor [formControl]="form.get('description')" [config]="state.config"></angular-editor>
            <button class="my-2" status="danger" size="small" nbButton (click)="useRemoveItem(i); data = state.formArray.length === 0 ? undefined : data">Remove</button>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<button *ngIf="data" nbButton class="mt-1 mr-1" status="primary" size="small" (click)="useImport()" [disabled]="state.formArray.invalid">Save</button>
<button *ngIf="data" nbButton class="mt-1" (click)="useChange.emit()" size="small">Cancel</button>