<nb-card>
    <nb-card-header>Move deal</nb-card-header>
    <nb-card-body>
        <span style="display: block; margin-bottom: 0.5rem; font-weight: 600">Process</span
      >
      <nb-form-field style="width: 100%; margin-bottom: 1rem">
        <nb-icon icon="browser-outline" nbPrefix></nb-icon>
        <input
          #pipelineInput
          fullWidth
          nz-dropdown
          [nzDropdownMenu]="pipelineRef"
          [value]="pipeline?.name"
          [nzPlacement]="'bottomCenter'"
          [nzBackdrop]="false"
          [nzTrigger]="'click'"
          [value]="pipeline?.name"
          readonly
          (focus)="pipelinePlus.useChangeValue(pipeline ? pipeline.name : '')"
          nbInput
          size="small"
          (input)="pipelinePlus.useChangeValue($event.target.value)"
        />
        <nb-icon icon="arrow-down" nbSuffix></nb-icon>
      </nb-form-field>
      <nz-dropdown-menu #pipelineRef="nzDropdownMenu">
        <app-reuse-pipeline-select
          [selected]="pipeline"
          [pipelines]="pipelines"
          #pipelinePlus
          (useSelect)="useSelectPipeline($event.id)"
          [template]="pipelineInput"
        ></app-reuse-pipeline-select>
      </nz-dropdown-menu>
      <span
        *ngIf="pipeline"
        style="display: block; margin-bottom: 0.5rem; font-weight: 600"
        >Stage</span
      >
      <div *ngIf="pipeline" class="stages">
        <label
          class="stage"
          (click)="selectedStage = stage"
          [class.selected]="
          selectedStage &&
            stage.position <= selectedStage.position
          "
          *ngFor="let stage of pipeline.stages; let i = index"
        ></label>
      </div>
  </nb-card-body>
  <nb-card-footer class="p-2">
    <button
      style="float: right"
      status="primary"
      nbButton
      size="small"
      (click)="useMove.emit(selectedStage)"
    >
      Move
    </button>
    <button
      style="float: right; margin-right: 0.5rem"
      status="default"
      nbButton
      size="small"
      (click)="useClose.emit()"
    >
      Cancel
    </button>
  </nb-card-footer>
</nb-card>
