nb-card {
    width: 400px;
    nb-card-body {
        max-height: calc(100vh - 238px);
        overflow: auto;
        .stages {
            flex-flow: row nowrap;
            border-radius: 2px;
            table-layout: fixed;
            height: 28px;
            width: 100%;
            display: flex;
            box-sizing: border-box;
            margin-bottom: 1rem;
            .stage {
                position: relative;
                display: flex;
                flex-grow: 1;
                flex-basis: 0;
                align-items: center;
                justify-content: center;
                margin-left: -6px;
                background-color: #dcdddd;
                color: #747678;
                height: 100%;
                cursor: pointer;
                font-size: 13px;
                text-align: center;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: normal;
                -webkit-clip-path: polygon(calc(100% - 6px) 0, 100% 50%, calc(100% - 6px) 100%, 2px 100%, 8px 50%, 2px 0);
                clip-path: polygon(calc(100% - 6px) 0, 100% 50%, calc(100% - 6px) 100%, 2px 100%, 8px 50%, 2px 0);
                &:hover {
                    opacity: 0.8;
                    background-color: #eee;
                }
                &.selected {
                    color: #fff;
                    background-color: #08a742;
                    &:hover {
                        background-color: #26b259;
                    }
                }
                &:first-of-type {
                    margin-left: 0;
                    border-radius: 2px 0 0 2px;
                    -webkit-clip-path: polygon(0 0, calc(100% - 6px) 0, 100% 50%, calc(100% - 6px) 100%, 0 100%);
                    clip-path: polygon(0 0, calc(100% - 6px) 0, 100% 50%, calc(100% - 6px) 100%, 0 100%);
                }
                &:last-of-type {
                    border-radius: 0 2px 2px 0;
                    -webkit-clip-path: polygon(100% 0, 100% 100%, 2px 100%, 8px 50%, 2px 0);
                    clip-path: polygon(100% 0, 100% 100%, 2px 100%, 8px 50%, 2px 0);
                }
            }
        }
    }
}

@media (max-width: 789px) {
    nb-card {
        width: 95vw;
    }
}
