.crm-product {
    width: 100%;
    height: 100%;
    .crm-product-header {
        width: 100%;
        padding: 0 calc(5% + 1rem) 0 calc(5% + 1rem);
        .navigation {
            margin: 0.5rem 0 0.5rem 0;
        }
    }
    .crm-product-body {
        height: 80%;
        width: 100%;
        max-height: 80%;
        overflow: auto;
        position: relative;
    }
}
