<nb-card class="w-per-95 m-auto" [class.canDrag]="deal?.status === 'processing' && !deal.changing" [class.dragging]="dragging" [class.changing]="deal.changing">
    <nb-card-header>
        <b><nb-icon icon="donate" pack="font-awesome"></nb-icon> {{deal.title}}</b>
    </nb-card-header>
    <nb-card-body>
        <b><nb-icon icon="person-outline"></nb-icon> {{deal.customer.fullname}} (Customer)</b><br>
        <b><nb-icon icon="person-outline"></nb-icon> {{deal.assignee.fullname}} (Assignee)</b><br>
        <b style="text-transform: capitalize;"><nb-icon icon="flag-outline"></nb-icon> {{deal.status}}</b><br>
        <b><nb-icon icon="receipt" pack="font-awesome"></nb-icon> {{deal.dealDetails | money}}</b><br><br>
    </nb-card-body>
    <nb-card-footer>
        <b><nb-icon icon="clock-outline"></nb-icon> [{{deal.updatedAt | date: 'dd/MM/yyyy'}}]</b>
        <button (click)="useRemove.emit()" class="float-right ml-1" size="small" outline shape="round" nbButton status="danger">
  <nb-icon icon="trash-2-outline"></nb-icon>
</button>
        <button (click)="useView()" class="float-right ml-1" size="small" outline shape="round" nbButton status="info">
  <nb-icon icon="eye-outline"></nb-icon>
</button>
        <button (click)="useEdit()" class="float-right" size="small" outline shape="round" nbButton status="info">
  <nb-icon icon="edit-2-outline"></nb-icon>
</button>
    </nb-card-footer>
</nb-card>