nb-card {
    background: #edf1f7;
    nb-card-body {
        .crm-activity {
            width: 100%;
            position: relative;
            .crm-activity-body {
                width: 100%;
                max-width: 100%;
                overflow-x: auto;
                overflow-y: hidden;
                position: relative;
                display: block;
                float: left;
                padding: 0 1rem 1rem 1rem;
            }
        }
    }
}