.crm-activity {
    width: 100%;
    height: 100%;
    .crm-activity-header {
        width: 100%;
        padding: 1rem;
    }
    .crm-activity-body {
        width: 100%;
        max-height: calc(100% - 80px - 2rem);
        height: calc(100% - 40px - 2rem);
        overflow: auto;
        position: relative;
        padding: 0 1rem 1rem 1rem;
        mwl-calendar-month-view {
             ::ng-deep {
                div.cal-month-view {
                    min-width: 115rem;
                }
            }
        }
        mwl-calendar-week-view {
             ::ng-deep {
                div.cal-week-view {
                    min-width: 115rem;
                }
            }
        }
         ::ng-deep {
            .calendar-customer span {
                color: white !important;
            }
        }
    }
}
