.crm-activity {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    .crm-activity-header {
        width: 100%;
        padding: 1rem;
        display: block;
        float: left;
    }
    .crm-activity-body {
        width: 100%;
        max-width: 100%;
        overflow-x: auto;
        position: relative;
        display: block;
        float: left;
        padding: 0 1rem 1rem 1rem;
        mwl-calendar-month-view {
             ::ng-deep {
                div.cal-month-view {
                    min-width: 50rem;
                }
            }
        }
        mwl-calendar-week-view {
             ::ng-deep {
                div.cal-week-view {
                    min-width: 50rem;
                }
            }
        }
         ::ng-deep {
            .calendar-customer span {
                color: white !important;
            }
        }
        .activity {
            width: 98%;
            margin: auto;
            min-height: 4rem;
            height: 5rem;
            padding: 1rem 0.5rem 1rem 0.5rem;
            position: relative;
            border: 1px solid #e5e5e5;
            background: white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 5px;
            margin-bottom: 1rem;
            p {
                font-size: 0.8rem;
                font-weight: 600;
            }
            .icon {
                width: 15%;
                height: 100%;
                float: left;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .content {
                height: 1rem;
                float: left;
                width: 85%;
                padding: 0 0.5rem 0 0.5rem;
                font: 600 13px/16px monospace, sans-serif;
                color: #747678;
            }
            &:hover {
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            .time {
                width: 85%;
                height: 3rem;
                padding: 0 0.5rem 0 0.5rem;
                float: left;
                display: flex;
                position: relative;
                align-items: center;
                span {
                    display: inline-block;
                    font: 600 13px/16px monospace, sans-serif;
                    color: #747678;
                }
                .separator {
                    margin: 0;
                    padding: 0 16px 0 9px;
                    width: 8px;
                    display: inline-block;
                    cursor: default;
                    text-align: center;
                    font-weight: 900;
                }
            }
        }
    }
}

nb-select {
     ::ng-deep {
        button {
            height: 100% !important;
            width: 100% !important;
            min-width: 80px !important;
            padding: 0 1rem !important;
        }
    }
}
