<div class="crm-activity">
    <div class='crm-activity-header'>
        <div class="float-left mb-2" [style.height]="'40px'">
            <button class="float-left border-radius-0" outline (click)="usePlus()" nbButton status="success" size="small" [style.height]="'40px'" [style.width]="'40px'">
              <nb-icon icon="plus-outline"></nb-icon>
            </button>
            <nb-form-field class="float-left">
                <nb-icon *ngIf="stage === 'calendar'" icon="calendar-outline" nbPrefix></nb-icon>
                <input class="border-radius-0" *ngIf="stage === 'calendar'" readonly size="small" [nbDatepicker]="datePicker" [style.height]="'40px'" [style.maxWidth]="'150px'" nbInput [value]="viewDate | date: 'dd/MM/yyyy'">
                <input class="border-radius-0" placeholder="Select deal" *ngIf="stage === 'list'" readonly size="small" [style.height]="'40px'" [style.maxWidth]="'150px'" nbInput nz-dropdown [nzDropdownMenu]="dealRef" [nzPlacement]="'bottomCenter'" [nzBackdrop]="false"
                    [nzTrigger]="'click'" [value]="search.deal?.title" />
                <nb-icon nbSuffix *ngIf="stage === 'list' && search.deal" (click)="search.deal = undefined; useFilterList()" icon="close-circle-outline" status="danger"></nb-icon>
                <nb-datepicker (dateChange)="viewDate = $event" [format]="'dd/MM/yyyy'" #datePicker></nb-datepicker>
                <nz-dropdown-menu #dealRef="nzDropdownMenu">
                    <app-reuse-deal-select [selected]="search.deal" #dealSelect [forSearch]="true" (useSelect)="search.deal = $event; useFilterList()"></app-reuse-deal-select>
                </nz-dropdown-menu>
            </nb-form-field>
            <button class="float-left border-radius-0" (click)="stage = 'calendar'; useFilter()" outline nbButton [status]="stage === 'calendar' ? 'primary' : 'default'" [style.height]="'40px'" [style.width]="'40px'" size="small">
              <nb-icon icon="calendar-outline"></nb-icon>
            </button>
            <button class="float-left border-radius-0" (click)="stage = 'list'; useFilterList()" outline nbButton [status]="stage === 'list' ? 'primary' : 'default'" [style.height]="'40px'" [style.width]="'40px'" size="small">
              <nb-icon icon="menu-outline"></nb-icon>
            </button>
        </div>
        <div *ngIf="stage === 'calendar'" class="float-left mb-2" [style.minWidth]="'360px'">
            <nb-form-field class="float-left border-radius-0">
                <nb-select size="small" [style.height]="'40px'" [style.width]="'120px'" placeholder="Type" [(ngModel)]="type">
                    <nb-option value="month">Month</nb-option>
                    <nb-option value="week">Week</nb-option>
                    <nb-option value="day">Day</nb-option>
                </nb-select>
            </nb-form-field>
            <button nbButton status="primary" class="float-left border-radius-0" [style.height]="'40px'" [style.width]="'40px'" size="small" mwlCalendarPreviousView [view]="type" [(viewDate)]="viewDate">
            <nb-icon icon="arrow-ios-back-outline"></nb-icon>
            </button>
            <button nbButton status="default" class="float-left border-radius-0" [style.height]="'40px'" [style.width]="'80px'" size="small" mwlCalendarToday [(viewDate)]="viewDate">
                Today
            </button>
            <button nbButton status="primary" class="float-left border-radius-0" [style.height]="'40px'" [style.width]="'40px'" size="small" mwlCalendarNextView [view]="type" [(viewDate)]="viewDate">
              <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
            </button>
        </div>
        <div *ngIf="stage === 'list'" class="float-left mb-2" [style.minHeight]="'40px'">
            <nb-form-field class="float-left mb-2">
                <nb-icon nbPrefix icon="clock-outline"></nb-icon>
                <input readonly class="border-radius-0" [(ngModel)]="search.range" (ngModelChange)="useFilterList()" [style.maxWidth]="'300px'" [style.height]="'40px'" fullWidth placeholder="Start Time - End Time" nbInput [nbDatepicker]="formpicker" />
                <nb-rangepicker #formpicker format="yyyy-MM-dd"></nb-rangepicker>
            </nb-form-field>
            <div class="display-block float-left mb-2">
                <button (click)="useToggleFilterList('notStart')" outline nbButton [status]="search.states.indexOf('notStart') > -1 ? 'primary' : 'default'" class="float-left border-radius-0" [style.height]="'40px'" size="small">
              Not Started
            </button>
                <button (click)="useToggleFilterList('processing')" outline nbButton [status]="search.states.indexOf('processing') > -1 ? 'success' : 'default'" class="float-left border-radius-0" [style.height]="'40px'" size="small">
              Processing
            </button>
                <button (click)="useToggleFilterList('expired')" outline nbButton [status]="search.states.indexOf('expired') > -1 ? 'danger' : 'default'" class="float-left border-radius-0" [style.height]="'40px'" size="small">
              Expired
            </button>
            </div>
        </div>
    </div>
    <div class='crm-activity-body'>
        <div *ngIf="stage === 'calendar'" [ngSwitch]="type">
            <mwl-calendar-month-view *ngSwitchCase="'month'" (dayClicked)="usePlusWithDay($event)" [viewDate]="viewDate" [events]="events" (eventClicked)="eventClicked($event)" (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="'week'" (hourSegmentClicked)="usePlusWithHour($event)" [eventTemplate]="dayEvent" [viewDate]="viewDate" [events]="events" (eventClicked)="eventClicked($event)" (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="'day'" (hourSegmentClicked)="usePlusWithHour($event)" [eventTemplate]="dayEvent" [viewDate]="viewDate" [events]="events" (eventClicked)="eventClicked($event)" (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
        </div>
        <div nz-row *ngIf="stage === 'list'">
            <div nz-col *ngFor="let event of events" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
                <div class="activity" (click)="eventClicked({ event: event })">
                    <div class="icon">
                        <nb-icon *ngIf="event.type === 'email'" status="danger" icon="email-outline"></nb-icon>
                        <nb-icon *ngIf="event.type === 'call'" status="success" icon="phone-outline"></nb-icon>
                        <nb-icon *ngIf="event.type === 'meetting'" icon="people-outline"></nb-icon>
                        <nb-icon *ngIf="event.type === 'task'" status="primary" icon="clock-outline"></nb-icon>
                        <nb-icon *ngIf="event.type === 'deadline'" status="warning" icon="flag-outline"></nb-icon>
                        <nb-icon *ngIf="event.type === 'lunch'" status="info" icon="utensils" pack="font-awesome"></nb-icon>
                    </div>
                    <div class="content">
                        {{event.name}}
                    </div>
                    <div class="time" [class.processing]="event.status === 'processing'" [class.done]="event.status === 'done'">
                        <span class="text" [class.text-success]="event.state === 'processing' && event.status === 'processing'" [class.text-danger]="event.state === 'expired' && event.status === 'processing'">{{event.dateStart | time}}</span>
                        <nz-tag style="position: absolute; right: 0;" [nzColor]="event.state === 'processing' ? 'cyan' : (event.state === 'expired' ? 'volcano' : 'geekblue')">
                            {{event.state === 'processing' ? 'Processing' : (event.state === 'expired' ? 'Expired' : 'Not Started')}}
                        </nz-tag>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #dayEvent let-weekEvent="weekEvent">
    <!-- {{weekEvent. title}} asndlasdlsakjd -->
    <button nbButton outline [status]="weekEvent.event.state === 'notStart' ? 'default' : (weekEvent.event.state === 'processing' ? 'primary' : 'success')" size="small" (click)="eventClicked({event: weekEvent.event})">
      <nb-icon [icon]="useIcon(weekEvent.event.type).icon" [pack]="useIcon(weekEvent.event.type).pack"></nb-icon>
    </button>
</ng-template>