.product-detail {
    height: 100%;
    width: 100%;
    padding: 2rem;
    max-height: 100%;
    margin-bottom: 10rem;
    overflow: auto;
    .product-detail-main {
        width: 750px;
        margin: auto;
        position: relative;
        height: 100%;
        .product-detail-information {
            background: white;
            position: relative;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding: 1rem;
            width: 100%;
            border-radius: 5px;
            float: left;
            .image {
                float: left;
                width: calc(100% - 20rem);
                min-height: 8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-width: 90%;
                    border-radius: 5px;
                }
            }
            .detail {
                width: 20rem;
                margin: auto;
                float: left;
                text-align: center;
                margin-bottom: 1rem;
                .item {
                    text-align: center;
                    display: flex;
                    max-width: 100%;
                    word-wrap: break-word;
                    white-space: -moz-pre-wrap;
                    white-space: pre-wrap;
                    align-items: center;
                    padding: 0.5rem;
                    font: 600 15px/16px monospace, sans-serif;
                    color: #747678;
                    nb-icon {
                        margin-right: 1rem;
                    }
                }
            }
        }
        .product-detail-content {
            margin-top: 1rem;
            height: fit-content;
            float: left;
            width: 100%;
            border-radius: 5px;
            .product-detail-content-rating {
                margin-top: 1rem;
                background: white;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                border-radius: 5px;
                padding: 1rem;
                height: fit-content;
                width: 100%;
                .title {
                    text-align: center;
                }
                .rating {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }
                    .rating-left {
                        width: 3rem;
                        display: flex;
                        justify-content: center;
                        font-weight: bold;
                        align-items: center;
                    }
                    .rating-middle {
                        width: calc(100% - 8rem);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        nb-progress-bar {
                            flex: 1;
                             ::ng-deep {
                                .progress-container {
                                    border: 1px solid #c7c4c4;
                                }
                            }
                        }
                    }
                    .rating-right {
                        width: 5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                    }
                }
            }
            .product-detail-content-comments {
                margin-top: 1rem;
                width: 100%;
                .comment {
                    width: 100%;
                    display: flex;
                    margin-bottom: 0.5rem;
                    img {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        margin-right: 0.5rem;
                    }
                    .non-avatar {
                        min-width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        font: 600 13px/16px monospace, sans-serif;
                        color: #747678;
                        margin-right: 0.5rem;
                        background: white;
                        border: 2px solid #e5e5e5;
                        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                    }
                    .content {
                        width: 100%;
                        background: white;
                        .fullname {
                            padding: 0.5rem 1rem 0.5rem 1rem;
                            width: auto;
                            position: relative;
                            font-weight: bold;
                            width: 100%;
                            height: auto;
                            word-wrap: break-word;
                            white-space: -moz-pre-wrap;
                            white-space: pre-wrap;
                            min-height: 2.5rem;
                            span {
                                font: 600 13px/16px monospace, sans-serif;
                                color: #747678;
                            }
                        }
                        .text {
                            padding: 0.5rem 1rem 0.5rem 1rem;
                            width: auto;
                            position: relative;
                            width: 100%;
                            height: auto;
                            word-wrap: break-word;
                            white-space: -moz-pre-wrap;
                            white-space: pre-wrap;
                            min-height: 2.5rem;
                        }
                        .rating {
                            width: 100%;
                            padding: 0 1.5rem 0 1.5rem;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
}

.product-item {
    width: 95%;
    margin: auto;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .product-item-image {
        width: 100%;
        min-height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            border-radius: 5px 5px 0 0;
        }
        b {
            font: 600 17px/16px monospace, sans-serif;
            color: #747678;
        }
    }
    .product-item-content {
        min-height: 5rem;
        padding: 1rem;
        .item {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0.5rem;
            font: 600 17px/16px monospace, sans-serif;
            color: #747678;
            nb-icon {
                margin-right: 1rem;
            }
        }
    }
}

@media (max-width: 789px) {
    .product-detail {
        .product-detail-main {
            width: 100%;
            .product-detail-information {
                .image {
                    width: 100%;
                }
                .detail {
                    width: 90%;
                    margin-left: 5%;
                    text-align: center;
                }
            }
        }
    }
}