nb-card {
    background: #edf1f7;
    nb-card-body {
        .information {
            position: relative;
            width: 100%;
            border-radius: 5px;
            float: left;
            .image {
                float: left;
                width: 100%;
                min-height: 8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }
        .content-rating {
            margin-top: 1rem;
            background: white;
            border-radius: 5px;
            padding: 1rem;
            height: fit-content;
            width: 100%;
            .title {
                text-align: center;
            }
            .rating {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
                .rating-left {
                    width: 3rem;
                    display: flex;
                    justify-content: center;
                    font-weight: bold;
                    align-items: center;
                }
                .rating-middle {
                    width: calc(100% - 8rem);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    nb-progress-bar {
                        flex: 1;
                         ::ng-deep {
                            .progress-container {
                                border: 1px solid #c7c4c4;
                            }
                        }
                    }
                }
                .rating-right {
                    width: 5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                }
            }
        }
        .comments {
            margin-top: 1rem;
            width: 100%;
            .comment {
                width: 100%;
                display: flex;
                margin-bottom: 0.5rem;
                img {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    margin-right: 0.5rem;
                }
                .non-avatar {
                    min-width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    font: 600 13px/16px monospace, sans-serif;
                    color: #747678;
                    margin-right: 0.5rem;
                    background: white;
                    border: 2px solid #e5e5e5;
                    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                }
                .content {
                    width: 100%;
                    background: white;
                    .fullname {
                        padding: 0.5rem 1rem 0.5rem 1rem;
                        width: auto;
                        position: relative;
                        font-weight: bold;
                        width: 100%;
                        height: auto;
                        word-wrap: break-word;
                        white-space: -moz-pre-wrap;
                        white-space: pre-wrap;
                        min-height: 2.5rem;
                        span {
                            font: 600 13px/16px monospace, sans-serif;
                            color: #747678;
                        }
                    }
                    .text {
                        padding: 0.5rem 1rem 0.5rem 1rem;
                        width: auto;
                        position: relative;
                        width: 100%;
                        height: auto;
                        word-wrap: break-word;
                        white-space: -moz-pre-wrap;
                        white-space: pre-wrap;
                        min-height: 2.5rem;
                    }
                    .rating {
                        width: 100%;
                        padding: 0 1.5rem 0 1.5rem;
                        margin: auto;
                    }
                }
            }
        }
    }
}
