<ng-template #removeRef let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Disable product </nb-card-header>
        <nb-card-body>Are you sure you wish to disabled this state.product?</nb-card-body>
        <nb-card-footer class="p-2">
            <button style="float: right" status="danger" nbButton size="small" (click)="useRemove(ref)">
        Disabled
      </button>
            <button style="float: right; margin-right: 0.5rem" status="default" nbButton size="small" (click)="ref.close()">
        Cancel
      </button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<nb-card class="h-100 w-100 position-relative">
    <ngx-spinner [name]="'product-detail'" bdColor="#e5e5e5" [style.opacity]="0.8" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
    <nb-card-header style="padding: 1rem 1rem;">
        <span class="display-flex align-items-center float-left h-100" style="max-width: 75%;">
          <button class="mr-2" (click)="useBack()" nbButton status="info" size="small" outline>
            <nb-icon icon="shopping-cart-outline" class="mr-2"></nb-icon>
            Product
          </button>
          <b style="font: 600 17px/16px monospace, sans-serif; color: #747678;">
            / {{state.product?.name}}</b>
    </span>
        <button *ngIf="state.canUpdate" class="float-right" nbButton status="primary" (click)="useEdit()" outline size="small">
      <nb-icon icon="edit-2-outline"></nb-icon>
    </button>
        <button *ngIf="state.canRemove" class="float-right mr-2" nbButton status="danger" (click)="useDialog(removeRef)" outline size="small">
      <nb-icon icon="trash-2-outline"></nb-icon>
    </button>
    </nb-card-header>
    <nb-card-body>
        <div nz-row class="w-100" style="height: fit-content;">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="12" [nzXXl]="12" class="px-3">
                <div class="information">
                    <div class="image">
                        <img *ngIf="state.product?.image" [src]="state.product?.image" />
                        <b *ngIf="!state.product?.image">No Image</b>
                    </div>
                </div>
                <div nz-row class="content-rating float-left">
                    <div class="total justify-content-center align-items-center mb-3" style="display: flex !important" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                        <nz-progress [nzPercent]="state.totalRating * 100 / 5" [nzFormat]="formatRating" nzType="circle"></nz-progress>
                    </div>
                    <div class="ratings" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="18" [nzXl]="18" [nzXXl]="18">
                        <div class="rating">
                            <div class="rating-left">
                                5
                                <nb-icon status="warning" icon="star"></nb-icon>
                            </div>
                            <div class="rating-middle">
                                <nb-progress-bar size="giant" [displayValue]="true" [value]="state.fiveStart.percent" status="success"></nb-progress-bar>
                            </div>
                            <div class="rating-right">
                                {{state.fiveStart.quantity}}
                                <nb-icon status="primary" icon="message-square-outline" class="ml-1"></nb-icon>
                            </div>
                        </div>
                        <div class="rating">
                            <div class="rating-left">
                                4
                                <nb-icon status="warning" icon="star"></nb-icon>
                            </div>
                            <div class="rating-middle">
                                <nb-progress-bar size="giant" [displayValue]="true" [value]="state.fourStart.percent" status="success"></nb-progress-bar>
                            </div>
                            <div class="rating-right">
                                {{state.fourStart.quantity}}
                                <nb-icon status="primary" icon="message-square-outline" class="ml-1"></nb-icon>
                            </div>
                        </div>
                        <div class="rating">
                            <div class="rating-left">
                                3
                                <nb-icon status="warning" icon="star"></nb-icon>
                            </div>
                            <div class="rating-middle">
                                <nb-progress-bar size="giant" [displayValue]="true" [value]="state.threeStart.percent" status="success"></nb-progress-bar>
                            </div>
                            <div class="rating-right">
                                {{state.threeStart.quantity}}
                                <nb-icon status="primary" icon="message-square-outline" class="ml-1"></nb-icon>
                            </div>
                        </div>
                        <div class="rating">
                            <div class="rating-left">
                                2
                                <nb-icon status="warning" icon="star"></nb-icon>
                            </div>
                            <div class="rating-middle">
                                <nb-progress-bar size="giant" [displayValue]="true" [value]="state.twoStart.percent" status="success"></nb-progress-bar>
                            </div>
                            <div class="rating-right">
                                {{state.twoStart.quantity}}
                                <nb-icon status="primary" icon="message-square-outline" class="ml-1"></nb-icon>
                            </div>
                        </div>
                        <div class="rating">
                            <div class="rating-left">
                                1
                                <nb-icon status="warning" icon="star"></nb-icon>
                            </div>
                            <div class="rating-middle">
                                <nb-progress-bar size="giant" [displayValue]="true" [value]="state.oneStart.percent" status="success"></nb-progress-bar>
                            </div>
                            <div class="rating-right">
                                {{state.oneStart.quantity}}
                                <nb-icon status="primary" icon="message-square-outline" class="ml-1"></nb-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="border: 1px solid silver;" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="12" [nzXXl]="12" class="px-3 mt-3 p-3">
                <div class="comments">
                    <div *ngFor="let comment of state.comments" class="comment">
                        <img *ngIf="comment.customer.avatar" [src]="comment.customer.avatar" />
                        <div *ngIf="!comment.customer.avatar" class="non-avatar">
                            {{comment.customer.fullname | key}}
                        </div>
                        <div class="content">
                            <div class="fullname">
                                {{comment.customer.fullname}} -
                                <span>{{comment.createdAt | time}}</span>
                            </div>
                            <div class="text">{{comment.message}}</div>
                            <div class="rating">
                                <bar-rating [readOnly]="true" [(rate)]="comment.rating" [max]="5" [theme]="'stars'"></bar-rating>
                            </div>
                        </div>
                    </div>
                    <div class="flag h-20" style="float: left"></div>
                </div>
                <div class="empty" *ngIf="state.comments.length === 0">
                    <b>Don't have any comments</b>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>