<nb-card class="w-100 m-0">
    <nb-card-header style="padding: 1rem 1rem; height: 4rem;">
        <span class="h-100 display-flex align-items-center float-left">
    <b>{{checkList.length + ' selected'}}</b>
  </span>
        <button *ngIf="canAssign" (click)="useDialog(assignRef)" class="float-right ml-1" outline nbButton status="info" size="small">
  Assign To<nb-icon icon="person-outline"></nb-icon>
</button>
    </nb-card-header>
</nb-card>
<ng-template #assignRef let-data let-ref="dialogRef">
    <nb-card class="child">
        <nb-card-header>Assign to employee</nb-card-header>
        <nb-card-body>
            <nb-form-field style="width: 100%; margin-bottom: 1rem">
                <nb-icon icon="person-outline" nbPrefix></nb-icon>
                <input #assigneeInput fullWidth (blur)="assignee.markAsTouched()" [status]="assignee.invalid && (assignee.touched || assignee.dirty) ? 'danger' : 'basic'" nz-dropdown [nzDropdownMenu]="assigneeRef" [nzPlacement]="'bottomCenter'" [nzBackdrop]="false" [nzTrigger]="'click'"
                    placeholder="Select owner" [value]="assignee.value?.fullname ? assignee.value.fullname : ''" nbInput size="small" readonly />
                <nb-icon icon="arrow-down" nbSuffix></nb-icon>
            </nb-form-field>
            <nz-dropdown-menu #assigneeRef="nzDropdownMenu">
                <app-employee-select #employeeSelect [control]="assignee" [type]="'assignee'"></app-employee-select>
            </nz-dropdown-menu>
            <span *ngIf="assignee.invalid && (assignee.touched || assignee.dirty)" class="text-danger mb-3 display-block font-weight-bold">Please select owner</span
        >
        </nb-card-body>
        <nb-card-footer class="p-2">
            <button style="float: right" status="default" nbButton size="small" (click)="ref.close();">
        Cancel
      </button>
            <button style="float: right; margin-right: 0.5rem" status="info" outline nbButton size="small" (click)="ref.close(); useAssign()">
        Submit
      </button>
        </nb-card-footer>
    </nb-card>
</ng-template>