<div nz-row style="width: 100%;">
    <div nz-col style="padding: 0 1rem 0 1rem; margin-bottom: 1rem;" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="12" [nzXXl]="12">
        <nb-accordion>
            <nb-accordion-item [expanded]="true">
                <nb-accordion-item-header>Customer Type Chart</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <nz-spin nzTip="Loading..." [nzSpinning]="!type">
                        <div [ngStyle]="{'opacity': type ? '1' : '0'}" echarts [options]="type" class="chart">
                        </div>
                    </nz-spin>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </div>
    <div nz-col style="padding: 0 1rem 0 1rem;  margin-bottom: 1rem;" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="12" [nzXXl]="12">
        <nb-accordion>
            <nb-accordion-item [expanded]="true">
                <nb-accordion-item-header>Customer Group Chart</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <nz-spin nzTip="Loading..." [nzSpinning]="!group">
                        <div [ngStyle]="{'opacity': group ? '1' : '0'}" echarts [options]="group" class="chart">
                        </div>
                    </nz-spin>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </div>
</div>
