div.actions {
    background: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    padding: 0;
    div.action {
        &:not(:last-child) {
            border-bottom: 1px solid #e7e5e5;
        }
        padding: 0.7rem;
        &:hover {
            cursor: pointer;
            background: #e7e5e5;
        }
        span.action-icon {
            margin-right: 0.7rem;
            nb-icon {
                height: 1.6rem;
                width: 1.4rem;
            }
        }
        span.action-label {
            font-size: 0.8rem;
            text-indent: 24px;
            letter-spacing: 2px;
        }
    }
}