<nb-card class="h-100 w-100 position-relative">
    <ngx-spinner [name]="'ticket-main'" bdColor="#e5e5e5" [style.opacity]="0.8" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
    <nb-card-header style="padding: 1rem 2.25rem;">
        <span class="display-flex align-items-center float-left h-100">
        <nb-icon icon="pricetags-outline" class="mr-2"></nb-icon>
          <b style="font: 600 17px/16px monospace, sans-serif; color: #747678;">Ticket</b>
        </span>
        <button class="float-right" (click)="useReload()" outline nbButton size="small">
          <nb-icon icon="sync-outline"></nb-icon>
          </button>
        <button class="float-right mr-2" nz-dropdown [nzDropdownMenu]="ticketSearch" [nzTrigger]="'click'" [nzPlacement]="'bottomCenter'" [nzBackdrop]="false" outline nbButton status="primary" size="small">
          <nb-icon icon="search-outline"></nb-icon>
          </button>
        <button *ngIf="state.canAssign" class="float-right mr-2" nz-dropdown [nzDropdownMenu]="assigneeSearch" [nzTrigger]="'click'" [nzBackdrop]="false" [nzPlacement]="'bottomCenter'" outline nbButton status="info" size="small">
          <nb-icon icon="people-outline"></nb-icon>
          </button>
        <nz-dropdown-menu #assigneeSearch="nzDropdownMenu">
            <app-reuse-employee-filter [selectedEmployees]="state.search.assignees" class="display-block" style="margin-left: 1.75rem;" (useSearch)="state.search.assignees = $event; useFilter()"></app-reuse-employee-filter>
        </nz-dropdown-menu>
        <nz-dropdown-menu #ticketSearch="nzDropdownMenu">
            <app-ticket-search class="display-block" style="margin-left: 1.75rem;" (useSearch)="useSearch($event)" [search]="state.search"></app-ticket-search>
        </nz-dropdown-menu>
    </nb-card-header>
    <nb-card-body>
        <div nz-row class="w-100">
            <div nz-col class="mb-2" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6" *ngFor="let ticket of state.filterArray">
                <app-reuse-ticket-item [ticket]="ticket"></app-reuse-ticket-item>
            </div>
        </div>
    </nb-card-body>
</nb-card>
