<nb-card>
    <nb-card-header style="padding: 0.5rem 1.5rem;">
        <b style="font: 600 17px/16px monospace, sans-serif; color: #747678;">Search</b>
    </nb-card-header>
    <nb-card-body>
        <nb-form-field class="float-left mb-2 w-100">
            <nb-icon nbSuffix icon="phone-outline"></nb-icon>
            <input nz-dropdown [nzDropdownMenu]="customerSelect" [nzPlacement]="'bottomCenter'" [nzBackdrop]="false" [nzTrigger]="'click'" class="border-radius-0" [value]="search.customer?.fullname" [style.height]="'40px'" fullWidth placeholder="Select customer"
                nbInput (input)="select.useSearch($event.target.value)" />
            <nb-icon *ngIf="search.customer" nbSuffix status="danger" (click)="search.customer = undefined; useSearch.emit(search)" icon="close-circle-outline"></nb-icon>
        </nb-form-field>
        <nz-dropdown-menu #customerSelect="nzDropdownMenu">
            <app-reuse-customer-select #select [selected]="search.customer" (useSelect)="search.customer = $event; useSearch.emit(search)"></app-reuse-customer-select>
        </nz-dropdown-menu>
        <nb-form-field class="float-left mb-2 w-100">
            <input class="border-radius-0" [(ngModel)]="search.name" [style.height]="'40px'" fullWidth placeholder="Search by name" nbInput (ngModelChange)="useSearch.emit(search)" />
            <nb-icon nbSuffix icon="search-outline"></nb-icon>
        </nb-form-field>
        <nb-form-field class="float-left mb-2 w-100">
            <nb-icon nbSuffix icon="clock-outline"></nb-icon>
            <input readonly class="border-radius-0" [(ngModel)]="search.range" (ngModelChange)="useSearch.emit(search)" [style.height]="'40px'" fullWidth placeholder="Start Time - End Time" nbInput [nbDatepicker]="formpicker" />
            <nb-icon *ngIf="search.range" nbSuffix status="danger" (click)="search.range = undefined; useSearch.emit(search)" icon="close-circle-outline"></nb-icon>
            <nb-rangepicker #formpicker format="yyyy-MM-dd"></nb-rangepicker>
        </nb-form-field>
        <nb-form-field class="float-left mb-2 w-100" style="max-width:
  100%;">
            <nb-select [style.height]="'40px'" [(ngModel)]="search.status" fullWidth placeholder="Select state" (ngModelChange)="useSearch.emit(search)">
                <nb-option value="">All</nb-option>
                <nb-option value="processing">PROCESSING</nb-option>
                <nb-option value="won">WON</nb-option>
                <nb-option value="lost">LOST</nb-option>
            </nb-select>
        </nb-form-field>
    </nb-card-body>
</nb-card>