<nb-card class="w-per-95 m-auto">
    <nb-card-header>
        <nb-checkbox (checkedChange)="control.setValue($event); useItemCheck.emit()" class="float-left display-flex align-items-center" style="height: 2rem;"></nb-checkbox>
        <button class="float-right ml-1" (click)="show = !show" outline nbButton size="small">
      <nb-icon [icon]="show ? 'arrow-down'  : 'arrow-left' + '-outline'"></nb-icon>
    </button>
        <div class="position-absolute display-flex justify-content-center align-items-centerh-100" style="top: 0; left: 4rem; right: 4rem; width: calc(100% - 8rem)">
            <img *ngIf="employee.avatar" [src]="employee.avatar" style="border-radius: 50%; border: 1px solid #e5e5e5; width: 3.5rem; height: 3.5rem;" />
            <div *ngIf="!employee.avatar" class="display-flex justify-content-center align-items-center" style="border-radius: 50%; height: 3.5rem; width: 3.5rem; border: 1px solid #e5e5e5">
                <b>{{ employee.fullname | key }}</b>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body *ngIf="show">
        <b><nb-icon icon="code-outline"></nb-icon> {{employee.code}} (Code)</b><br>
        <b><nb-icon icon="person-outline"></nb-icon> {{employee.fullname}} (Fullname)</b><br>
        <b><nb-icon icon="email-outline"></nb-icon> {{employee.email}} (Email)</b><br>
        <b><nb-icon icon="phone-outline"></nb-icon> {{employee.phone}} (Phone)</b><br>
        <b><nb-icon icon="pin-outline"></nb-icon> {{useRenderRole()}} (Role)</b><br>
    </nb-card-body>
    <nb-card-footer *ngIf="show">
        <button (click)="useRemove.emit()" class="float-right ml-1" size="small" outline nbButton status="danger">
<nb-icon icon="trash-2-outline"></nb-icon>
</button>
        <button (click)="usePhone()" class="float-left mr-1" size="small" outline nbButton status="success">
  <nb-icon icon="phone-outline"></nb-icon>
  </button>
        <button (click)="useMail()" class="float-left mr-1" size="small" outline shape="round" nbButton status="danger">
    <nb-icon icon="email-outline"></nb-icon>
    </button>
        <button (click)="useView()" class="float-left" size="small" outline shape="round" nbButton status="info">
<nb-icon icon="eye-outline"></nb-icon>
</button>
        <button (click)="useEdit()" class="float-right" size="small" outline shape="round" nbButton status="info">
<nb-icon icon="edit-2-outline"></nb-icon>
</button>
    </nb-card-footer>
</nb-card>