.log {
    width: 100%;
    min-height: 4rem;
    background: #ece5e5;
    border-radius: 5px;
    position: relative;
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 0 1rem 0 1rem;
    .content {
        float: left;
        padding: 0.5rem;
        width: 100%;
        cursor: pointer;
        p {
            margin: 0;
            font: 400 13px/16px monospace, sans-serif;
            color: #747678;
        }
    }
    .time {
        float: right;
        padding: 0 0.5rem 0 0.5rem;
        width: 100%;
        span {
            display: inline-block;
            font: 400 13px/16px monospace, sans-serif;
            color: #747678;
        }
    }
}