<nb-card>
    <nb-card-header>
        <div class="update-modal-header">
            <span>Update department</span>
            <button nbButton size="small" style="float:right" shape="round" status="danger"><nb-icon icon="close" (click)="useClose.emit()"></nb-icon></button>
            <button [disabled]="form.invalid" nbButton size="small" style="float:right; margin-right: 0.5rem;" shape="round" status="success" (click)="useSubmit()"><nb-icon icon="checkmark"></nb-icon></button>
        </div>
    </nb-card-header>
    <nb-card-body style="max-height: 90vh;">
        <nz-spin nzTip="Loading..." [nzSpinning]="load">
            <div class="update-modal-body">
                <div nz-row style="width: 100%" [formGroup]="form">
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem;">
                            <nb-icon [class]="(form.get('name').dirty || form.get('name').touched) && form.get('name').invalid ? 'text-danger' : 'text-info'" nbPrefix icon="smiling-face-outline"></nb-icon>
                            <input type="text" nbInput fullWidth [formControl]="form.get('name')" [status]="(form.get('name').dirty || form.get('name').touched) && form.get('name').invalid ? 'danger' : 'info'" status="info" placeholder="Fill department name" />
                            <nb-icon status="danger" nbSuffix icon="sun-outline"></nb-icon>
                        </nb-form-field>
                        <span class="text-danger" style="display: block; margin-bottom: 0.5rem; font-weight: 900;" *ngIf="(form.get('name').dirty || form.get('name').touched) && form.get('name').invalid">
                          Name must be required
                        </span>
                    </div>
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem;">
                            <nb-icon style="position: absolute; top: 0.5rem;" class="text-info" nbPrefix icon="edit-2-outline"></nb-icon>
                            <textarea rows="5" nbInput fullWidth [formControl]="form.get('description')" status="info" placeholder="Fill department description"></textarea>
                        </nb-form-field>
                    </div>
                    <div nz-col [nzSpan]="24" style="margin-bottom: 0.8rem; max-width: 100% !important;">
                        <nb-accordion style="width: 100%;">
                            <nb-accordion-item [expanded]="true">
                                <nb-accordion-item-header>
                                    <nb-icon icon="headphones-outline" style="margin-right: 1rem;"></nb-icon>
                                    <span class="text-info">{{form.get('manager').get('accountId').value ? useShortname(useInformation(form.get('manager').get('accountId').value).fullname) : 'Leader'}}</span>
                                </nb-accordion-item-header>
                                <nb-accordion-item-body [formGroup]="form.get('manager')">
                                    <nz-select *ngIf="!form.get('manager').get('accountId').value" style="width: 100%;" [nzNotFoundContent]="''" fullWidth nzPlaceHolder="Select Leader" [formControl]="form.get('manager').get('accountId')">
                                        <nz-option *ngFor="let manager of managers" [nzLabel]="manager.fullname" [nzValue]="manager.id"></nz-option>
                                    </nz-select>
                                    <nb-form-field *ngIf="form.get('manager').get('accountId').value">
                                        <input type="text" [value]="useInformation(form.get('manager').get('accountId').value).fullname" nbInput fullWidth status="info" disabled />
                                        <nb-icon class="text-danger" nbSuffix icon="trash-2-outline" (click)="form.get('manager').get('accountId').setValue(undefined)"></nb-icon>
                                    </nb-form-field>
                                    <textarea style="margin-top: 0.5rem;" *ngIf="form.get('manager').get('accountId').value" rows="5" nbInput fullWidth [formControl]="form.get('manager').get('description')" status="info" placeholder="Fill leader role description"></textarea>
                                </nb-accordion-item-body>
                            </nb-accordion-item>
                            <nb-accordion-item *ngFor="let employee of form.get('employees')['controls']; let i = index">
                                <nb-accordion-item-header>
                                    <nb-icon icon="mic-outline" style="margin-right: 1rem;"></nb-icon>
                                    <span>{{useShortname(useInformation(employee.get('accountId').value).fullname)}}</span>
                                </nb-accordion-item-header>
                                <nb-accordion-item-body [formGroup]="employee">
                                    <nb-form-field>
                                        <input type="text" [value]="useInformation(employee.get('accountId').value).fullname" nbInput fullWidth status="info" disabled />
                                        <nb-icon class="text-danger" nbSuffix icon="trash-2-outline" (click)="useRemoveEmployee(i)"></nb-icon>
                                    </nb-form-field>
                                    <textarea style="margin-top: 0.5rem;" rows="5" nbInput fullWidth [formControl]="employee.get('description')" status="info" placeholder="Fill employee role description"></textarea>
                                </nb-accordion-item-body>
                            </nb-accordion-item>
                        </nb-accordion>
                        <nz-select *ngIf="employees.length > 0" style="width: 100%; margin-top: 0.5rem;" [nzNotFoundContent]="''" nzPlaceHolder="Choose new Employee" [formControl]="model" (ngModelChange)="useAddEmployee($event)">
                            <nz-option *ngFor="let employee of employees" [nzLabel]="employee.fullname" [nzValue]="employee.id"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
        </nz-spin>
    </nb-card-body>
</nb-card>