<nb-card class="w-100 position-relative">
    <ngx-spinner [name]="'deal-stage'" bdColor="#e5e5e5" [style.opacity]="0.8" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
    <nb-card-header style="padding: 1rem 1rem; height: 4rem;">
        <span class="h-100 display-flex align-items-center float-left">
<b>Stage ({{deal.stage.name}})</b>
</span>
        <button class="float-right ml-1" (click)="show = !show" outline nbButton size="small">
<nb-icon [icon]="show ? 'arrow-down'  : 'arrow-left' + '-outline'"></nb-icon>
</button>
    </nb-card-header>
    <nb-card-body *ngIf="show">
        <nb-form-field style="width: 100%; margin-bottom: 1rem">
            <nb-icon icon="browser-outline" nbPrefix></nb-icon>
            <input fullWidth nz-dropdown [nzDropdownMenu]="pipelineRef" [value]="selectedPipeline?.name" [nzPlacement]="'bottomCenter'" [nzBackdrop]="false" [nzTrigger]="'click'" placeholder="Select process" readonly nbInput size="small" *ngIf="showChange" />
            <input fullWidth nz-dropdown [value]="selectedPipeline?.name" placeholder="Select process" readonly nbInput size="small" *ngIf="!showChange" />
            <nb-icon *ngIf="showChange" icon="arrow-down" nbSuffix></nb-icon>
        </nb-form-field>
        <nz-dropdown-menu #pipelineRef="nzDropdownMenu">
            <app-pipeline-select [model]="selectedPipeline" (modelChange)="useSelectPipeline($event)"></app-pipeline-select>
        </nz-dropdown-menu>
        <div *ngIf="selectedPipeline" class="stages">
            <label class="stage" (click)="selectedStage = showChange ? stage : selectedStage" [class.selected]="
        selectedStage &&
        stage.position <= selectedStage.position
      " *ngFor="let stage of selectedPipeline.stages; let i = index" [nbTooltip]="stage.name" [nbTooltipPlacement]="'bottom'"></label>
        </div>
    </nb-card-body>
    <nb-card-footer *ngIf="show && canUpdate && deal.status === 'processing'">
        <button *ngIf="!showChange" (click)="showChange = true" class="float-right" size="small" outline nbButton status="info">
      Change
    </button>
        <button *ngIf="showChange" (click)="showChange = false; selectedStage = deal.stage" class="float-right ml-1" size="small" outline nbButton status="basic">
      Cancel
    </button>
        <button *ngIf="showChange" (click)="useChange(selectedStage)" [disabled]="!selectedStage || deal.stage?.id === selectedStage?.id" class="float-right" size="small" outline nbButton status="info">
      Submit Change
    </button>
    </nb-card-footer>
</nb-card>
