.groups {
    width: 100%;
    .group {
        margin-bottom: 0.5rem;
        border-radius: 5px;
        min-height: 4rem;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        .action {
            position: absolute;
            top: 1.5rem;
            right: 1rem;
        }
        .name {
            position: absolute;
            top: 1.5rem;
            left: 1rem;
            font-size: 1rem;
        }
        .content {
            width: 100%;
            margin-top: 4rem;
            min-height: 30rem;
            align-content: baseline;
            padding: 1rem;
        }
        &.selected {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
    }
}

.update-modal-body,
.update-modal-header {
    width: calc(50vw - 16rem + 5px);
}

.update-modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1309px) {
    .update-modal-body,
    .update-modal-header {
        width: calc(70vw);
    }
}
