<nb-form-field *ngIf="control" style="width: 98%; margin:auto; max-width: 100%;">
    <label [class.text-danger]="(control.touched || control.dirty) && control.invalid" *ngIf="item.label != null && item.label !== ''">{{item.label}}</label>
    <nb-icon [class.text-danger]="(control.touched || control.dirty) && control.invalid" *ngIf="item.tooltip != null && item.tooltip !== ''" nbSuffix icon="info-outline" [nbTooltip]="item.tooltip"></nb-icon>
    <input [formControl]="control" name="item.name" id="item.id" fullWidth [type]="item.subType" [status]="(control.touched || control.dirty) && control.invalid ? 'danger' : 'info'" nbInput [placeholder]="item.placeHolder">
</nb-form-field>
<nb-form-field *ngIf="!control" style="width: 98%; margin:auto; max-width: 100%;">
    <label *ngIf="item.label != null && item.label !== ''">{{item.label}}</label>
    <nb-icon *ngIf="item.tooltip != null && item.tooltip !== ''" nbSuffix icon="info-outline" [nbTooltip]="item.tooltip"></nb-icon>
    <input name="item.name" id="item.id" fullWidth [type]="item.subType" status="info" nbInput [placeholder]="item.placeHolder">
</nb-form-field>
