<div class="datatable-item">
    <div class="select">
        <nb-checkbox *ngIf="!isHeader" (checkedChange)="control.setValue($event); useItemCheck.emit()" [checked]="control.value"></nb-checkbox>
        <nb-checkbox *ngIf="isHeader" (checkedChange)="control.setValue($event ? 'on' : 'off'); useItemCheck.emit()" [checked]="control.value === 'on'" [indeterminate]="control.value === 'indeterminate'"></nb-checkbox>
        <div class="field">
            <nb-form-field>
                <input nbInput fullWidth readonly />
            </nb-form-field>
        </div>
    </div>
    <div class="field large" (click)="useSort('code')">
        <nb-form-field class="w-100">
            <input nbInput fullWidth readOnly [value]="isHeader ? 'Code' : product.code" placeHolder="Code" />
            <nb-icon *ngIf="isHeader && sort.key === 'code'" nbSuffix [icon]="'arrow-' + sort.stage + '-outline'"></nb-icon>
            <nb-icon *ngIf="!isHeader" (click)="useCopy(product.code)" nbSuffix [icon]="'clipboard-outline'"></nb-icon>
        </nb-form-field>
    </div>
    <div class="field b-gaint" (click)="useSort('name')">
        <nb-form-field class="w-100">
            <input nbInput fullWidth readOnly [value]="isHeader ? 'Name' : product.name" placeHolder="Name" />
            <nb-icon *ngIf="isHeader && sort.key === 'name'" nbSuffix [icon]="'arrow-' + sort.stage + '-outline'"></nb-icon>
            <nb-icon *ngIf="!isHeader" (click)="useCopy(product.name)" nbSuffix [icon]="'clipboard-outline'"></nb-icon>
        </nb-form-field>
    </div>
    <div class="field large" (click)="useSort('price')">
        <nb-form-field class="w-100">
            <input nbInput fullWidth readOnly [value]="isHeader ? 'Price' : product.price | separator" placeHolder="Price" />
            <nb-icon *ngIf="isHeader && sort.key === 'price'" nbSuffix [icon]="'arrow-' + sort.stage + '-outline'"></nb-icon>
            <nb-icon *ngIf="!isHeader" (click)="useCopy(product.price)" nbSuffix [icon]="'clipboard-outline'"></nb-icon>
        </nb-form-field>
    </div>
    <div class="field large" (click)="useSort('category')">
        <nb-form-field class="w-100">
            <input nbInput fullWidth readOnly [value]="isHeader ? 'Category' : product.category.name" placeHolder="Category" />
            <nb-icon *ngIf="isHeader && sort.key === 'category'" nbSuffix [icon]="'arrow-' + sort.stage + '-outline'"></nb-icon>
            <nb-icon *ngIf="!isHeader" (click)="useCopy(product.category.name)" nbSuffix [icon]="'clipboard-outline'"></nb-icon>
        </nb-form-field>
    </div>
    <div class="action">
        <button [disabled]="!canUpdate" (click)="useEdit()" *ngIf="!isHeader" nbButton status="info" outline size="small">
    <nb-icon [icon]="'edit-2-outline'"></nb-icon>
</button>
        <div class="field">
            <nb-form-field>
                <input nbInput fullWidth readonly />
            </nb-form-field>
        </div>
    </div>
    <div class="action">
        <button (click)="useView()" *ngIf="!isHeader" nbButton status="info" outline size="small">
    <nb-icon [icon]="'eye-outline'"></nb-icon>
</button>
        <div class="field">
            <nb-form-field>
                <input nbInput fullWidth readonly />
            </nb-form-field>
        </div>
    </div>
    <div class="action">
        <button [disabled]="!canRemove" (click)="useRemove.emit()" *ngIf="!isHeader" nbButton status="danger" outline size="small">
  <nb-icon [icon]="'trash-2-outline'"></nb-icon>
</button>
        <div class="field">
            <nb-form-field>
                <input nbInput fullWidth readonly />
            </nb-form-field>
        </div>
    </div>
</div>
