nb-card {
    background: #efefef;
    nb-card-body {
        max-height: 15rem;
        min-height: 15rem;
        nb-form-field {
            * {
                cursor: pointer;
            }
        }
    }
}