.side-bar-menu {
    position: fixed;
    height: 100vh;
    max-height: calc(100vh - 4rem);
    background: white;
    top: 64px;
    left: 0;
    z-index: 3;
    overflow-y: auto;
    overflow-x: hidden;
    transition: transform 0.2s ease-in-out;
    padding-top: 38px;
    box-shadow: 6px 0 5px rgba(50, 50, 93, 0.25);
    width: 18rem;
    transform: translateX(-18rem);
    &:hover {
        transform: translateY(0);
        .menu-child {
            .menu-item {
                .menu-item-icon {
                    left: 2rem;
                }
                .menu-group-icon {
                    left: 2rem;
                }
                .menu-item-content {
                    left: 5rem;
                }
                .menu-group-content {
                    left: 5rem;
                }
                .menu-group-down {
                    display: block;
                }
            }
            .menu-group {
                .menu-extra-icon {
                    left: 2.5rem;
                }
            }
        }
    }
    &.stick {
        transform: translateY(0);
        .menu-child {
            .menu-item {
                .menu-item-icon {
                    left: 2rem;
                }
                .menu-group-icon {
                    left: 2rem;
                }
                .menu-item-content {
                    left: 5rem;
                }
                .menu-group-content {
                    left: 5rem;
                }
                .menu-group-down {
                    display: block;
                }
            }
            .menu-group {
                .menu-extra-icon {
                    left: 2.5rem;
                }
            }
        }
    }
    .menu-child {
        cursor: pointer;
        height: 3rem;
        min-height: 3rem;
        width: 18rem;
        position: relative;
        border-bottom: 1px solid #edf1f7;
        &:hover {
            .menu-item {
                .menu-item-icon {
                    nb-icon {
                        color: #598bff;
                        font-weight: 900;
                    }
                }
                .menu-group-icon {
                    nb-icon {
                        color: #598bff;
                        font-weight: 900;
                    }
                }
                .menu-item-content {
                    color: #598bff;
                    font-weight: 900;
                }
                .menu-group-content {
                    color: #598bff;
                    font-weight: 900;
                }
                .menu-group-down {
                    color: #598bff;
                    font-weight: 900;
                }
            }
        }
        &.choosen {
            .menu-item {
                .menu-item-icon {
                    nb-icon {
                        color: #598bff;
                        font-weight: 900;
                    }
                }
                .menu-group-icon {
                    nb-icon {
                        color: #598bff;
                        font-weight: 900;
                    }
                }
                .menu-item-content {
                    color: #598bff;
                    font-weight: 900;
                }
                .menu-group-content {
                    color: #598bff;
                    font-weight: 900;
                }
                .menu-group-down {
                    color: #598bff;
                    font-weight: 900;
                }
            }
            .menu-group {
                display: block;
            }
        }
        .menu-item {
            cursor: pointer;
            height: 3rem;
            min-height: 3rem;
            width: 18rem;
            .menu-item-icon {
                position: absolute;
                nb-icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }
                top: 0.75rem;
                right: 2.25rem;
            }
            .menu-group-icon {
                position: absolute;
                nb-icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }
                top: 0.75rem;
                right: 2.25rem;
            }
            .menu-item-content {
                position: absolute;
                font-family: Open Sans, sans-serif;
                font-size: 0.9rem;
                font-weight: 600;
                top: 0.9rem;
                left: 2rem;
            }
            .menu-group-content {
                position: absolute;
                font-family: Open Sans, sans-serif;
                font-size: 0.9rem;
                font-weight: 600;
                top: 0.9rem;
                left: 2rem;
            }
            .menu-group-down {
                position: absolute;
                nb-icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }
                top: 0.75rem;
                right: 1.75rem;
                display: none;
            }
        }
        .menu-group {
            display: none;
            position: absolute;
            .menu-extra {
                cursor: pointer;
                height: 3rem;
                width: 18rem;
                position: relative;
                &:hover {
                    .menu-extra-icon {
                        nb-icon {
                            color: #598bff;
                            font-weight: 900;
                        }
                    }
                    .menu-extra-content {
                        color: #598bff;
                        font-weight: 900;
                    }
                }
                &.choosen {
                    .menu-extra-icon {
                        nb-icon {
                            color: #598bff;
                            font-weight: 900;
                        }
                    }
                    .menu-extra-content {
                        color: #598bff;
                        font-weight: 900;
                    }
                }
                .menu-extra-icon {
                    position: absolute;
                    nb-icon {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                    top: 0.75rem;
                    right: 2.25rem;
                }
                .menu-extra-content {
                    position: absolute;
                    font-family: Open Sans, sans-serif;
                    font-size: 0.9rem;
                    font-weight: 600;
                    top: 0.9rem;
                    left: 5.5rem;
                }
            }
        }
    }
    &.stick {
        transform: translateX(0);
    }
}

@media (min-width: 1010px) {
    .side-bar-menu {
        transform: translateX(-12rem);
    }
}
