<div class="side-bar-menu" [class.stick]="stick">
    <!-- <div nz-row class="side-bar-menu-item" *ngFor="let item of categories" [class.stick]="active === item.value" (click)="useLinkPage(item.value)">
        <div nz-col class="side-bar-menu-item-data" [nzSpan]="16">
            {{item.label}}
        </div>
        <div nz-col class="side-bar-menu-item-icon" [nzSpan]="8">
            <i nz-icon nzType="{{item.icon}}" nzTheme="outline"></i>
        </div>
    </div> -->
    <div *ngFor="let item of categories; let index = index" [class.choosen]="choosen(item)" [ngStyle]="style(item)" class="menu-child">
        <div class="menu-item" (click)="useLinkPage(item, index)">
            <div [class.menu-item-icon]="item.type === 'item'" [class.menu-group-icon]="item.type === 'group'">
                <nb-icon [icon]="item.icon + '-outline'" status="basic"></nb-icon>
            </div>
            <div [class.menu-item-content]="item.type === 'item'" [class.menu-group-content]="item.type === 'group'">
                <span>{{ item.label }}</span>
            </div>
            <div class="menu-group-down" *ngIf="item.type === 'group'">
                <nb-icon [icon]="
          (active === item.value || item.values.indexOf(active) > -1) && item.selected ? 'arrow-down-outline' : 'arrow-left-outline'
        " status="basic"></nb-icon>
            </div>
        </div>
        <div class="menu-group">
            <div *ngFor="let ex of item.items; let i = index" [class.choosen]="active === ex.value" class="menu-extra" (click)="useLinkPage(ex)">
                <div class="menu-extra-icon">
                    <nb-icon [icon]="ex.icon + '-outline'" status="basic"></nb-icon>
                </div>
                <div class="menu-extra-content">
                    <span>{{ ex.label }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
