<div nz-menu class="deal-select">
    <div [style.height]="state.status === 'finding' ? '96px' : '0'" class="w-100" [nbSpinner]="true" nbSpinnerSize="giant"></div>
    <a nz-menu-item class="item" [class.selected]="deal.id === selected?.id" *ngFor="let deal of state.filterArray" (click)="useSelect.emit(deal); this.selected = deal">
        <nb-icon icon="donate" pack="font-awesome" style="margin-right: 0.7rem;"></nb-icon>
        <pre>{{deal.title}}</pre>
    </a>
    <a nz-menu-item class="item" *ngIf="state.filterArray.length === 0 && state.status !== 'finding'" (click)="useAdd.emit(state.search); useSearch('')">
        <nb-icon icon="plus" style="margin-right: 1rem;"></nb-icon>
        <pre>{{state.search === '' ? 'Add new deal' : 'Add ' + state.search + ' as new deal'}}</pre>
    </a>
</div>