.crm-global-add-menu {
    width: 230px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    top: -5px;
    padding: 6px 0 6px 0;
    z-index: 100000;
    a.crm-global-add-menu-item {
        width: 100%;
        height: 48px;
        padding: 24px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #747678;
        &:hover {
            background: #e5e5e5;
            ;
        }
        nb-icon {
            margin-right: 1rem;
            font-size: 24px;
        }
        span {
            font-size: 18px;
            text-shadow: 0 0 black;
        }
        span.crm-global-add-menu-item-tag {
            display: flex;
            padding: 6px;
            background: #d7d1d1;
            height: 24px;
            justify-content: center;
            min-width: 24px;
            right: 24px;
            position: absolute;
            align-items: center;
            border-radius: 5px;
            color: black;
        }
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    animation-name: fadeInDown;
    --animate-duration: 800ms;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

.fadeOutUp {
    animation-name: fadeOutUp;
    --animate-duration: 800ms;
}