<div class="w-100 h-100 display-flex justify-content-center">
    <button status="info" (click)="useMin()" style="height: 2.5rem; width: 2.5rem;" shape="round" nbButton size="small">
<nb-icon icon="arrowhead-left-outline"></nb-icon>
</button>
    <button status="info" class="ml-2" (click)="useActive(active.value - 1)" shape="round" style="height: 2.5rem; width: 2.5rem;" nbButton size="small">
<nb-icon icon="arrow-ios-back-outline"></nb-icon>
</button>
    <input status="info" shape="round" class="mx-2" #input (keyup)="useActive($event.target.value)" [formControl]="active" style="height: 2.5rem; width: 10rem;text-align: center;" [suffix]="max ? ('/' + max) : '/1'" mask="0000" nbInput size="small" />
    <button shape="round" status="info" class="mr-2" (click)="useActive(active.value + 1)" style="height: 2.5rem; width: 2.5rem;" nbButton size="small">
<nb-icon icon="arrow-ios-forward-outline"></nb-icon>
</button>
    <button shape="round" status="info" (click)="useMax()" style="height: 2.5rem; width: 2.5rem;" nbButton size="small">
<nb-icon icon="arrowhead-right-outline"></nb-icon>
</button>
</div>
