<div nz-menu class="category-select">
    <div [style.height]="state.status === 'finding' ? '96px' : '0'" class="w-100" [nbSpinner]="true"></div>
    <a nz-menu-item class="item" [class.selected]="category.id === selected?.id" *ngFor="let category of state.filterArray" (click)="useSelect.emit(category); this.selected = category">
        <nb-icon icon="compass-outline" style="margin-right: 0.7rem;"></nb-icon>
        <pre>{{category.name}}</pre>
    </a>
    <a nz-menu-item class="item" *ngIf="state.filterArray.length === 0 && state.status !== 'finding'" (click)="usePlus()">
        <nb-icon icon="plus" style="margin-right: 1rem;"></nb-icon>
        <pre>{{state.search === '' ? 'Add new category' : 'Add \'' + state.search + '\' as new category'}}</pre>
    </a>
</div>