.list {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    .content {
        height: 100%;
        width: calc(1010px - 6rem);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 4.5rem 0 4.5rem 0;
        .data {
            width: 100%;
            height: 100%;
            align-content: baseline;
            .item {
                padding: 0 0.5rem 0 0.5rem;
                margin-bottom: 1rem;
                position: relative;
                .top {
                    background: antiquewhite;
                    border-radius: 25px 25px 0 0;
                    width: 100%;
                    height: 5rem;
                    position: relative;
                    .right {
                        position: absolute;
                        top: 1.5rem;
                        right: 1.5rem;
                    }
                    .image {
                        width: 3.5rem;
                        height: 3.5rem;
                        border-radius: 50%;
                        position: absolute;
                        top: 0.25rem;
                        left: 1.5rem;
                        background: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 90%;
                            height: 90%;
                            border-radius: 50%;
                        }
                    }
                    .name {
                        position: absolute;
                        bottom: 0;
                        width: 6.5rem;
                        text-align: center;
                        overflow: hidden;
                        font-family: Open Sans, sans-serif;
                        font-size: 0.9rem;
                        font-weight: 600;
                    }
                }
                .body {
                    background: white;
                    width: 100%;
                    // height: 5rem;
                    height: 1rem;
                }
                .bottom {
                    border-radius: 0 0 25px 25px;
                    background: white;
                    width: 100%;
                    height: 3rem;
                    .action {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.header {
    min-height: 3.5rem;
    position: fixed;
    height: 3.5;
    width: calc(100% - 6rem + 5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    right: 0;
    .content {
        height: 3.5rem;
        background: white;
        border-radius: 5px;
        width: calc(1010px - 7rem);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        position: relative;
        .add {
            position: absolute;
            top: 0.75rem;
            left: 0.5rem;
        }
        .action {
            position: absolute;
            right: 0;
            display: flex;
            justify-content: flex-end;
            align-self: center;
            top: 0.75rem;
        }
        .search {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 3;
        }
    }
}

.footer {
    min-height: 3.5rem;
    position: fixed;
    height: 3.5rem;
    width: calc(100% - 6rem + 5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    right: 0;
    bottom: 0;
    .content {
        height: 3.5rem;
        background: white;
        border-radius: 5px;
        width: calc(1010px - 7rem);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        position: relative;
        .select {
            position: absolute;
            right: 0;
            display: flex;
            justify-content: flex-end;
            align-self: center;
            top: 0.75rem;
        }
        .pagination {
            position: absolute;
            display: flex;
            justify-content: flex-end;
            align-self: center;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }
}

@media (max-width: 1009px) {
    .list {
        .content {
            width: 100vw;
            .data {
                .item {
                    padding: 0 2rem 0 2rem;
                }
            }
        }
    }
    .header {
        width: calc(100% - 5px);
        left: 0;
        .content {
            width: calc(100% - 4rem + 5px);
        }
    }
    .footer {
        width: calc(100% - 5px);
        left: 0;
        .content {
            width: calc(100% - 4rem + 5px);
        }
    }
}
