<nb-card class="position-relative">
    <ngx-spinner [name]="'employee-select'" bdColor="#e5e5e5" [style.opacity]="0.8" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
    <nb-card-header class="p-0">
        <nb-form-field class="w-100">
            <input nbInput fullWidth placeholder="Search" [(ngModel)]="state.search" (keyup)="useSearch()" />
            <nb-icon icon="search-outline" nbSuffix></nb-icon>
        </nb-form-field>
    </nb-card-header>
    <nb-card-body>
        <nb-card *ngIf="showNone" class="w-100 mb-2 bg-white">
            <nb-card-header class="p-0">
                <nb-form-field class="w-100">
                    <nb-icon icon="person-outline" nbPrefix></nb-icon>
                    <input (click)="useSelectItem({id: 'None'})" [status]="control?.value?.id === 'None' || model?.id === 'None' ? 'success' : 'info'" [value]="'None'" nbInput fullWidth readonly />
                </nb-form-field>
            </nb-card-header>
        </nb-card>
        <nb-card class="w-100 mb-2 bg-white" *ngFor="let item of state.filterArray">
            <nb-card-header class="p-0">
                <nb-form-field class="w-100">
                    <nb-icon icon="person-outline" nbPrefix></nb-icon>
                    <input (click)="useSelectItem(item)" [status]="control?.value?.id === item.id || model?.id === item.id ? 'success' : 'info'" [value]="item.fullname + (state.you?.id === item.id ? ' (You)' : '')" nbInput fullWidth readonly />
                </nb-form-field>
            </nb-card-header>
            <nb-card-footer style="height: 3rem;" *ngIf="item['canGetAssignDeal']">
                <span class="float-left h-100 display-flex align-items-center">
                <b class="text-success mr-2">Won: {{item['won'] | separator}}</b>
                <br>
                <b class="text-danger mx-2">Lost: {{item['lost'] | separator}}</b>
                <br>
                <b class="text-danger mx-2">Expried: {{item['expired'] | separator}}</b>
                <br>
                <b class="text-primary mx-2">Processing: {{item['processing'] | separator}}</b>
                <br>
                <b class="text-default ml-2">Total: {{item.deals.length | separator}}</b>
              </span>
            </nb-card-footer>
        </nb-card>
        <div class="w-100 h-100 display-flex justify-content-center align-items-center" *ngIf="state.filterArray.length === 0">
            <img height="auto" width="17rem" src="assets/empty.png" />
        </div>
    </nb-card-body>
</nb-card>
