<nb-card>
    <nb-card-header>
        <div class="update-modal-header">
            <span>Update task</span>
            <button nbButton size="small" style="float:right" shape="round" status="danger"><nb-icon icon="close" (click)="useClose.emit()"></nb-icon></button>
            <button [disabled]="form.invalid" nbButton size="small" style="float:right; margin-right: 0.5rem;" shape="round" status="success" (click)="useSubmit()"><nb-icon icon="checkmark"></nb-icon></button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <nz-spin nzTip="Loading..." [nzSpinning]="load">
            <div class="update-modal-body">
                <div nz-row style="width: 100%" [formGroup]="form">
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem;">
                            <nb-icon [class]="(form.get('name').dirty || form.get('name').touched) && form.get('name').invalid ? 'text-danger' : 'text-info'" nbPrefix icon="smiling-face-outline"></nb-icon>
                            <input type="text" nbInput fullWidth [formControl]="form.get('name')" [status]="(form.get('name').dirty || form.get('name').touched) && form.get('name').invalid ? 'danger' : 'info'" status="info" placeholder="Fill task name" />
                            <nb-icon status="danger" nbSuffix icon="sun-outline"></nb-icon>
                        </nb-form-field>
                        <span class="text-danger" style="display: block; margin-bottom: 0.5rem; font-weight: 900;" *ngIf="(form.get('name').dirty || form.get('name').touched) && form.get('name').invalid">
              Name must be required
            </span>
                    </div>
                    <div nz-col [nzSpan]="24">
                        <nz-select id="asignee" [nzSuffixIcon]="icon" [ngStyle]="{'border': (form.get('assignee').dirty || form.get('assignee').touched) && form.get('assignee').invalid ? '2px solid #dc3545' : '1px solid #0095ff'}" [nzSize]="'large'" nzShowSearch style="width: 100%; margin-bottom: 0.5rem; border-radius: 5px;"
                            [nzNotFoundContent]="''" nzPlaceHolder="Select assignee" [formControl]="form.get('assignee')">
                            <nz-option *ngFor="let member of members" [nzLabel]="member.account.fullname" [nzValue]="member.account.id"></nz-option>
                        </nz-select>
                        <nb-icon style="position: absolute;top: 0.7rem; left: 0.6rem;" [class]="(form.get('assignee').dirty || form.get('assignee').touched) && form.get('assignee').invalid ? 'text-danger' : 'text-info'" nbPrefix icon="briefcase-outline"></nb-icon>
                        <ng-template #icon>
                            <nb-icon style="position: absolute;top: -0.3rem; right: -0.2rem;" [class]="'text-danger'" icon="sun-outline"></nb-icon>
                        </ng-template>
                        <span class="text-danger" style="display: block; margin-bottom: 0.5rem; font-weight: 900;" *ngIf="(form.get('assignee').dirty || form.get('assignee').touched) && form.get('assignee').invalid">
                            Assignee must be required
                      </span>
                    </div>
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem;">
                            <nb-icon [class]="'text-info'" nbPrefix icon="person-outline"></nb-icon>
                            <input readonly type="text" nbInput fullWidth [value]="leader.account?.fullname" [status]="'info'" />
                        </nb-form-field>
                    </div>
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem;">
                            <nb-icon style="position: absolute; top: 0.5rem;" class="text-info" nbPrefix icon="edit-2-outline"></nb-icon>
                            <textarea rows="5" nbInput fullWidth [formControl]="form.get('description')" status="info" placeholder="Fill task description"></textarea>
                        </nb-form-field>
                    </div>
                </div>
            </div>
        </nz-spin>
    </nb-card-body>
</nb-card>
