nb-card {
    background: #edf1f7;
    nb-card-body {
        .menu {
            width: 25rem;
            float: left;
            display: block;
            margin-bottom: 1rem;
        }
        .main {
            width: calc(100% - 25rem);
            float: left;
            display: block;
            height: 100%;
            .content {
                width: 100%;
                max-width: 100%;
                overflow: auto;
                float: left;
                display: block;
            }
            .pagination {
                width: 100%;
                float: left;
                display: block;
            }
            .empty {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media (max-width: 49rem) {
    nb-card {
        background: #edf1f7;
        nb-card-body {
            .menu {
                width: 100%;
            }
            .main {
                width: 100%;
            }
        }
    }
}