nb-card-body {
    padding: 0;
    height: 25rem;
    nb-tabset {
        height: 100%;
        nb-tab {
            max-height: calc(100% - 52px);
            height: calc(100% - 52px);
            padding: 1rem;
            position: relative;
            .empty {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

nb-card-body.dialog {
    padding: 1rem 1.5rem;
}
