.crm-global-add {
    margin-left: 8px;
    &.toggle {
        nb-icon {
            transform: rotate(45deg);
        }
    }
    nb-icon {
        transition: transform .5s ease-in-out;
    }
}

@media(max-width: 789px) {
    .crm-global-add {
        margin-left: 0;
        position: absolute;
        right: 115px;
        top: 8px;
        width: 40px;
        height: 40px;
    }
}
