<div nz-menu class="product-select">
    <div [style.height]="state.status === 'finding' ? '96px' : '0'" class="w-100" [nbSpinner]="true" nbSpinnerSize="giant"></div>
    <a nz-menu-item [class.selected]="product.id === selected?.id" class="item" *ngFor="let product of state.filterArray" (click)="useSelect.emit(product); this.selected = product">
        <nb-icon icon="shopping-bag-outline" style="margin-right: 0.5rem;"></nb-icon>
        <pre>{{product.name | maxLength: 50}}</pre>
    </a>
    <a nz-menu-item class="item" *ngIf="state.filterArray.length === 0 && state.status !== 'finding'" (click)="useAdd.emit(state.search); useSearch('')">
        <nb-icon icon="plus" style="margin-right: 1rem;"></nb-icon>
        <pre>{{state.search === '' ? 'Add new product' : 'Add ' + (state.search | maxLength: 10) + ' as new product'}}</pre>
    </a>
</div>