<div nz-menu class="product-select">
    <div style="height: 48px; width: 100%;" [nbSpinner]="true" *ngIf="stage === 'finding'"></div>
    <a nz-menu-item [class.selected]="product.id === selected?.id" class="item" *ngFor="let product of filterProducts" (click)="useSelect.emit(product); this.selected = product">
        <nb-icon icon="shopping-bag-outline" style="margin-right: 0.5rem;"></nb-icon>
        <pre>{{product.name | maxLength: 50}}</pre>
    </a>
    <a nz-menu-item class="item" *ngIf="filterProducts.length === 0 && stage !== 'finding'" (click)="useAdd.emit(value); useChangeValue('')">
        <nb-icon icon="plus" style="margin-right: 1rem;"></nb-icon>
        <pre>{{value === '' ? 'Add new product' : 'Add ' + (value | maxLength: 10) + ' as new product'}}</pre>
    </a>
</div>