.main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    .content {
        height: 100%;
        width: calc(1010px - 6rem);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 4.5rem 0 4.5rem 0;
        .list {
            width: 100%;
            height: 100%;
            align-content: baseline;
            .item {
                padding: 0 0.5rem 0 0.5rem;
                margin-bottom: 1rem;
                position: relative;
                .box {
                    background: white;
                    border-radius: 5px;
                    width: 100%;
                    height: 3rem;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .name {
                        width: calc(100% - 6rem);
                        font-family: Open Sans, sans-serif;
                        font-size: 0.9rem;
                        font-weight: 600;
                        padding: 0 0.5rem 0 0.5rem;
                    }
                }
                .information {
                    background: white;
                    border-radius: 0 0 5px 5px;
                    width: 100%;
                    height: 10rem;
                    position: relative;
                    .event {
                        position: absolute;
                        left: 1rem;
                        top: 3rem;
                        span {
                            font-family: Open Sans, sans-serif;
                            font-size: 0.9rem;
                            font-weight: 600;
                            margin-right: 1.5rem;
                        }
                    }
                    .activity {
                        position: absolute;
                        left: 1rem;
                        top: 5.5rem;
                        span {
                            font-family: Open Sans, sans-serif;
                            font-size: 0.9rem;
                            font-weight: 600;
                            margin-right: 1.5rem;
                        }
                    }
                    .gateway {
                        position: absolute;
                        left: 1rem;
                        top: 8rem;
                        span {
                            font-family: Open Sans, sans-serif;
                            font-size: 0.9rem;
                            font-weight: 600;
                            margin-right: 1.5rem;
                        }
                    }
                    .instance {
                        font-family: Open Sans, sans-serif;
                        font-size: 0.9rem;
                        font-weight: 600;
                        position: absolute;
                        left: 3.5rem;
                        top: 0.5rem;
                    }
                }
            }
        }
    }
}

.header {
    min-height: 3.5rem;
    position: fixed;
    height: 3.5;
    width: calc(100% - 6rem + 5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    right: 0;
    .content {
        height: 3.5rem;
        background: white;
        border-radius: 5px;
        width: calc(1010px - 7rem);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        position: relative;
        .add {
            position: absolute;
            top: 0.75rem;
            left: 0.5rem;
        }
        .action {
            height: 100%;
            width: 100%;
        }
        .search {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 3;
        }
    }
}

.footer {
    min-height: 3.5rem;
    position: fixed;
    height: 3.5rem;
    width: calc(100% - 6rem + 5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    right: 0;
    bottom: 0;
    .content {
        height: 3.5rem;
        background: white;
        border-radius: 5px;
        width: calc(1010px - 7rem);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        position: relative;
        .select {
            position: absolute;
            right: 0.5rem;
            top: 0;
        }
        .pagination {
            position: absolute;
            display: flex;
            justify-content: flex-end;
            align-self: center;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }
}

@media (max-width: 1009px) {
    .main {
        .content {
            width: 100vw;
            .list {
                .item {
                    padding: 0 2rem 0 2rem;
                }
            }
        }
    }
    .header {
        width: calc(100% - 5px);
        left: 0;
        .content {
            width: calc(100% - 4rem + 5px);
        }
    }
    .footer {
        width: calc(100% - 5px);
        left: 0;
        .content {
            width: calc(100% - 4rem + 5px);
        }
    }
}