<div #header class="header">
    <div #left class="header-left">
        <nb-icon icon="menu-outline" status="basic"></nb-icon>
    </div>
    <div #search class="header-search" [class.focus]="searchFocus">
        <input placeholder="Fill anything to search..." />
        <nb-icon icon="search-outline" status="basic"></nb-icon>
    </div>
    <div #right class="header-right" [nzPlacement]="'bottomRight'" [nzOverlayClassName]="'mt-2'" nz-dropdown [nzDropdownMenu]="dropdown">
        <div class="header-right-name">
            {{name}}</div>
        <div class="header-right-avatar"><img [src]="avatar" /></div>
        <nz-dropdown-menu #dropdown="nzDropdownMenu">
            <app-action-menu [actions]="actions" (useSelectItem)="useAction($event)"></app-action-menu>
        </nz-dropdown-menu>
    </div>
    <div #bell class="header-bell" [class.open]="bellFocus">
        <nb-icon icon="bell-outline" status="basic"></nb-icon>
        <div class="header-bell-badge">99+</div>
    </div>
</div>