<div nz-menu class="crm-deal-item-activity">
    <ngx-spinner [name]="'deal-item-activity'" bdColor="#e5e5e5" [style.opacity]="'0.8'" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
    <div class="main">
        <div nz-menu-item class="activity" *ngFor="let activity of activitys" (click)="useEdit(activity)">
            <div class="icon">
                <nb-icon *ngIf="activity.type === 'email'" icon="email-outline"></nb-icon>
                <nb-icon *ngIf="activity.type === 'call'" icon="phone-outline"></nb-icon>
                <nb-icon *ngIf="activity.type === 'meetting'" icon="people-outline"></nb-icon>
                <nb-icon *ngIf="activity.type === 'task'" icon="clock-outline"></nb-icon>
                <nb-icon *ngIf="activity.type === 'deadline'" icon="flag-outline"></nb-icon>
                <nb-icon *ngIf="activity.type === 'lunch'" icon="utensils" pack="font-awesome"></nb-icon>
            </div>
            <div class="content">
                {{activity.name}}
            </div>
            <div class="time" [class.processing]="activity.status === 'processing'" [class.done]="activity.status === 'done'">
                <span class="text" [class.text-success]="!activity.expired && activity.status === 'processing'" [class.text-danger]="activity.expired && activity.status === 'processing'">{{activity.dateStart | time}}</span>
                <span class="separator">·</span>
                <span class="text">Đặng Khánh Vinh</span>
            </div>
        </div>
    </div>
    <div class="footer">
        <div nz-menu-item class="plus" (click)="usePlus()">
            <nb-icon icon="plus" style="margin-right: 0.5rem;"></nb-icon>
            <b>Schedule an activity</b>
        </div>
    </div>
</div>
