<nb-card>
    <nb-card-header>
        <div class="create-modal-header">
            <span>Create new step</span>
            <button nbButton size="small" style="float:right" shape="round" status="danger"><nb-icon icon="close" (click)="useClose.emit()"></nb-icon></button>
            <button [disabled]="form.invalid" nbButton size="small" style="float:right; margin-right: 0.5rem;" shape="round" status="success" (click)="useSubmit()"><nb-icon icon="checkmark"></nb-icon></button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <nz-spin nzTip="Loading..." [nzSpinning]="load">
            <div class="create-modal-body">
                <div nz-row style="width: 100%" [formGroup]="form">
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem;">
                            <nb-icon [class]="(form.get('name').dirty || form.get('name').touched) && form.get('name').invalid ? 'text-danger' : 'text-info'" nbPrefix icon="smiling-face-outline"></nb-icon>
                            <input type="text" nbInput fullWidth [formControl]="form.get('name')" [status]="(form.get('name').dirty || form.get('name').touched) && form.get('name').invalid ? 'danger' : 'info'" status="info" placeholder="Fill step name" />
                            <nb-icon status="danger" nbSuffix icon="sun-outline"></nb-icon>
                        </nb-form-field>
                        <span class="text-danger" style="display: block; margin-bottom: 0.5rem; font-weight: 900;" *ngIf="(form.get('name').dirty || form.get('name').touched) && form.get('name').invalid">
                Name must be required
              </span>
                    </div>
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem; max-width: 100%;">
                            <nb-icon [class]="(form.get('type').dirty || form.get('type').touched) && form.get('type').invalid ? 'text-danger' : 'text-info'" nbPrefix icon="bookmark-outline"></nb-icon>
                            <nb-select placeholder="Select Type" fullWidth [formControl]="form.get('type')" [status]="(form.get('type').dirty || form.get('type').touched) && form.get('type').invalid ? 'danger' : 'info'">
                                <nb-option *ngFor="let type of types" [value]="type.name">{{type.label}}</nb-option>
                            </nb-select>
                            <nb-icon status="danger" nbSuffix icon="sun-outline"></nb-icon>
                        </nb-form-field>
                        <span class="text-danger" style="display: block; margin-bottom: 0.5rem; font-weight: 900;" *ngIf="(form.get('type').dirty || form.get('type').touched) && form.get('type').invalid">
                    Type must be required
                  </span>
                    </div>
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem; max-width: 100%;">
                            <nb-icon [class]="(form.get('subType').dirty || form.get('subType').touched) && form.get('subType').invalid ? 'text-danger' : 'text-info'" nbPrefix icon="award-outline"></nb-icon>
                            <nb-select [disabled]="subTypes.length === 0" placeholder="Select Type" fullWidth [formControl]="form.get('subType')" [status]="(form.get('subType').dirty || form.get('subType').touched) && form.get('subType').invalid ? 'danger' : 'info'">
                                <nb-option *ngFor="let subType of subTypes" [value]="subType.name">{{subType.label}}</nb-option>
                            </nb-select>
                            <nb-icon status="danger" nbSuffix icon="sun-outline"></nb-icon>
                        </nb-form-field>
                        <span class="text-danger" style="display: block; margin-bottom: 0.5rem; font-weight: 900;" *ngIf="(form.get('subType').dirty || form.get('subType').touched) && form.get('subType').invalid">
                      SubType must be required
                    </span>
                    </div>
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem; max-width: 100%;">
                            <nb-icon [class]="(form.get('department').dirty || form.get('department').touched) && form.get('department').invalid ? 'text-danger' : 'text-info'" nbPrefix icon="cube-outline"></nb-icon>
                            <nb-select placeholder="Select Department" fullWidth [formControl]="form.get('department')" [status]="(form.get('department').dirty || form.get('department').touched) && form.get('department').invalid ? 'danger' : 'info'">
                                <nb-option *ngFor="let department of departments" [value]="department.id">{{department.name}}</nb-option>
                            </nb-select>
                            <nb-icon status="danger" nbSuffix icon="sun-outline"></nb-icon>
                        </nb-form-field>
                        <span class="text-danger" style="display: block; margin-bottom: 0.5rem; font-weight: 900;" *ngIf="(form.get('department').dirty || form.get('department').touched) && form.get('department').invalid">
                Department must be required
          </span>
                    </div>
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem;">
                            <nb-icon style="position: absolute; top: 0.5rem;" class="text-info" nbPrefix icon="edit-2-outline"></nb-icon>
                            <textarea rows="5" nbInput fullWidth [formControl]="form.get('description')" status="info" placeholder="Fill step description"></textarea>
                        </nb-form-field>
                    </div>
                </div>
            </div>
        </nz-spin>
    </nb-card-body>
</nb-card>