.crm-pipeline-header {
    display: flex;
    padding: 16px;
    .crm-pipeline-header-action {
        position: absolute;
        right: 20px;
        height: 32px;
    }
}

.crm-pipeline-body {
    width: 100%;
    height: calc(100% - 72px);
    .stages {
        width: 100%;
        height: 100%;
        smooth-dnd-container {
            height: 100%;
            width: 100%;
             ::ng-deep {
                .smooth-dnd-container.horizontal {
                    height: 100% !important;
                    width: 100%;
                    max-height: 100% !important;
                    display: flex;
                    white-space: nowrap;
                    overflow-x: auto;
                    padding-bottom: 32px;
                    smooth-dnd-draggable {
                        &.smooth-dnd-ghost {
                            .stage {
                                height: calc(100% - 192px);
                                .stage-header {
                                    background: white;
                                    svg.arrow-right {
                                        g {
                                            path:nth-child(3) {
                                                fill: white;
                                            }
                                        }
                                    }
                                    svg.arrow-left {
                                        display: block;
                                        g {
                                            path:nth-child(1) {
                                                fill: white;
                                            }
                                        }
                                    }
                                }
                                .stage-footer {
                                    display: block;
                                    background: white;
                                }
                                .stage-body {
                                    opacity: 1;
                                    background: white;
                                }
                            }
                        }
                        width: 18rem;
                        min-width: 18rem;
                        height: 100% !important;
                        display: inline-block;
                        .stage {
                            height: calc(100% - 32px);
                            .stage-header {
                                position: relative;
                                padding: 6px;
                                width: 100%;
                                height: 55px;
                                border: 1px solid #dcdddd;
                                border-right: none;
                                border-left: none;
                                &:hover {
                                    cursor: move;
                                }
                                .plus-left {
                                    position: absolute;
                                    top: 15px;
                                    left: -8px;
                                    z-index: 2;
                                }
                                .plus-right {
                                    position: absolute;
                                    top: 15px;
                                    right: -8px;
                                    z-index: 2;
                                }
                                .stage-header-name {
                                    width: 100%;
                                    height: 50%;
                                    padding-left: 10px;
                                    font: 600 18px / 24px "Source Sans Pro", sans-serif;
                                    color: rgb(38, 41, 44);
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                .stage-header-probability {
                                    width: 100%;
                                    height: 50%;
                                    padding-left: 10px;
                                    -webkit-box-align: center;
                                    align-items: center;
                                    display: flex;
                                    color: rgb(116, 118, 120);
                                    font: 400 13px / 16px "Source Sans Pro", sans-serif;
                                    margin: 4px 0px 1px;
                                }
                                svg.arrow-right {
                                    position: absolute;
                                    right: 0px;
                                    width: 9px;
                                    height: 53px;
                                    top: 0;
                                }
                                svg.arrow-left {
                                    display: none;
                                    position: absolute;
                                    left: -7px;
                                    width: 9px;
                                    height: 53px;
                                    top: 0;
                                }
                            }
                            .stage-footer {
                                display: none;
                                padding: 6px;
                                height: 48px;
                                border-top: 1px solid rgba(38, 41, 44, 0.12);
                                a {
                                    text-decoration: none;
                                    color: black;
                                    width: 100%;
                                    height: 100%;
                                    padding-left: 16px;
                                    display: flex;
                                    align-items: center;
                                    span {
                                        font-weight: 600;
                                    }
                                    &:hover {
                                        background-color: #317ae2;
                                        cursor: pointer;
                                        color: #fff;
                                    }
                                }
                            }
                            .stage-body {
                                height: calc(100% - 80px - 1rem);
                                opacity: 0.5;
                                margin-top: 1rem;
                                padding: 1.2rem 16px 0 16px;
                                .form-group {
                                    span {
                                        display: block;
                                        width: 100%;
                                        margin-bottom: 0.3rem;
                                        font-weight: bold;
                                    }
                                    width: 100%;
                                    margin-bottom: 1rem;
                                }
                            }
                            &:hover {
                                .stage-header {
                                    background: rgb(220, 221, 221);
                                    svg.arrow-right {
                                        g {
                                            path:nth-child(3) {
                                                fill: rgb(220, 221, 221);
                                            }
                                            path.near {
                                                fill: white !important;
                                            }
                                        }
                                        z-index: 1;
                                    }
                                    svg.arrow-left {
                                        display: block;
                                        g {
                                            path:nth-child(1) {
                                                fill: rgb(220, 221, 221);
                                            }
                                            path.near {
                                                fill: white !important;
                                            }
                                        }
                                    }
                                }
                                .stage-footer {
                                    display: block;
                                    background: rgb(220, 221, 221);
                                }
                                .stage-body {
                                    opacity: 1;
                                    background: rgb(220, 221, 221);
                                }
                            }
                            &.selected {
                                .stage-header {
                                    background: white;
                                    svg.arrow-right {
                                        g {
                                            path:nth-child(3) {
                                                fill: white;
                                            }
                                        }
                                    }
                                    svg.arrow-left {
                                        display: block;
                                        g {
                                            path:nth-child(1) {
                                                fill: white;
                                            }
                                        }
                                    }
                                }
                                .stage-footer {
                                    display: block;
                                    background: white;
                                }
                                .stage-body {
                                    opacity: 1;
                                    background: white;
                                }
                            }
                        }
                    }
                    .new-stage {
                        display: inline-block;
                        height: 100%;
                        border: 1px solid #dcdddd;
                        border-bottom: none;
                        position: relative;
                        min-width: 20rem;
                        .content {
                            position: absolute;
                            padding: 10px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            text-align: center;
                            width: 100%;
                            p {
                                font-weight: 600;
                                margin: 0.5rem 0 1rem 0;
                                word-wrap: break-word;
                                white-space: -moz-pre-wrap;
                                white-space: pre-wrap;
                            }
                        }
                    }
                }
            }
        }
    }
}

nb-card {
    width: 600px;
}

@media (max-width: 789px) {
    nb-card {
        width: 95vw;
    }
}