<nb-card class="w-100 m-0">
    <nb-card-header style="padding: 0.5rem 1rem; height: 4rem;">
        <span class="h-100 display-flex align-items-center float-left">
<b>{{(((state.active.value - 1) * state.pageCount) + 1) + ' - ' + (state.active.value * state.pageCount > state.filterArray.length ? state.filterArray.length : state.active.value * state.pageCount) + ' of ' + state.filterArray.length + ' products'}}</b>
</span>
        <nb-form-field class="float-right">
            <nb-select style="height: 3rem; width: 10rem" [(ngModel)]="state.pageCount" (ngModelChange)="useSelectPageCount.emit($event)" fullWidth [placeholder]="'Select page count'">
                <nb-option [value]="10">10</nb-option>
                <nb-option [value]="20">20</nb-option>
                <nb-option [value]="50">50</nb-option>
                <nb-option [value]="100">100</nb-option>
                <nb-option [value]="200">200</nb-option>
            </nb-select>
        </nb-form-field>
    </nb-card-header>
</nb-card>
