<nb-card class="position-relative">
    <ngx-spinner [name]="'pipeline-move-to'" bdColor="transparent" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
    <nb-card-header *ngIf="!payload.inside">
        Move deal
        <button (click)="useClose.emit()" style="float: right" nbButton size="tiny">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
        <span style="display: block; margin-bottom: 0.5rem; font-weight: 600">
          Process
          </span
    >
    <nb-form-field style="width: 100%; margin-bottom: 1rem">
      <nb-icon icon="browser-outline" nbPrefix></nb-icon>
      <input
        #pipelineInput
        fullWidth
        nz-dropdown
        [nzDropdownMenu]="pipelineRef"
        [value]="state.pipeline?.name"
        [nzPlacement]="'bottomCenter'"
        [nzBackdrop]="false"
        [nzTrigger]="'click'"
        [value]="state.pipeline?.name"
        readonly
        (focus)="pipelinePlus.useSearch(state.pipeline ? state.pipeline.name : '')"
        nbInput
        size="small"
        (input)="pipelinePlus.useSearch($event.target.value)"
      />
      <nb-icon icon="arrow-down" nbSuffix></nb-icon>
    </nb-form-field>
    <nz-dropdown-menu #pipelineRef="nzDropdownMenu">
      <app-reuse-pipeline-select
        [selected]="state.pipeline"
        #pipelinePlus
        (useSelect)="useSelectPipeline($event.id)"
      ></app-reuse-pipeline-select>
    </nz-dropdown-menu>
    <span
      *ngIf="state.pipeline"
      style="display: block; margin-bottom: 0.5rem; font-weight: 600"
      >Stage</span
    >
    <div *ngIf="state.pipeline" class="stages">
      <label
        class="stage"
        (click)="state.selectedStage = stage"
        [class.selected]="
        state.selectedStage &&
          stage.position <= state.selectedStage.position
        "
        *ngFor="let stage of state.pipeline.stages; let i = index"
      ></label>
    </div>
</nb-card-body>
<nb-card-footer class="p-2">
  <button
    style="float: right"
    [status]="payload.inside ? 'danger' : 'primary'"
    nbButton
    size="small"
    [disabled]="payload.inside ? (payload.deal.stage.id === state.selectedStage.id) : false"
    (click)="useMove.emit(state.selectedStage)"
  >
    {{payload.inside ? 'Move and delete stage' : 'Move'}}
  </button>
  <button
    style="float: right; margin-right: 0.5rem"
    status="default"
    nbButton
    size="small"
    (click)="useCancel()"
  >
    Cancel
  </button>
</nb-card-footer>
</nb-card>