.activity {
    background: white;
    width: 100%;
    min-height: 6.5rem;
    position: relative;
    border-radius: 5px;
    padding: 0.5rem 0 0.5rem 0;
    border: 1px solid #e5e5e5;
    p {
        font-size: 0.8rem;
        font-weight: 600;
    }
    .content {
        height: 2.5rem;
        float: left;
        width: 100%;
        padding: 1rem;
        a {
            color: #747678;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1.1rem;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .time {
        width: 100%;
        height: 3rem;
        padding: 0 1rem 0 1rem;
        float: left;
        display: flex;
        align-items: center;
        span {
            display: inline-block;
            font: 600 17px/16px monospace, sans-serif;
            color: #747678;
        }
        .separator {
            margin: 0;
            padding: 0 16px 0 9px;
            width: 8px;
            display: inline-block;
            cursor: default;
            text-align: center;
            font-weight: 900;
        }
    }
    button {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
}

.connect {
    position: absolute;
    left: -46px;
    width: 1rem;
    height: calc(100% - 40px + 10rem);
    top: 40px;
    border-left: 2px dashed silver !important;
}

.description {
    width: 100%;
    min-height: 4rem;
    background: #fffcdc;
    border: 1px solid #e5e5e5;
    padding: 1rem;
}

@media (max-width: 1100px) {
    .connect {
        left: -36px;
    }
}
