<div class="header">
    <div class="content">
        <div class="add">
            <button nbButton status="success" (click)="useDialog(createDialog, 'create-modal')" size="small">Add Instance</button>
            <ng-template #createDialog let-data let-ref="dialogRef">
                <app-instance-create [process]="process" [customers]="customers" (useDone)="useCreate(ref, $event)" (useClose)="ref.close()"></app-instance-create>
            </ng-template>
        </div>
        <div class="search" [ngStyle]="{ display: showSearch ? 'block' : 'none' }">
            <nb-form-field>
                <nb-icon class="text-danger" nbPrefix icon="close-circle-outline" (click)="showSearch = false; search = ''; useFilter()"></nb-icon>
                <input [(ngModel)]="search" (ngModelChange)="useFilter()" style="height: 3.5rem" type="text" nbInput fullWidth placeholder="Fill phone or fullname to search" />
            </nb-form-field>
        </div>
        <div class="action">
            <div class="button-icon-circle" style="position: absolute; right: 3rem; top: 0.5rem;" (click)="showSearch = true">
                <nb-icon icon="search-outline"></nb-icon>
            </div>
            <div class="button-icon-circle" style="position: absolute; right: 0.5rem; top: 0.5rem;" [nzPlacement]="'bottomRight'" [nzOverlayClassName]="'mt-1 l-1-half'" nz-dropdown [nzDropdownMenu]="dropdown">
                <nb-icon icon="more-horizontal-outline"></nb-icon>
            </div>
            <nz-dropdown-menu #dropdown="nzDropdownMenu">
                <app-action-menu [actions]="headerActions" (useSelectItem)="useAction($event, table, undefined, undefined)"></app-action-menu>
            </nz-dropdown-menu>
        </div>
    </div>
</div>
<div class="main">
    <div class="content">
        <div nz-row class="list">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="12" [nzXXl]="12" class="item" *ngFor="let instance of instanceFilter; let i = index">
                <div class="box" #box>
                    <nb-icon icon="sync-outline" style="position: absolute; left: 1rem"></nb-icon>
                    <div [nbTooltip]="instance.code" class="name">{{ instance.code | maxLength: 50 }}</div>
                    <div class="button-icon-circle" style="position: absolute; right: 0.5rem" [nzPlacement]="'bottomRight'" [nzOverlayClassName]="'mt-1 l-1-half'" nz-dropdown [nzDropdownMenu]="dropdown">
                        <nb-icon icon="more-horizontal-outline"></nb-icon>
                    </div>
                    <nz-dropdown-menu #dropdown="nzDropdownMenu">
                        <app-action-menu [template]="box" [actions]="actions" (useSelectItem)="useAction($event, editDialog, instance, i)"></app-action-menu>
                    </nz-dropdown-menu>
                    <ng-template #editDialog let-data let-ref="dialogRef">
                        <!-- <app-instance-update [instance]="instance" (useDone)="useUpdate(ref, $event, i)" (useClose)="ref.close()"></app-instance-update> -->
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="content">
        <div class="pagination">
            <button [disabled]="active === 1" (click)="useGo(active - 1)" nbButton size="small" status="primary" shape="round" outline style="margin-right: 0.5rem">
  <nb-icon icon="arrow-left"></nb-icon>
</button>
            <button [disabled]="active === min + 1" (click)="useGo(min + 1)" *ngIf="instanceFilter.length >= count * min" nbButton size="small" status="primary" shape="round" [outline]="active !== min + 1" style="margin-right: 0.5rem">
  {{ min + 1 }}
</button>
            <button [disabled]="active === min + 2" (click)="useGo(min + 2)" *ngIf="instanceFilter.length >= count * (min + 1)" nbButton size="small" status="primary" shape="round" [outline]="active !== min + 2" style="margin-right: 0.5rem">
  {{ min + 2 }}
</button>
            <button [disabled]="active === min + 3" (click)="useGo(min + 3)" *ngIf="instanceFilter.length >= count * (min + 2)" nbButton size="small" status="primary" shape="round" [outline]="active !== min + 3" style="margin-right: 0.5rem">
  {{ min + 3 }}
</button>
            <button [disabled]="active === useMax() || useMax() === 1" (click)="useGo(active + 1)" nbButton size="small" status="primary" shape="round" outline>
  <nb-icon icon="arrow-right"></nb-icon>
</button>
        </div>
        <div class="select">
            <div class="button-icon-circle" style="position: absolute; top: 0.5rem; right: 0" [nzPlacement]="'bottomCenter'" [nzOverlayClassName]="'mb-1 l-1-half'" nz-dropdown [nzDropdownMenu]="more">
                <nb-icon icon="more-horizontal-outline"></nb-icon>
            </div>
            <nz-dropdown-menu #more="nzDropdownMenu">
                <div style="
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 0.5rem;
          background: white;
          ">
                    <nb-radio-group [(ngModel)]="count" (ngModelChange)="useChangeCount()">
                        <nb-radio [value]="20">20</nb-radio>
                        <nb-radio [value]="50">50</nb-radio>
                        <nb-radio [value]="100">100</nb-radio>
                        <nb-radio [value]="200">200</nb-radio>
                        <nb-radio [value]="500">500</nb-radio>
                        <nb-radio [value]="1000">1000</nb-radio>
                    </nb-radio-group>
                </div>
            </nz-dropdown-menu>
        </div>
    </div>
</div>
<table #table style="height: 0; width: 0; overflow: hidden" class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>code</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let instance of instances">
            <td>{{ instance.code }}</td>
        </tr>
    </tbody>
</table>