.stage {
    min-width: 20rem !important;
    height: 100%;
    .stage-header {
        position: relative;
        padding: 6px;
        width: 100%;
        height: 55px;
        border: 1px solid #dcdddd;
        border-right: none;
        border-left: none;
        .stage-header-name {
            width: 100%;
            height: 50%;
            padding-left: 10px;
            font: 600 18px / 24px "Source Sans Pro", sans-serif;
            color: rgb(38, 41, 44);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .stage-header-money {
            width: 100%;
            height: 50%;
            padding-left: 10px;
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            color: rgb(116, 118, 120);
            font: 400 13px / 16px "Source Sans Pro", sans-serif;
            margin: 4px 0px 1px;
        }
        svg {
            position: absolute;
            left: 0px;
            width: 9px;
            height: 53px;
            top: 0;
        }
    }
    .stage-body {
        min-height: calc(100vh - 175px);
        padding: 6px;
        width: 100%;
        position: relative;
        &.dragging {
            min-height: calc(100vh - 175px);
            height: fit-content;
            &:hover {
                background-color: #e5e5e5;
                .stage-plus {
                    display: none;
                }
            }
            smooth-dnd-container {
                 ::ng-deep {
                    .smooth-dnd-container.vertical {
                        height: calc(100vh - 175px);
                        min-height: calc(100vh - 175px);
                    }
                }
            }
        }
        smooth-dnd-container {
             ::ng-deep {
                .smooth-dnd-container.vertical {
                    min-height: 0;
                }
            }
        }
    }
    .stage-plus {
        background: rgba(38, 41, 44, .05);
    }
}