.stage {
    min-width: 20rem !important;
    height: 100%;
    .stage-header {
        position: relative;
        padding: 6px;
        width: 100%;
        height: 55px;
        border: 1px solid #dcdddd;
        border-right: none;
        border-left: none;
        .stage-header-name {
            width: 100%;
            height: 50%;
            padding-left: 10px;
            font: 600 18px / 24px "Source Sans Pro", sans-serif;
            color: rgb(38, 41, 44);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .stage-header-money {
            width: 100%;
            height: 50%;
            padding-left: 10px;
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            color: rgb(116, 118, 120);
            font: 400 13px / 16px "Source Sans Pro", sans-serif;
            margin: 4px 0px 1px;
        }
        svg {
            position: absolute;
            left: 0px;
            width: 9px;
            height: 53px;
            top: 0;
        }
    }
    .stage-body {
        min-height: calc(100vh - 175px);
        padding: 6px;
        width: 100%;
        position: relative;
        &.dragging {
            min-height: calc(100vh - 175px);
            height: fit-content;
            &:hover {
                background-color: #e5e5e5;
                .stage-plus {
                    display: none;
                }
            }
            smooth-dnd-container {
                 ::ng-deep {
                    .smooth-dnd-container.vertical {
                        height: calc(100vh - 175px);
                        min-height: calc(100vh - 175px);
                    }
                }
            }
        }
        &:hover {
            .stage-plus {
                display: flex;
            }
        }
        .stage-deal {
            width: 98%;
            margin: auto;
            min-height: 86px;
            height: auto;
            padding: 6px 8px;
            background: white;
            margin-bottom: 0.5rem;
            position: relative;
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, .05), 0 1px 2px -2px rgba(0, 0, 0, .06), 0 1px 3px 0 rgba(0, 0, 0, .07);
            &:hover {
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 1px 0px, rgba(0, 0, 0, 0.05) 0px 2px 2px 0px, rgba(0, 0, 0, 0.06) 0px 3px 1px -2px, rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
            }
            .stage-button-activity {
                position: absolute;
                bottom: 0.25rem;
                right: 0.25rem;
            }
            .stage-button-more {
                position: absolute;
                top: 0.25rem;
                right: 0.25rem;
            }
            .stage-button-move {
                position: absolute;
                top: 36px;
                right: 0.25rem;
            }
            .stage-deal-info {
                height: 100%;
                width: 100%;
                .stage-deal-header {
                    min-height: 4px;
                    border-radius: 4px;
                    width: 32px;
                    background-color: rgb(255, 204, 0);
                }
                .stage-deal-body {
                    margin-top: 10px;
                    width: 100%;
                    min-height: 36px;
                    span {
                        color: rgb(38, 41, 44);
                        font: 600 15px / 20px "Source Sans Pro", sans-serif;
                        word-wrap: break-word;
                        white-space: -moz-pre-wrap;
                        white-space: pre-wrap;
                    }
                }
                .stage-deal-value {
                    margin-top: 6px;
                    width: 100%;
                    height: 20px;
                    span {
                        font: 600 13px / 16px "Source Sans Pro", sans-serif;
                        color: rgb(116, 118, 120);
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    .stage-plus {
        display: none;
        &:hover {
            background: rgba(38, 41, 44, .05);
        }
    }
}
