.create-modal-body,
.create-modal-header {
    width: calc(50vw - 16rem + 5px);
}

.create-modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 1rem;
        .image {
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: antiquewhite;
            img {
                width: 90%;
                height: 90%;
                border-radius: 50%;
            }
        }
        .button {
            position: absolute;
            bottom: 0.5rem;
            left: calc(50% + 2.5rem);
        }
    }
}

@media (max-width: 1309px) {
    .create-modal-body,
    .create-modal-header {
        width: calc(70vw);
    }
}