<div class="card">
    <div class="avatar">
        <img [src]="customer.avatar ? customer.avatar : '../../../../../../../assets/user.png'">
    </div>
    <div class="information">
        <b><nb-icon icon="smiling-face-outline"></nb-icon>  {{customer.fullname}}</b><br>
        <b><nb-icon icon="phone-outline"></nb-icon>  {{customer.phone}}</b><br>
        <b><nb-icon icon="email-outline"></nb-icon>  {{customer.email}}</b>
    </div>
    <div class="contact">
        <button nbButton style="width: 246px; margin-right: 0.5rem;" (click)="useDialog(mailDialog, 'update-modal')">
          <nb-icon icon="email-outline"></nb-icon> Send mail
        </button>
        <button nbButton style="margin-right: 0.5rem;" (click)="usePhone()">
          <nb-icon icon="phone-outline"></nb-icon>
        </button>
        <button nbButton>
          <nb-icon icon="more-horizontal-outline"></nb-icon>
        </button>
    </div>
</div>
<ng-template #mailDialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>
            <div class="mail-modal-header">
                New Mail
                <button nbButton size="small" style="float: right" shape="round" status="danger">
        <nb-icon icon="close" (click)="ref.close()"></nb-icon>
      </button>
                <button nbButton size="small" style="float:right; margin-right: 0.5rem;" shape="round" status="primary" (click)="useSend(ref)"><nb-icon icon="navigation-2"></nb-icon></button>
            </div>
        </nb-card-header>
        <nb-card-body>
            <nz-spin nzTip="Loading..." [nzSpinning]="load">
                <div class="mail-modal-body">
                    <div nz-row style="width: 100%">
                        <div nz-col [nzSpan]="24">
                            <nb-form-field style="margin-bottom: 0.5rem">
                                <nb-icon class="" nbPrefix icon="email-outline"></nb-icon>
                                <input disabled type="text" nbInput fullWidth placeholder="Subject" [value]="customer.email" />
                            </nb-form-field>
                        </div>
                        <div nz-col [nzSpan]="24">
                            <nb-form-field style="margin-bottom: 0.5rem">
                                <nb-icon class="" nbPrefix icon="attach-outline"></nb-icon>
                                <input [(ngModel)]="subject" type="text" nbInput fullWidth placeholder="Subject" />
                            </nb-form-field>
                        </div>
                        <div nz-col [nzSpan]="24">
                            <p-editor [(ngModel)]="text" [style]="{ height: '15rem' }"></p-editor>
                        </div>
                    </div>
                </div>
            </nz-spin>
        </nb-card-body>
    </nb-card>
</ng-template>
