.attachment {
    width: 100%;
    min-height: 4rem;
    background: white;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    display: inline-block;
    .extension {
        height: 4rem;
        width: 4rem;
        display: flex;
        float: left;
        justify-content: center;
        align-items: center;
        nb-icon {
            font-size: 1.5rem;
        }
    }
    .content {
        float: left;
        padding: 0.5rem;
        width: calc(100% - 6rem);
        cursor: pointer;
        a {
            color: rgb(49, 122, 226);
            text-decoration: none;
        }
    }
    .time {
        float: right;
        padding: 0 0.5rem 0 0.5rem;
        width: calc(100% - 4rem);
        span {
            display: inline-block;
            font: 400 13px/16px monospace, sans-serif;
            color: #747678;
        }
        .separator {
            margin: 0;
            padding: 0 16px 0 9px;
            width: 8px;
            display: inline-block;
            cursor: default;
            text-align: center;
            font-weight: 900;
        }
    }
    button {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
}

.description {
    width: 100%;
    min-height: 4rem;
    background: #fffcdc;
    border: 1px solid #e5e5e5;
    padding: 1rem;
}

nb-card.child {
    width: 789px;
    margin-top: 29px;
    nb-card-body {
        max-height: calc(100vh - 238px);
        overflow: auto;
    }
}

@media (max-width: 789px) {
    nb-card.child {
        width: 95vw;
    }
}
