<div class="attachment">
    <div class="extension">
        <nb-icon [icon]="icon"></nb-icon>
    </div>
    <div class="content">
        <a [href]="data?.url" target="_blank">{{data?.name}}</a>
    </div>
    <div class="time">
        <span class="text">{{data?.createdAt | date: 'EEEE, MMMM d, y, h:mm a'}}</span>
        <span class="separator">·</span>
        <span class="text">Đặng Khánh Vinh</span>
        <span class="separator">·</span>
        <span class="text">{{data?.size | size}}</span>
    </div>
    <button outline nbButton size="tiny" nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'" [nzTrigger]="'click'" [nzBackdrop]="false">
      <nb-icon icon="more-horizontal-outline"></nb-icon>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item class="p-2 pl-4" style="width: 180px;" (click)="useDialog(editRef)">
                <b>{{data?.description ? 'Edit' : 'Add'}} description</b>
            </li>
            <li nz-menu-item class="p-2 pl-4" style="width: 180px;" (click)="useDialog(removeRef)">
                <b>Delete</b>
            </li>
        </ul>
    </nz-dropdown-menu>
</div>
<div class="description" *ngIf="data?.description && data?.description.length > 0">
    <p>{{data?.description}}</p>
</div>
<ng-template #removeRef let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Remove attachment </nb-card-header>
        <nb-card-body>Are you sure you wish to remove this attachment?</nb-card-body>
        <nb-card-footer class="p-2">
            <button style="float: right" status="primary" nbButton size="small" (click)="useRemove(ref)">
Remove
</button>
            <button style="float: right; margin-right: 0.5rem" status="default" nbButton size="small" (click)="ref.close()">
Cancel
</button>
        </nb-card-footer>
    </nb-card>
</ng-template>
<ng-template #editRef let-data let-ref="dialogRef">
    <nb-card class="child" style="position: relative;">
        <ngx-spinner [name]="'attachment-save'" bdColor="#e5e5e5" [style.opacity]="'0.8'" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
        <nb-card-header>
            {{data?.description ? 'Edit' : 'Add'}} attachment description
            <button (click)="ref.close()" style="float:right" nbButton size="tiny">
            <nb-icon icon="close"></nb-icon>
            </button>
        </nb-card-header>
        <nb-card-body>
            <div class="attachment mb-3">
                <div class="extension">
                    <nb-icon [icon]="icon"></nb-icon>
                </div>
                <div class="content">
                    <div class="content-top">
                        <a>{{data?.name}}</a>
                    </div>
                    <div class="content-bottom">
                        <span class="text">{{data?.createdAt | date: 'EEEE, MMMM d, y, h:mm a'}}</span>
                        <span class="separator">·</span>
                        <span class="text">Đặng Khánh Vinh</span>
                        <span class="separator">·</span>
                        <span class="text">{{data?.size | size}}</span>
                    </div>
                </div>
            </div>
            <span style="display: block; margin-bottom: 0.5rem; font-weight: 600">Description</span
            >
          <nb-form-field style="width: 100%; margin-bottom: 1rem">
            <textarea
              #area
              placeHolder="Description"
              fullWidth
              [formControl]="description"
              rows="5"
              nbInput
            ></textarea>
          </nb-form-field>
        </nb-card-body>
        <nb-card-footer class="p-2">
            <button style="float: right" status="success" nbButton size="small" (click)="useSave(ref)">
Save
</button>
            <button style="float: right; margin-right: 0.5rem" status="default" nbButton size="small" (click)="ref.close()">
Cancel
</button>
            </nb-card-footer>
    </nb-card>
</ng-template>