<div class="datatable-item">
    <div class="select">
        <nb-checkbox *ngIf="!isHeader" (checkedChange)="control.setValue($event); useItemCheck.emit()" [checked]="control.value"></nb-checkbox>
        <nb-checkbox *ngIf="isHeader" (checkedChange)="control.setValue($event ? 'on' : 'off'); useItemCheck.emit()" [checked]="control.value === 'on'" [indeterminate]="control.value === 'indeterminate'"></nb-checkbox>
        <div class="field">
            <nb-form-field>
                <input nbInput fullWidth readonly />
            </nb-form-field>
        </div>
    </div>
    <div class="field b-gaint" (click)="useSort('description')">
        <nb-form-field class="w-100">
            <input nbInput fullWidth readOnly [value]="isHeader ? 'Description' : log.description" placeHolder="Description" />
            <nb-icon *ngIf="isHeader && sort.key === 'description'" nbSuffix [icon]="'arrow-' + sort.stage + '-outline'"></nb-icon>
        </nb-form-field>
    </div>
    <div class="field large" (click)="useSort('updatedAt')">
        <nb-form-field class="w-100">
            <input nbInput fullWidth readOnly [value]="isHeader ? 'Time' : log.updatedAt | date: 'hh:mm dd/MM/yyyy'" placeHolder="Time" />
            <nb-icon *ngIf="isHeader && sort.key === 'updatedAt'" nbSuffix [icon]="'arrow-' + sort.stage + '-outline'"></nb-icon>
        </nb-form-field>
    </div>
    <div class="action">
        <button (click)="useRemove.emit()" *ngIf="!isHeader" nbButton status="danger" outline size="small">
      <nb-icon [icon]="'trash-2-outline'"></nb-icon>
  </button>
        <div class="field">
            <nb-form-field>
                <input nbInput fullWidth readonly />
            </nb-form-field>
        </div>
    </div>
</div>