.deal-in-month {
    width: 100%;
    .search {
        width: 100%;
        height: 5rem;
    }
    .content {
        max-height: 25rem;
        width: 100%;
    }
    .empty {
        height: 25rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 600 17px/16px monospace, sans-serif;
        color: #747678;
    }
}
