<nb-card>
    <nb-card-header style="padding: 0.5rem 1.5rem;">
        <b style="font: 600 17px/16px monospace, sans-serif; color: #747678;">Information</b>
    </nb-card-header>
    <nb-card-body>
        <nb-form-field class="float-left mb-2 w-100" *ngFor="let pipeline of pipelines">
            <nb-icon *ngIf="pipeline.id === selectedPipeline?.id && canUpdate" (click)="useEdit.emit()" nbPrefix status="info" icon="edit-2-outline"></nb-icon>
            <input [status]="pipeline.id === selectedPipeline?.id ? 'primary' : 'basic'" class="border-radius-0" [value]="pipeline.name" (click)="useSelect.emit(pipeline); selectedPipeline = pipeline" readonly [style.height]="'40px'" fullWidth placeholder="Search by name"
                nbInput />
            <nb-icon *ngIf="pipeline.id === selectedPipeline?.id && canRemove" (click)="useDelete.emit()" nbSuffix status="danger" icon="trash-2-outline"></nb-icon>
        </nb-form-field>
        <button *ngIf="canAdd" nbButton status="success" outline fullWidth (click)="useAdd.emit()">New Process</button>
    </nb-card-body>
</nb-card>