.crm-pipeline-actions {
    margin-right: -32px;
    width: 250px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    .crm-pipeline-list {
        padding: 6px 0 6px 0;
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        .crm-pipeline-action {
            width: 100%;
            height: 32px;
            display: flex;
            align-items: center;
            padding-left: 25px;
            text-decoration: none;
            color: black;
            font-weight: 600;
            position: relative;
            button {
                display: none;
                position: absolute;
                right: 14px;
            }
            .selected {
                position: absolute;
                right: 16px;
            }
            &:hover {
                button {
                    display: flex;
                }
                background-color: #317ae2;
                cursor: pointer;
                color: #fff;
            }
        }
    }
    .crm-pipeline-main {
        padding: 6px 0 6px 0;
        width: 100%;
        height: 76px;
        .crm-pipeline-action {
            width: 100%;
            height: 32px;
            display: flex;
            align-items: center;
            padding-left: 25px;
            text-decoration: none;
            color: black;
            font-weight: 600;
            position: relative;
            &:hover {
                background-color: #317ae2;
                cursor: pointer;
                color: #fff;
            }
        }
    }
}