<nb-card>
    <nb-card-header style="padding: 0.5rem 1.5rem;">
        <b style="font: 600 17px/16px monospace, sans-serif; color: #747678;">Search</b>
    </nb-card-header>
    <nb-card-body>
        <nb-form-field class="float-left mb-2 w-100">
            <input class="border-radius-0" [(ngModel)]="search.value" [style.height]="'40px'" fullWidth placeholder="Search by product name" nbInput (ngModelChange)="useSearch.emit(search)" />
            <nb-icon nbSuffix icon="search-outline"></nb-icon>
        </nb-form-field>
        <nb-form-field class="float-left mb-2 w-100">
            <nb-icon *ngIf="!search.category" nbSuffix icon="compass-outline"></nb-icon>
            <input nz-dropdown [nzDropdownMenu]="categorySelect" [nzPlacement]="'bottomCenter'" [nzBackdrop]="false" [nzTrigger]="'click'" class="border-radius-0" [value]="search.category?.name" [style.height]="'40px'" fullWidth placeholder="Select category" nbInput
                readonly />
            <nb-icon *ngIf="search.category" nbSuffix status="danger" (click)="search.category = undefined; useSearch.emit(search)" icon="close-circle-outline"></nb-icon>
        </nb-form-field>
        <nz-dropdown-menu #categorySelect="nzDropdownMenu">
            <app-category-select #categorySelect [(model)]="search.category" (modelChange)="search.category = $event; useSearch.emit(search)"></app-category-select>
        </nz-dropdown-menu>
    </nb-card-body>
</nb-card>
