<div class="deal">
    <div class="deal-info" (click)="useDetail()">
        <div class="deal-header"></div>
        <div class="deal-body">
            <nb-icon pack="eva" icon="inbox" style="margin-right: 0.3rem;"></nb-icon>
            <span>{{deal.title}}</span>
            <br>
            <nb-icon pack="eva" icon="calendar" style="margin-right: 0.3rem;"></nb-icon>
            <span>{{deal.createdAt | time}}</span>
        </div>
        <div class="deal-value">
            <nb-icon pack="eva" icon="person" style="margin-right: 0.3rem;"></nb-icon>
            <span>₫{{[deal] | totalMoney}}</span>
        </div>
    </div>
    <span *ngIf="deal.status !== 'processing'" [class.bg-danger]="deal.status === 'lost'" style="display: flex; position: absolute; top: 0.5rem; right: 0.5rem; padding: 0.2rem; border-radius: 5px; width: 80px; letter-spacing: 2px; justify-content: center; align-items: center;"
        [class.bg-success]="deal.status === 'won'">
    <b style="text-transform: uppercase; color: white; font-family: victor mono, Menlo, Monaco, 'Courier New', monospace;">{{deal.status}}</b>
</span>
</div>