.deal {
    width: 98%;
    margin: auto;
    cursor: pointer;
    min-height: 86px;
    height: auto;
    padding: 6px 8px;
    background: white;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .deal-activity {
        position: absolute;
        bottom: 0.25rem;
        right: 0.25rem;
    }
    .deal-more {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
    }
    .deal-move {
        position: absolute;
        top: 36px;
        right: 0.25rem;
    }
    .deal-info {
        height: 100%;
        width: 100%;
        .deal-header {
            min-height: 4px;
            border-radius: 4px;
            width: 32px;
            background-color: rgb(255, 204, 0);
        }
        .deal-body {
            margin-top: 10px;
            width: 100%;
            min-height: 36px;
            span {
                font: 600 17px/16px monospace, sans-serif;
                color: #747678;
                word-wrap: break-word;
                white-space: -moz-pre-wrap;
                white-space: pre-wrap;
            }
        }
        .deal-value {
            margin-top: 6px;
            width: 100%;
            height: 20px;
            span {
                font: 600 13px / 16px "Source Sans Pro", sans-serif;
                color: rgb(116, 118, 120);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}
