<div [ngSwitch]="type">
    <mwl-calendar-month-view *ngSwitchCase="'month'" (dayClicked)="usePlusWithDay($event)" [viewDate]="viewDate" [events]="events" (eventClicked)="useEventClicked($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="'week'" (hourSegmentClicked)="usePlusWithHour($event)" [eventTemplate]="dayEvent" [viewDate]="viewDate" [events]="events" (eventClicked)="useEventClicked($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="'day'" (hourSegmentClicked)="usePlusWithHour($event)" [eventTemplate]="dayEvent" [viewDate]="viewDate" [events]="events" (eventClicked)="useEventClicked($event)">
    </mwl-calendar-day-view>
</div>
<ng-template #dayEvent let-weekEvent="weekEvent">
    <!-- {{weekEvent. title}} asndlasdlsakjd -->
    <button nbButton outline [status]="weekEvent.event.state === 'notStart' ? 'default' : (weekEvent.event.state === 'processing' ? 'primary' : 'success')" size="small" (click)="useEventClicked({event: weekEvent.event})">
    <nb-icon [icon]="useIcon(weekEvent.event.type).icon" [pack]="useIcon(weekEvent.event.type).pack"></nb-icon>
  </button>
</ng-template>