.ticket {
    width: 95%;
    margin: auto;
    height: fit-content;
    margin-bottom: 1rem;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .content {
        height: auto;
        min-height: 3rem;
        border-radius: 10px 10px 0 0;
        padding: 1rem;
        width: 100%;
        background: #fffcdc;
        font: 600 14px/16px monospace, sans-serif;
        color: #747678;
        display: flex;
        align-items: center;
    }
    .time {
        position: relative;
        height: auto;
        min-height: 3rem;
        width: 100%;
        display: flex;
        padding: 1rem;
        align-items: center;
        font: 600 13px/16px monospace, sans-serif;
        color: #747678;
    }
    .customer {
        position: relative;
        border-top: 1px dashed #e5e5e5;
        height: auto;
        width: 100%;
        min-height: 3rem;
        display: flex;
        padding: 1rem;
        align-items: center;
        font: 600 13px/16px monospace, sans-serif;
        color: #747678;
    }
}

nb-card {
    width: 789px;
    margin-top: 29px;
    nb-card-body {
        max-height: calc(100vh - 238px);
        overflow: auto;
    }
}

@media (max-width: 789px) {
    nb-card {
        width: 95vw;
        &.inside {
            width: 100%;
        }
    }
}