nb-card {
    width: 789px;
    margin-top: 29px;
    nb-card-body {
        max-height: calc(100vh - 238px);
        overflow: auto;
        .content {
            height: auto;
            min-height: 8rem;
            max-height: 8rem;
            overflow: auto;
            padding: 1rem;
            width: 100%;
            background: #ffe498;
            font: 600 14px/16px monospace, sans-serif;
            display: flex;
        }
    }
}

@media (max-width: 789px) {
    nb-card {
        width: 95vw;
    }
}
