<nb-card style="position: relative;">
    <ngx-spinner [name]="'campaign-save'" bdColor="#e5e5e5" [style.opacity]="'0.8'" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
    <nb-card-header style="background: #f7f7f7; border-bottom: 1px solid #e5e5e5">
        {{payload.campaign ? 'Edit' : 'New'}} campaign
        <button (click)="useClose.emit()" style="float: right" nbButton size="tiny">
<nb-icon icon="close"></nb-icon>
</button>
    </nb-card-header>
    <nb-card-body [formGroup]="state.form">
        <span style="display: block; margin-bottom: 0.5rem; font-weight: 600" [class.text-danger]="
  state.form.get('name').invalid &&
  (state.form.get('name').touched || state.form.get('name').dirty)
">Name <span class="text-danger">*</span></span>
        <nb-form-field style="width: 100%; margin-bottom: 1rem">
            <nb-icon icon="donate" pack="font-awesome" nbPrefix></nb-icon>
            <input [status]="
      state.form.get('name').invalid &&
      (state.form.get('name').touched || state.form.get('name').dirty) ? 'danger' : 'basic'
    " fullWidth [formControl]="state.form.get('name')" nbInput size="small" />
        </nb-form-field>
        <span *ngIf="state.form.get('name').invalid && (state.form.get('name').touched || state.form.get('name').dirty)" class="text-danger mb-3 display-block font-weight-bold">Please fill name</span>
        <span style="display: block; margin-bottom: 0.5rem; font-weight: 600" [class.text-danger]="
    state.form.get('type').invalid &&
    (state.form.get('type').touched || state.form.get('type').dirty)
  ">Type <span class="text-danger">*</span></span>
        <nb-form-field style="max-width: 100%; margin-bottom: 1rem;">
            <nb-icon nbPrefix icon="loader-outline"></nb-icon>
            <nb-select [status]="
        state.form.get('type').invalid &&
        (state.form.get('type').touched || state.form.get('type').dirty) ? 'danger' : 'basic'
      " style="width: 100%;" fullWidth placeholder="Select Type" [formControl]="state.form.get('type')">
                <nb-option value="Email">Email</nb-option>
                <nb-option value="Telemarketing">Telemarketing</nb-option>
                <nb-option value="Banner Ads">Banner Ads</nb-option>
                <nb-option value="Seminar">Seminar</nb-option>
                <nb-option value="Conference">Conference</nb-option>
                <nb-option value="Public Relations">Public Relations</nb-option>
                <nb-option value="Others">Others</nb-option>
            </nb-select>
        </nb-form-field>
        <span style="display: block; margin-bottom: 0.5rem; font-weight: 600">Status</span>
        <nb-form-field style="max-width: 100%; margin-bottom: 1rem;">
            <nb-icon nbPrefix icon="loader-outline"></nb-icon>
            <nb-select style="width: 100%;" fullWidth placeholder="Select Status" [formControl]="state.form.get('status')">
                <nb-option value="planning">Planning</nb-option>
                <nb-option value="active">Active</nb-option>
                <nb-option value="inactive">Inactive</nb-option>
                <nb-option value="complete">Complete</nb-option>
            </nb-select>
        </nb-form-field>
        <span style="display: block; margin-bottom: 0.5rem; font-weight: 600;" [class.text-danger]="state.form.get('dateStart').invalid && (state.form.get('dateStart').touched || state.form.get('dateStart').dirty)">Start Time <span class="text-danger">*</span></span>
        <nb-form-field style="width: 100%; margin-bottom: 1rem; float: left;">
            <nb-icon nbPrefix icon="clock-outline"></nb-icon>
            <input fullWidth [status]="state.form.get('dateStart').invalid && (state.form.get('dateStart').touched || state.form.get('dateStart').dirty) ? 'danger' : 'basic'" [value]="state.form.get('dateStart').value | date: 'HH:mm dd/MM/yyyy'" (focus)="state.showDateStartPicker = true"
                [nzVisible]="state.showDateStartPicker" placeholder="Campaign Start Time" nz-dropdown [nzDropdownMenu]="dateStartRef" [nzPlacement]="'bottomCenter'" [nzBackdrop]="false" [nzTrigger]="'click'" nbInput />
        </nb-form-field>
        <nz-dropdown-menu #dateStartRef="nzDropdownMenu">
            <app-reuse-select-date-time [date]="state.form.get('dateStart').value" [min]="state.minStart" [max]="state.form.get('dateEnd').value" (useChange)="state.form.get('dateStart').setValue($event); useCheckTime(); state.showDateStartPicker = false"></app-reuse-select-date-time>
        </nz-dropdown-menu>
        <span style="display: block; margin-bottom: 0.5rem; font-weight: 600;" [class.text-danger]="state.form.get('dateEnd').invalid && (state.form.get('dateEnd').touched || state.form.get('dateEnd').dirty)">End Time <span class="text-danger">*</span></span>
        <nb-form-field style="width: 100%; margin-bottom: 1rem; float: left;">
            <nb-icon nbPrefix icon="clock-outline"></nb-icon>
            <input fullWidth [status]="state.form.get('dateEnd').invalid && (state.form.get('dateEnd').touched || state.form.get('dateEnd').dirty) ? 'danger' : 'basic'" [value]="state.form.get('dateEnd').value | date: 'HH:mm dd/MM/yyyy'" (focus)="state.showDateEndPicker = true"
                [nzVisible]="state.showDateEndPicker" placeholder="Campaign End Time" nz-dropdown [nzDropdownMenu]="dateEndRef" [nzPlacement]="'bottomCenter'" [nzBackdrop]="false" [nzTrigger]="'click'" nbInput />
        </nb-form-field>
        <nz-dropdown-menu #dateEndRef="nzDropdownMenu">
            <app-reuse-select-date-time [date]="state.form.get('dateEnd').value" [min]="state.minEnd" [max]="state.max" (useChange)="state.form.get('dateEnd').setValue($event); useCheckTime(); state.showDateEndPicker = false"></app-reuse-select-date-time>
        </nz-dropdown-menu>
        <span style="display: block; margin-bottom: 0.5rem; font-weight: 600;" [class.text-danger]="state.form.get('pipeline').invalid && (state.form.get('pipeline').touched || state.form.get('pipeline').dirty)">Process <span class="text-danger">*</span></span>
        <nb-form-field style="width: 100%; margin-bottom: 1rem;">
            <nb-icon icon="gift-outline" nbPrefix></nb-icon>
            <input #pipelineInput fullWidth (blur)="state.form.get('pipeline').markAsTouched()" [status]="state.form.get('pipeline').invalid && (state.form.get('pipeline').touched || state.form.get('pipeline').dirty) ? 'danger' : 'basic'" nz-dropdown [nzDropdownMenu]="pipelineRef"
                [nzPlacement]="'bottomCenter'" [nzBackdrop]="false" [nzTrigger]="'click'" [value]="state.form.get('pipeline').value?.name" nbInput size="small" (input)="pipelineSelect.useSearch($event.target.value)" />
            <nb-icon icon="arrow-down" nbSuffix></nb-icon>
        </nb-form-field>
        <span *ngIf="state.form.get('pipeline').invalid && (state.form.get('pipeline').touched || state.form.get('pipeline').dirty)" class="text-danger mb-3 display-block font-weight-bold">Please select pipeline</span>
        <nz-dropdown-menu #pipelineRef="nzDropdownMenu">
            <app-pipeline-select #pipelineSelect [control]="state.form.get('pipeline')"></app-pipeline-select>
        </nz-dropdown-menu>
        <span *ngIf="state.form.get('dateEnd').invalid && (state.form.get('dateEnd').touched || state.form.get('dateEnd').dirty)" class="text-danger mb-3 display-block font-weight-bold">Please select End Date greater than Start Date!</span>
        <span style="display: block; margin-bottom: 0.5rem; font-weight: 600">Auto Create Deal</span>
        <nb-checkbox class="mb-2" [formControl]="state.form.get('autoCreateDeal')"></nb-checkbox>
        <span class="mt-2" style="display: block; margin-bottom: 0.5rem; font-weight: 600">Email Template</span>
        <angular-editor [formControl]="state.form.get('emailTemplate')" [config]="state.config"></angular-editor>
        <span class="mt-2" style="display: block; margin-bottom: 0.5rem; font-weight: 600">Description</span>
        <nb-form-field style="width: 100%; margin-bottom: 1rem">
            <textarea #area placeholder="Description" fullWidth [formControl]="state.form.get('description')" (focus)="area.rows = 5" rows="1" (blur)="area.rows = 1" nbInput></textarea>
        </nb-form-field>
    </nb-card-body>
    <nb-card-footer>
        <button style="float: right" status="default" nbButton size="small" (click)="useDialog(cancelRef)">
Cancel
</button>
        <button style="float: right; margin-right: 0.5rem" [disabled]="state.form.invalid" status="primary" (click)="useDialog(submitRef)" nbButton size="small">
Save
</button>
    </nb-card-footer>
</nb-card>
<ng-template #submitRef let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Saved changes </nb-card-header>
        <nb-card-body>Are you sure you wish to save and hide modal?</nb-card-body>
        <nb-card-footer class="p-2">
            <button style="float: right" status="primary" nbButton size="small" (click)="useSubmit(ref)">
  Save and hide
</button>
            <button style="float: right; margin-right: 0.5rem" status="default" nbButton size="small" (click)="ref.close()">
  Continue editing
</button>
        </nb-card-footer>
    </nb-card>
</ng-template>
<ng-template #cancelRef let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>You have unsaved changes </nb-card-header>
        <nb-card-body>Are you sure you wish to hide modal?</nb-card-body>
        <nb-card-footer class="p-2">
            <button style="float: right" status="default" nbButton size="small" (click)="ref.close(); useClose.emit()">
  Hide modal
</button>
            <button style="float: right; margin-right: 0.5rem" status="default" nbButton size="small" (click)="ref.close()">
  Continue editing
</button>
        </nb-card-footer>
    </nb-card>
</ng-template>
