<nb-form-field *ngIf="control" style="width: 98%; margin:auto; max-width: 100%;">
    <label [class.text-danger]="(control.touched || control.dirty) && control.invalid" *ngIf="item.label != null && item.label !== ''">{{item.label}}</label>
    <nb-icon [class.text-danger]="(control.touched || control.dirty) && control.invalid" *ngIf="item.tooltip != null && item.tooltip !== ''" nbSuffix icon="info-outline" [nbTooltip]="item.tooltip"></nb-icon>
    <input [nbAutocomplete]="auto" [formControl]="control" name="item.name" id="item.id" fullWidth [type]="'text'" [status]="(control.touched || control.dirty) && control.invalid ? 'danger' : 'info'" nbInput [placeholder]="item.placeHolder">
    <nb-autocomplete #auto>

        <nb-option *ngFor="let option of item.options" [value]="option.value">
            {{ option.label }}
        </nb-option>

    </nb-autocomplete>
</nb-form-field>
<nb-form-field *ngIf="!control" style="width: 98%; margin:auto; max-width: 100%;">
    <label *ngIf="item.label != null && item.label !== ''">{{item.label}}</label>
    <nb-icon *ngIf="item.tooltip != null && item.tooltip !== ''" nbSuffix icon="info-outline" [nbTooltip]="item.tooltip"></nb-icon>
    <input [nbAutocomplete]="auto" name="item.name" id="item.id" fullWidth [type]="'text'" status="primary" nbInput [placeholder]="item.placeHolder">
    <nb-autocomplete #auto>

        <nb-option *ngFor="let option of item.options" [value]="option.value">
            {{ option.label }}
        </nb-option>

    </nb-autocomplete>
</nb-form-field>
