<nb-layout>
    <nb-layout-column style="padding: 0;">
        <app-nav></app-nav>
        <header>
            <img class="logo" src="assets/logo-white.png" />
            <app-breadcrumb></app-breadcrumb>
            <app-notification></app-notification>
            <app-user></app-user>
            <app-search></app-search>
            <app-add></app-add>
        </header>
        <app-content>
            <router-outlet></router-outlet>
        </app-content>
        <ng-template #globalCreatRef let-context let-ref="dialogRef">
            <app-customer-save *ngIf="context.type === 'customer'" [payload]="context.payload" (useClose)="ref.close()"></app-customer-save>
            <app-campaign-save *ngIf="context.type === 'campaign'" [payload]="context.payload" (useClose)="ref.close()"></app-campaign-save>
            <app-category-save *ngIf="context.type === 'category'" [payload]="context.payload" (useClose)="ref.close()"></app-category-save>
            <app-pipeline-save *ngIf="context.type === 'pipeline'" [payload]="context.payload" (useClose)="ref.close()"></app-pipeline-save>
            <app-reuse-customer-profile *ngIf="context.type === 'customer-profile'" [payload]="context.payload" (useClose)="ref.close()"></app-reuse-customer-profile>
            <app-activity-save [payload]="context.payload" *ngIf="context.type === 'activity'" (useClose)="ref.close()"></app-activity-save>
            <app-deal-save [payload]="context.payload" *ngIf="context.type === 'deal'" (useClose)="ref.close()"></app-deal-save>
            <app-note-save *ngIf="context.type === 'note'" [payload]="context.payload" (useClose)="ref.close()"></app-note-save>
            <app-attachment-save *ngIf="context.type === 'attachment'" [payload]="context.payload" (useClose)="ref.close()"></app-attachment-save>
            <app-employee-save *ngIf="context.type === 'employee'" [payload]="context.payload" (useClose)="ref.close()"></app-employee-save>
            <app-product-save *ngIf="context.type === 'product'" [product]="context.payload.product" (useClose)="ref.close()"></app-product-save>
            <app-reuse-import-data *ngIf="context.type === 'import'" [importType]="context.payload.importType" (useClose)="ref.close()"></app-reuse-import-data>
            <app-reuse-mail-sender *ngIf="context.type === 'mail'" [email]="context.payload.email" (useClose)="ref.close()"></app-reuse-mail-sender>
            <app-reuse-setting-profile *ngIf="context.type === 'setting-profile'" (useClose)="ref.close()"></app-reuse-setting-profile>
            <app-reuse-setting-password *ngIf="context.type === 'setting-password'" (useClose)="ref.close()"></app-reuse-setting-password>
            <app-reuse-setting-role *ngIf="context.type === 'setting-role'" [role]="context.payload.role" (useClose)="ref.close()"></app-reuse-setting-role>
        </ng-template>
    </nb-layout-column>
</nb-layout>
