<div nz-menu class="employee-select">
    <div style="height: 48px; width: 100%;" [nbSpinner]="true" *ngIf="state.status === 'finding'"></div>
    <a nz-menu-item class="item" [class.selected]="account.id === selected?.id" *ngFor="let account of state.filterArray" (click)="useSelect.emit(account); this.selected = account">
        <nb-icon icon="person-outline" style="margin-right: 0.7rem;"></nb-icon>
        <pre>{{account.fullname}} <b class="text-primary">{{account.id === state.you.id ? '(You)' : ''}}</b></pre>
    </a>
    <a nz-menu-item class="item" *ngIf="state.filterArray.length === 0 && state.status !== 'finding'" (click)="useNone.emit()">
        <pre>{{state.search === '' ? 'No one to set' : 'No one have name: \'' + state.search + '\''}}</pre>
    </a>
</div>