.update-modal-body,
.update-modal-header {
    width: calc(50vw - 16rem + 5px);
}

.update-modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    .palette {
        width: 100%;
        margin: 0 0 1rem 0;
        height: 6rem;
        overflow-y: hidden;
        overflow-x: auto;
        max-width: 100%;
        white-space: nowrap;
        background: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 5px;
        padding: 1rem 0 1rem 1rem;
        .item {
            display: inline-block;
            width: 4rem;
            height: 4rem;
            margin-right: 1rem;
            background: white;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
            border-radius: 5px;
            cursor: grab;
            &:hover {
                box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            }
            .image {
                width: 4rem;
                height: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 40%;
                }
            }
            .preview {
                display: none;
                width: 100%;
            }
        }
    }
}

@media (min-width: 1010px) and (max-width: 1309px) {
    .update-modal-body,
    .update-modal-header {
        width: calc(70vw);
    }
    .cdk-drag-preview {
        width: calc(67vw - 1rem) !important;
    }
}

@media (max-width: 1009px) {
    .update-modal-body,
    .update-modal-header {
        width: calc(87vw);
    }
    .cdk-drag-preview {
        width: calc(84vw - 2rem) !important;
    }
}

@media (min-width: 1310px) {
    .cdk-drag-preview {
        width: calc(50vw - 20rem + 5px) !important;
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    height: fit-content !important;
    background: white;
    border-radius: 0px !important;
    z-index: 10000 !important;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    .type {
        display: none;
    }
    .image {
        display: none;
    }
    .preview {
        display: block;
    }
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.container-preview {
    background-color: #f7f9fc;
    border: 1px solid #42aaff;
    min-height: 27.5rem;
    max-height: 27.5rem;
    overflow-y: auto;
    align-content: baseline;
    padding: 1rem 0 0 0;
}

.container-control {
    background-color: #f7f9fc;
    border: 1px solid #42aaff;
    min-height: 20rem;
    max-height: 20rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    overflow-y: auto;
    &:hover {
        background-color: #edf1f7;
        cursor: move;
    }
    &.cdk-drop-list-dragging nb-accordion:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    .cdk-drag.item.cdk-drag-placeholder {
        opacity: 0;
        height: auto;
        .type {
            display: none;
        }
        .image {
            display: none;
        }
        .preview {
            width: 100%;
        }
    }
    nb-accordion.cdk-drag-placeholder {
        opacity: 0;
    }
}