nb-card {
    b {
        font-family: monospace, sans-serif;
        font-size: 0.75rem;
    }
}

nb-select {
     ::ng-deep {
        button {
            height: 100% !important;
            width: 100% !important;
            min-width: 80px !important;
            padding: 0 1rem !important;
        }
    }
}