.crm-deal {
    width: 100%;
    height: 100%;
    .crm-deal-header {
        display: flex;
        padding: 16px;
        div.crm-deal-navigation {
            margin-right: 1rem;
            a.crm-deal-navigation-item {
                text-decoration: none;
                color: black;
                background: white;
                width: 48px;
                height: 32px;
                padding: 4px;
                display: flex;
                justify-content: center;
                float: left;
                align-items: center;
                box-shadow: inset 0 0 0 1px #cbcccd, 0 1px 2px rgba(38, 41, 44, .08);
                nb-icon {
                    font-size: 18px;
                    color: #26292c;
                    font-weight: 600;
                }
                &.selected {
                    box-shadow: inset 0 0 0 1px #317ae2, 0 0 0 rgba(49, 122, 226, 0), inset 0 1px 2px rgba(49, 122, 226, .16);
                    background: #eff5fd;
                    &:hover {
                        background: #eff5fd;
                    }
                    nb-icon {
                        color: rgb(49, 122, 226);
                    }
                }
                &:hover {
                    background: #e5e5e5;
                }
            }
        }
        div.crm-deal-actions {
            position: absolute;
            right: 20px;
            height: 32px;
            div.crm-deal-action {
                float: left;
                &:first-child {
                    margin-right: 15px;
                }
                a.crm-deal-action-item {
                    height: 32px;
                    width: 32px;
                    text-decoration: none;
                    color: black;
                    background: white;
                    padding: 4px;
                    display: flex;
                    justify-content: center;
                    float: left;
                    align-items: center;
                    position: relative;
                    box-shadow: inset 0 0 0 1px #cbcccd, 0 1px 2px rgba(38, 41, 44, .08);
                    &:hover {
                        background: #e5e5e5;
                    }
                    &.dropdown {
                        font-weight: 600;
                        min-width: 150px;
                        .icon-left {
                            position: absolute;
                            left: 10px;
                        }
                        .icon-right {
                            position: absolute;
                            right: 8px;
                        }
                    }
                    &.mobile {
                        display: none;
                    }
                }
                a.crm-deal-action-dropdown {
                    text-decoration: none;
                    color: black;
                    background: white;
                    min-width: 150px;
                    height: 32px;
                    padding: 4px;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    float: left;
                    position: relative;
                    align-items: center;
                    box-shadow: inset 0 0 0 1px #cbcccd, 0 1px 2px rgba(38, 41, 44, .08);
                    &:hover {
                        background: #e5e5e5;
                    }
                    .icon-left {
                        position: absolute;
                        left: 10px;
                    }
                    .icon-right {
                        position: absolute;
                        right: 8px;
                    }
                }
                a.crm-deal-action-dropdown-mobile {
                    height: 32px;
                    width: 32px;
                    text-decoration: none;
                    color: black;
                    background: white;
                    padding: 4px;
                    display: none;
                    justify-content: center;
                    float: left;
                    align-items: center;
                    box-shadow: inset 0 0 0 1px #cbcccd, 0 1px 2px rgba(38, 41, 44, .08);
                    &:hover {
                        background: #e5e5e5;
                    }
                }
            }
        }
        div.crm-deal-plus {
            button {
                background: #08a742;
                box-shadow: 0 1px 2px rgba(38, 41, 44, .08);
                &:hover {
                    background: #30b560;
                }
            }
        }
    }
    .crm-deal-body {
        width: 100%;
        height: calc(100% - 64px);
        position: relative;
        .deals {
            max-height: 100%;
            overflow-y: auto;
        }
        .empty {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media(max-width: 789px) {
    .crm-deal {
        .crm-deal-header {
            div.crm-deal-actions {
                div.crm-deal-action {
                    margin-right: 0 !important;
                    a.crm-deal-action-item.dropdown {
                        display: none;
                    }
                    a.crm-deal-action-item.mobile {
                        display: flex;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .crm-deal {
        .crm-deal-header {
            div.crm-deal-navigation {
                margin-right: 2px !important;
            }
            div.crm-deal-actions {
                div.crm-deal-action {
                    margin-right: 0 !important;
                    a.crm-deal-action-item:not(.responsive):not(.mobile) {
                        display: none;
                    }
                }
            }
        }
    }
}
