.create-modal-body,
.create-modal-header {
    width: calc(50vw - 16rem + 5px);
}

.create-modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1309px) {
    .create-modal-body,
    .create-modal-header {
        width: calc(70vw);
    }
}
