<nb-card class="w-per-95 m-auto">
    <nb-card-header>
        <b><nb-icon icon="donate" pack="font-awesome"></nb-icon> {{deal.title}}</b>
        <nb-icon class="float-right" style="font-size: 1.5rem;" (click)="control.setValue(!control.value); useItemCheck.emit()" nbButton [status]="control.value ? 'success' : 'info'" [icon]="control.value ? 'radio-button-on-outline' : 'radio-button-off-outline'"></nb-icon>
    </nb-card-header>
    <nb-card-body>
        <b><nb-icon icon="person-outline"></nb-icon> {{deal.customer.fullname}} (Customer)</b><br>
        <b><nb-icon icon="person-outline"></nb-icon> {{deal.assignee.fullname}} (Assignee)</b><br>
        <b><nb-icon icon="arrowhead-right-outline"></nb-icon> {{deal.stage.name}}</b><br>
        <b><nb-icon icon="browser-outline"></nb-icon> {{deal.stage.pipeline.name}}</b><br>
        <b style="text-transform: capitalize;"><nb-icon icon="flag-outline"></nb-icon> {{deal.status}}</b><br>
        <b *ngIf="isMain"><nb-icon icon="gift-outline"></nb-icon> {{deal.campaign ? deal.campaign.name : 'None'}}</b><br *ngIf="isMain" />
        <b><nb-icon icon="receipt" pack="font-awesome"></nb-icon> {{deal.dealDetails | money}}</b><br><br>
        <nb-form-field class="w-100">
            <textarea style="background: #ffe498; font-family: monospace, sans-serif;" [value]="deal.description ? deal.description : 'None'" rows="7" readonly nbInput status="info" fullWidth></textarea>
        </nb-form-field>
    </nb-card-body>
    <nb-card-footer>
        <b><nb-icon icon="clock-outline"></nb-icon> [{{deal.updatedAt | date: 'dd/MM/yyyy'}}]</b>
        <button (click)="useRemove.emit()" class="float-right ml-1" size="small" outline shape="round" nbButton status="danger">
    <nb-icon icon="trash-2-outline"></nb-icon>
  </button>
        <button (click)="useView()" class="float-right ml-1" size="small" outline shape="round" nbButton status="info">
    <nb-icon icon="eye-outline"></nb-icon>
  </button>
        <button (click)="useEdit()" class="float-right" size="small" outline shape="round" nbButton status="info">
    <nb-icon icon="edit-2-outline"></nb-icon>
  </button>
    </nb-card-footer>
</nb-card>
