<nb-card class="w-per-95 m-auto">
    <nb-card-header>
        <nb-checkbox (checkedChange)="control.setValue($event); useItemCheck.emit()" class="float-left display-flex align-items-center" style="height: 2rem;"></nb-checkbox>
        <button class="float-right ml-1" (click)="show = !show" outline nbButton size="small">
      <nb-icon [icon]="show ? 'arrow-down'  : 'arrow-left' + '-outline'"></nb-icon>
    </button>
    </nb-card-header>
    <nb-card-body *ngIf="show">
        <b><nb-icon icon="donate" pack="font-awesome"></nb-icon> {{deal.title}} (Title)</b><br>
        <b><nb-icon icon="person-outline"></nb-icon> {{deal.customer.fullname}} (Customer)</b><br>
        <b><nb-icon icon="person-outline"></nb-icon> {{deal.assignee.fullname}} (Assignee)</b><br>
        <b><nb-icon icon="arrowhead-right-outline"></nb-icon> {{deal.stage.name}} (Stage)</b><br>
        <b><nb-icon icon="browser-outline"></nb-icon> {{deal.stage.pipeline.name}} (Process)</b><br>
        <b style="text-transform: capitalize;"><nb-icon icon="flag-outline"></nb-icon> {{deal.status}} (Status)</b><br>
        <b *ngIf="isMain"><nb-icon icon="gift-outline"></nb-icon> {{deal.campaign ? deal.campaign.name : 'None'}} (Campaign)</b><br *ngIf="isMain" />
        <b><nb-icon icon="receipt" pack="font-awesome"></nb-icon> {{deal.dealDetails | money}} (Value)</b><br><br>
        <nb-form-field class="w-100">
            <textarea style="background: #ffe498; font-family: monospace, sans-serif;" [value]="deal.description ? deal.description : 'None'" rows="7" readonly nbInput status="info" fullWidth></textarea>
        </nb-form-field>
    </nb-card-body>
    <nb-card-footer *ngIf="show">
        <button (click)="useRemove.emit()" class="float-right ml-1" size="small" outline nbButton status="danger">
    <nb-icon icon="trash-2-outline"></nb-icon>
  </button>
        <button (click)="useView()" class="float-left" size="small" outline nbButton status="info">
    <nb-icon icon="eye-outline"></nb-icon>
  </button>
        <button (click)="useEdit()" class="float-right" size="small" outline nbButton status="info">
    <nb-icon icon="edit-2-outline"></nb-icon>
  </button>
    </nb-card-footer>
</nb-card>