<div nz-menu class="customer-select">
    <div style="height: 48px; width: 100%;" [nbSpinner]="true" *ngIf="state.status === 'finding'"></div>
    <a nz-menu-item class="item" [class.selected]="customer.id === selected?.id" *ngFor="let customer of state.filterArray" (click)="useSelect.emit(customer); this.selected = customer">
        <nb-icon icon="person-outline" style="margin-right: 0.7rem;"></nb-icon>
        <pre>{{customer.fullname}}</pre>
    </a>
    <a nz-menu-item class="item" *ngIf="state.filterArray.length === 0 && state.status !== 'finding'" (click)="useAdd.emit(state.search); useSearch('')">
        <nb-icon icon="plus" style="margin-right: 1rem;"></nb-icon>
        <pre>{{state.search === '' ? 'Add new lead' : 'Add \'' + state.search + '\' as new lead'}}</pre>
    </a>
</div>