<button nbButton status="success" (click)="open(dialog)" size="small">Add Contact</button>
<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>
            <div class="create-modal-header">
                <span>Create new contact</span>
                <button nbButton size="small" style="float:right" shape="round" status="danger"><nb-icon icon="close" (click)="ref.close()"></nb-icon></button>
                <button [disabled]="form.invalid" nbButton size="small" style="float:right; margin-right: 0.5rem;" shape="round" status="success" (click)="submit(ref)"><nb-icon icon="checkmark"></nb-icon></button>
            </div>
        </nb-card-header>
        <nb-card-body>
            <div class="create-modal-body">
                <div nz-row style="width: 100%" [formGroup]="form">
                    <!-- <div nz-col [nzSpan]="24">
                        <input accept="image/*" #fileAvatar (change)="changeAvatar($event)" type="file" style="height: 0; width: 0; position: absolute; overflow: hidden;" />
                        <div class="avatar">
                            <div class="image">
                                <img [src]="form.get('avatar').value ? form.get('avatar').value : '../../../../../../../assets/avatars/avatar.jpg'" />
                            </div>
                            <div class="button">
                                <button nbButton (click)="fileAvatar.click()" size="small" shape="round" status="default"><nb-icon icon="camera"></nb-icon></button>
                            </div>
                        </div>
                    </div> -->
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem;">
                            <nb-icon [class]="(form.get('code').dirty || form.get('code').touched) && form.get('code').invalid ? 'text-danger' : 'text-info'" nbPrefix icon="code-outline"></nb-icon>
                            <input type="text" nbInput fullWidth [formControl]="form.get('code')" [status]="(form.get('code').dirty || form.get('code').touched) && form.get('code').invalid ? 'danger' : 'info'" placeholder="Fill contact code" />
                            <nb-icon class="text-danger" *ngIf="(form.get('code').dirty || form.get('code').touched) && form.get('code').invalid" nbSuffix icon="slash-outline"></nb-icon>
                        </nb-form-field>
                        <span class="text-danger" style="display: block; margin-bottom: 0.5rem; font-weight: 900;" *ngIf="(form.get('code').dirty || form.get('code').touched) && form.get('code').errors?.required">
                        Code must be required
                    </span>
                        <span class="text-danger" style="display: block; margin-bottom: 0.5rem; font-weight: 900;" *ngIf="(form.get('code').dirty || form.get('code').touched) && form.get('code').errors?.unique">
                    Code must be unique
                </span>
                    </div>
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem;">
                            <nb-icon [class]="(form.get('phone').dirty || form.get('phone').touched) && form.get('phone').invalid ? 'text-danger' : 'text-info'" nbPrefix icon="phone-outline"></nb-icon>
                            <input type="text" nbInput fullWidth [formControl]="form.get('phone')" [status]="(form.get('phone').dirty || form.get('phone').touched) && form.get('phone').invalid ? 'danger' : 'info'" placeholder="Fill contact phone" />
                            <nb-icon class="text-danger" *ngIf="(form.get('phone').dirty || form.get('phone').touched) && form.get('phone').invalid" nbSuffix icon="slash-outline"></nb-icon>
                        </nb-form-field>
                        <span class="text-danger" style="display: block; margin-bottom: 0.5rem; font-weight: 900;" *ngIf="(form.get('phone').dirty || form.get('phone').touched) && form.get('phone').errors?.required">
                            Phone must be required
                        </span>
                        <span class="text-danger" style="display: block; margin-bottom: 0.5rem; font-weight: 900;" *ngIf="(form.get('phone').dirty || form.get('phone').touched) && form.get('phone').errors?.pattern">
                          Phone must be true format
                      </span>
                        <span class="text-danger" style="display: block; margin-bottom: 0.5rem; font-weight: 900;" *ngIf="(form.get('phone').dirty || form.get('phone').touched) && form.get('phone').errors?.unique">
                        Phone must be unique
                    </span>
                    </div>
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem;">
                            <nb-icon [class]="(form.get('fullname').dirty || form.get('fullname').touched) && form.get('fullname').invalid ? 'text-danger' : 'text-info'" nbPrefix icon="smiling-face-outline"></nb-icon>
                            <input type="text" nbInput fullWidth [formControl]="form.get('fullname')" [status]="(form.get('fullname').dirty || form.get('fullname').touched) && form.get('fullname').invalid ? 'danger' : 'info'" status="info" placeholder="Fill contact fullname" />
                            <nb-icon class="text-danger" *ngIf="(form.get('fullname').dirty || form.get('fullname').touched) && form.get('fullname').invalid" nbSuffix icon="slash-outline"></nb-icon>
                        </nb-form-field>
                        <span class="text-danger" style="display: block; margin-bottom: 0.5rem; font-weight: 900;" *ngIf="(form.get('fullname').dirty || form.get('fullname').touched) && form.get('fullname').invalid">
                          Fullname must be required
                        </span>
                    </div>
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem;">
                            <nb-icon [class]="(form.get('email').dirty || form.get('email').touched) && form.get('email').invalid ? 'text-danger' : 'text-info'" nbPrefix icon="email-outline"></nb-icon>
                            <input type="text" nbInput fullWidth [formControl]="form.get('email')" [status]="(form.get('email').dirty || form.get('email').touched) && form.get('email').invalid ? 'danger' : 'info'" status="info" placeholder="Fill contact email" />
                            <nb-icon class="text-danger" *ngIf="(form.get('email').dirty || form.get('email').touched) && form.get('email').invalid" nbSuffix icon="slash-outline"></nb-icon>
                        </nb-form-field>
                        <span class="text-danger" style="display: block; margin-bottom: 0.5rem; font-weight: 900;" *ngIf="(form.get('email').dirty || form.get('email').touched) && form.get('email').errors?.required">
                          Email must be required
                      </span>
                        <span class="text-danger" style="display: block; margin-bottom: 0.5rem; font-weight: 900;" *ngIf="(form.get('email').dirty || form.get('email').touched) && form.get('email').errors?.pattern">
                        Email must be true format
                    </span>
                        <span class="text-danger" style="display: block; margin-bottom: 0.5rem; font-weight: 900;" *ngIf="(form.get('email').dirty || form.get('email').touched) && form.get('email').errors?.unique">
                      Email must be unique
                  </span>
                    </div>
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem;">
                            <nb-icon class="text-info" nbPrefix icon="pin-outline"></nb-icon>
                            <input type="text" nbInput fullWidth [formControl]="form.get('address')" status="info" placeholder="Fill contact address" />
                        </nb-form-field>
                    </div>
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem; width: 100%; max-width: 100% !important">
                            <nb-icon class="text-info" nbPrefix icon="car-outline"></nb-icon>
                            <nb-select multiple [status]="'info'" fullWidth placeholder="Select group" [formControl]="form.get('groups')">
                                <nb-option *ngFor="let group of groups" [value]="group.id">{{group.name}}</nb-option>
                            </nb-select>
                        </nb-form-field>
                    </div>
                    <div nz-col [nzSpan]="24">
                        <nb-form-field style="margin-bottom: 0.5rem; width: 100%; max-width: 100% !important">
                            <nb-icon class="text-info" nbPrefix icon="heart-outline"></nb-icon>
                            <nb-select [status]="'info'" fullWidth placeholder="Select Gender" [formControl]="form.get('gender')">
                                <nb-option [value]="true">Male</nb-option>
                                <nb-option [value]="false">Female</nb-option>
                            </nb-select>
                        </nb-form-field>
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</ng-template>
