.event {
    width: 98%;
    margin: auto;
    min-height: 4rem;
    height: 5rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    position: relative;
    border: 1px solid #e5e5e5;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    margin-bottom: 1rem;
    p {
        font-size: 0.8rem;
        font-weight: 600;
    }
    .icon {
        width: 15%;
        height: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        height: 1rem;
        float: left;
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 0.5rem 0 0.5rem;
        font: 600 13px/16px monospace, sans-serif;
        color: #747678;
    }
    &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .time {
        width: 60%;
        height: 3rem;
        padding: 0 0.5rem 0 0.5rem;
        float: left;
        display: flex;
        position: relative;
        align-items: center;
        span {
            display: inline-block;
            font: 600 13px/16px monospace, sans-serif;
            color: #747678;
        }
        .separator {
            margin: 0;
            padding: 0 16px 0 9px;
            width: 8px;
            display: inline-block;
            cursor: default;
            text-align: center;
            font-weight: 900;
        }
    }
}