<nb-card class="h-100 w-100 position-relative" style="background: #edf1f7">
    <nb-card-header style="padding: 1rem 2.25rem;">
        <ngx-spinner [name]="'pipeline-detail'" bdColor="#e5e5e5" [style.opacity]="0.8" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
        <span class="display-flex align-items-center float-left h-100">
        <nb-icon icon="pricetags-outline" class="mr-2"></nb-icon>
          <b style="font: 600 17px/16px monospace, sans-serif; color: #747678;">Deal</b>
        </span>
        <button class="float-right" (click)="useReload()" outline nbButton size="small">
          <nb-icon icon="sync-outline"></nb-icon>
          </button>
        <button *ngIf="state.restores.length > 0" class="float-right mr-2" (click)="useDialog(restoreRef)" status="warning" outline nbButton size="small">
            <nb-icon icon="trash-restore-outline"></nb-icon>
            </button>
        <button class="float-right mr-2" (click)="useViewList()" status="info" outline nbButton size="small">
            <nb-icon icon="menu-outline"></nb-icon>
            </button>
        <button class="float-right mr-2" nz-dropdown [nzDropdownMenu]="pipelineSearch" [nzTrigger]="'click'" [nzPlacement]="'bottomCenter'" [nzBackdrop]="false" outline nbButton status="primary" size="small">
              <nb-icon icon="search-outline"></nb-icon>
              </button>
        <button *ngIf="state.canAssign" class="float-right mr-2" nz-dropdown [nzDropdownMenu]="assigneeSearch" [nzTrigger]="'click'" [nzBackdrop]="false" [nzPlacement]="'bottomCenter'" outline nbButton status="info" size="small">
                <nb-icon icon="people-outline"></nb-icon>
              </button>
        <button class="float-right mr-2" nz-dropdown [nzDropdownMenu]="pipelineAction" [nzTrigger]="'click'" [nzBackdrop]="false" [nzPlacement]="'bottomCenter'" outline status="info" nbButton size="small">
                <nb-icon icon="info-outline"></nb-icon>
                    </button>
        <button *ngIf="state.canAdd" class="float-right mr-2" (click)="usePlus()" status="success" outline nbButton size="small">
              <nb-icon icon="plus-outline"></nb-icon>
              </button>
        <nz-dropdown-menu #pipelineAction="nzDropdownMenu">
            <app-pipeline-action [pipelines]="state.pipelines" [canAdd]="state.canAddProcess" [canUpdate]="state.canUpdateProcess" [canRemove]="state.canRemoveProcess" (useSelect)="useSelectPipeline($event)" [selectedPipeline]="state.selectedPipeline" (useAdd)="useAdd()"
                (useEdit)="useEdit()" (useDelete)="useDialog(removeRef)"></app-pipeline-action>
        </nz-dropdown-menu>
        <nz-dropdown-menu #pipelineSearch="nzDropdownMenu">
            <app-pipeline-search class="display-block" style="margin-left: 1.75rem;" (useSearch)="useSearch($event)" [search]="state.search"></app-pipeline-search>
        </nz-dropdown-menu>
        <nz-dropdown-menu #assigneeSearch="nzDropdownMenu">
            <app-reuse-employee-filter [selectedEmployees]="state.search.assignees" class="display-block" style="margin-left: 1.75rem;" (useSearch)="useSearch({assignees: $event})"></app-reuse-employee-filter>
        </nz-dropdown-menu>
    </nb-card-header>
    <nb-card-body class="p-0">
        <div class="crm-pipeline-body">
            <div class="stages" cdkDropListGroup>
                <app-pipeline-stage [search]="state.search" (useDragging)="dragging = $event" [dragging]="state.dragging" *ngFor="let stage of (state.selectedPipeline ? state.selectedPipeline.stages : []); let i = index" [stage]="stage" [index]="i" [selectedPipeline]="state.selectedPipeline"></app-pipeline-stage>
            </div>
            <div class="empty" *ngIf="state.selectedPipeline?.stages.length === 0">
                <div class="text-center">
                    <p style="font-weight: bold;">Dont't have any stage</p>
                    <button (click)="useEdit()" nbButton size="small" status="success">
              <nb-icon icon="plus-outline"></nb-icon>
              New Stage
            </button>
                </div>

            </div>
        </div>
    </nb-card-body>
</nb-card>
<ng-template #removeRef let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Remove process
        </nb-card-header>
        <nb-card-body>Are you sure you wish remove this process?</nb-card-body>
        <nb-card-footer>
            <button style="float: right;" status="primary" nbButton size="small" (click)="useRemove(ref)">Remove</button>
            <button style="float: right; margin-right: 0.5rem;" status="default" nbButton size="small" (click)="ref.close()">Cancel</button>
        </nb-card-footer>
    </nb-card>
</ng-template>
<ng-template #restoreRef let-data let-ref="dialogRef">
    <app-pipeline-restore [pipelines]="state.restores" (useClose)="ref.close()" (useDone)="useRestore($event)"></app-pipeline-restore>
</ng-template>