nb-card {
    width: 789px;
    margin-top: 29px;
    nb-card-body {
        max-height: calc(100vh - 238px);
        overflow: auto;
    }
}

@media (max-width: 789px) {
    nb-card {
        width: 95vw;
    }
}

nb-select {
     ::ng-deep {
        button {
            height: 100% !important;
            width: 100% !important;
            min-width: 80px !important;
            padding: 0 1rem !important;
        }
    }
}
