<nb-card style="width: 95%; margin: auto; border-radius: 10px;">
    <nb-card-header style="display: flex; align-items: center; min-height: 6rem; position: relative;">
        <ngx-spinner [name]="'contact-item-' + customer.id" bdColor="#e6e6e6" [style.opacity]="0.8" [zIndex]="999" size="tiny" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
        <div style="width: 3rem; height: 3rem; display: flex; align-items: center; justify-content: center; border-radius: 50%; float: left; margin-right: 1rem; border: 1px solid #e5e5e5; cursor: pointer" (click)="useView()">
            <img style="height: 3rem; width: 3rem; border-radius: 50%;" *ngIf="customer.avatar" [src]="customer.avatar" />
            <b *ngIf="!customer.avatar">{{ customer.fullname | key }}</b>
        </div>
        <div style="width: calc(100% - 6.5rem);">
            <div style="display: block; text-overflow: ellipsis; width: 100%; white-space: nowrap; overflow: hidden;">
                <span style="cursor: pointer" (click)="useView()">
            <nb-icon icon="person-outline" class="mr-2"></nb-icon>
            <b style="font: 600 17px/16px monospace, sans-serif; color: #747678;" [innerHTML]="customer.fullname | mask: search"></b>
          </span>
            </div>
            <button shape="round" nbButton status="success" (click)="usePhone(customer.phone)" class="mr-1 mt-1" outline size="small">
            <nb-icon icon="phone-outline"></nb-icon>
          </button>
            <button shape="round" nbButton status="danger" (click)="useMail(customer.email)" class="mr-1 mt-1" outline size="small">
            <nb-icon icon="email-outline"></nb-icon>
          </button>
            <button *ngIf="canUpdate" nbButton status="primary" (click)="useEdit()" class="position-absolute" outline [style.top]="'0.5rem'" [style.right]="'2.5rem'" size="tiny">
            <nb-icon icon="edit-2-outline"></nb-icon>
          </button>
            <button nbButton status="info" (click)="useView()" class="position-absolute" [style.top]="'0.5rem'" [style.right]="'0.5rem'" outline size="tiny">
            <nb-icon icon="eye-outline"></nb-icon>
          </button>
            <button shape="round" nbButton status="success" (click)="useDeal()" class="mr-1 mt-1" outline size="small">
            <nb-icon class="display-flex justify-content-center align-items-center" icon="donate" pack="font-awesome"></nb-icon>
          </button>
            <button *ngIf="canRemove" (click)="useToggleState.emit()" nbButton [status]="!customer.isDelete ? 'success' : 'danger'" class="position-absolute" [style.bottom]="'0.5rem'" [style.right]="'0.5rem'" outline size="tiny">
            {{!customer.isDelete ? 'Active' : 'Disabled'}}
          </button>
        </div>
    </nb-card-header>
</nb-card>