<nb-card class="position-relative" [class.h-100]="isMain" [class.w-100]="isMain">
    <ngx-spinner [name]="'log-main'" bdColor="#e5e5e5" [style.opacity]="0.8" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
    <nb-card-header style="padding: 1rem 1rem; height: 4rem;">
        <span class="display-flex align-items-center float-left h-100">
    <nb-icon icon="code-outline"  class="mr-2"></nb-icon>
    <b style="font: 600 17px/16px monospace, sans-serif; color: #747678">Log</b>
  </span>
        <button *ngIf="!isMain" class="float-right ml-1" (click)="state.show = !state.show" outline nbButton size="small">
    <nb-icon [icon]="state.show ? 'arrow-down'  : 'arrow-left' + '-outline'"></nb-icon>
  </button>
        <button class="float-right" (click)="useReload()" outline nbButton size="small">
    <nb-icon icon="sync-outline"></nb-icon>
    </button>
        <!-- <app-log-type [type]="state.type" (typeChange)="state.type = $event; state.show = true"></app-log-type> -->
        <app-log-export [data]="state.array"></app-log-export>
    </nb-card-header>
    <nb-card-body class="p-0" *ngIf="isMain || state.show">
        <div class="main">
            <div class="content" *ngIf="state.array.length > 0">
                <app-log-datatable (useCheck)="useCheck($event)" [isMain]="isMain" *ngIf="state.type === 'datatable'" [deal]="deal" [campaign]="campaign" [state]="state" [sort]="sort" (useSortState)="state.sortBy = $event; useSort()"></app-log-datatable>
                <app-log-card [isMain]="isMain" *ngIf="state.type === 'card'" [deal]="deal" [campaign]="campaign" [state]="state" [sort]="sort" (useSortState)="state.sortBy = $event; useSort()"></app-log-card>
            </div>
            <app-support-page-count *ngIf="state.array.length > 0 && checkList.length === 0" [pageCount]="state.pageCount" [active]="state.active.value" [variable]="'logs'" [length]="state.array.length" (useSelectPageCount)="state.pageCount = $event;useFilter()"></app-support-page-count>
            <app-log-solve-check *ngIf="state.array.length > 0 && checkList.length > 0" [checkList]="checkList"></app-log-solve-check>
            <div class="empty" [class.un-main]="!isMain" *ngIf="state.array.length === 0">
                <img src="assets/empty.png" />
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer *ngIf="isMain || state.show">
        <app-support-pagination (useChange)="usePagination()" [active]="state.active" [max]="state.max"></app-support-pagination>
    </nb-card-footer>
</nb-card>
