.avatar {
    width: 100%;
    margin-bottom: 1rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    min-height: 250px;
    border: 1px solid #e5e5e5;
    align-items: center;
    position: relative;
    .avatar-picker {
        &.danger {
            border: 1px solid #dc3545;
        }
        border: 1px solid #e5e5e5;
        width: 150px;
        position: relative;
        height: 150px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

::ng-deep {
    .item-body {
        overflow: hidden !important;
    }
    nb-select {
        button {
            height: 4rem;
        }
    }
}

.datatable {
    max-width: 100%;
    width: 100%;
    overflow: auto;
    .datatable-body {
        overflow-y: auto;
        width: fit-content;
        max-height: calc(64vh - 7rem);
    }
    .datatable-item {
        white-space: nowrap;
        .image {
            display: inline-block;
            position: relative;
            img {
                width: 3rem;
                height: 3rem;
                top: 0.5rem;
                left: 0.5rem;
                position: absolute;
                border-radius: 50%;
                border: 2px solid #e5e5e5;
                &.error {
                    border: 2px solid #dc3545;
                }
            }
            button {
                position: absolute;
                bottom: 0.25rem;
                right: 0.25rem;
                font-size: 1rem;
            }
            .empty-image {
                width: 3rem;
                height: 3rem;
                top: 0.5rem;
                left: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                border-radius: 50%;
                border: 1px solid #e5e5e5;
            }
            .field {
                display: inline-block;
                nb-form-field {
                    width: 4rem;
                    input {
                        height: 4rem;
                    }
                }
            }
        }
        .select {
            display: inline-block;
            position: relative;
            nb-checkbox {
                width: 3rem;
                height: 3rem;
                top: 0.5rem;
                left: 0.5rem;
                position: absolute;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .field {
                display: inline-block;
                nb-form-field {
                    width: 4rem;
                    input {
                        height: 4rem;
                    }
                }
            }
        }
        .action {
            display: inline-block;
            position: relative;
            .field {
                display: inline-block;
                nb-form-field {
                    width: 4rem;
                    input {
                        height: 4rem;
                    }
                }
            }
            button {
                position: absolute;
                top: 1rem;
                width: 2rem;
                height: 2rem;
                padding: 0;
                left: 1rem;
            }
        }
        .field {
            display: inline-block;
            nb-form-field {
                width: 15rem;
                &.short {
                    width: 5rem;
                }
                &.medium {
                    width: 10rem;
                }
                &.large {
                    width: 15rem;
                }
                &.gaint {
                    width: 20rem;
                }
                input {
                    height: 4rem;
                }
            }
        }
    }
}