nb-card {
    width: 789px;
    margin-top: 29px;
    nb-card-body {
        max-height: 75vh;
        padding: 0;
        overflow: auto;
    }
    &.full {
        width: 95vW;
    }
}

@media (max-width: 789px) {
    nb-card {
        width: 95vw;
        &.inside {
            width: 100%;
        }
    }
}