<nb-card style="position: relative; margin: 0;">
    <ngx-spinner [name]="'import-data'" bdColor="#e5e5e5" [style.opacity]="'0.8'" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
    <nb-card-header style="background: #f7f7f7; border-bottom: 1px solid #e5e5e5;">
        Import data
        <button (click)="useClose.emit()" style="float:right" nbButton size="tiny">
        <nb-icon icon="close"></nb-icon>
    </button>
    </nb-card-header>
    <nb-card-body>
        <div class="mb-2" *ngIf="!importType">
            <button nbButton class="mr-1" [status]="type === 'customer' ? 'primary' : 'basic'" (click)="type = 'customer'; data = undefined" size="small">Customer</button>
            <button nbButton class="mr-1" [status]="type === 'product' ? 'primary' : 'basic'" (click)="type = 'product'; data = undefined" size="small">Product</button>
            <button nbButton class="mr-1" [status]="type === 'employee' ? 'primary' : 'basic'" (click)="type = 'employee'; data = undefined" size="small">Employee</button>
        </div>
        <nz-upload *ngIf="!data" nzType="drag" [nzBeforeUpload]="useChange" nzListType="picture" [nzMultiple]="true">
            <p class="ant-upload-drag-icon">
                <i nz-icon nzType="inbox"></i>
            </p>
            <p class="ant-upload-text">Click or drag file to this area to upload</p>
            <p class="ant-upload-hint">
                Support for a single or bulk upload. Strictly prohibit from uploading company data or other band datas
            </p>
        </nz-upload>
        <div class="mt-2">
            <app-customer-import [data]="data" *ngIf="type === 'customer'" (useChange)="data = undefined" (useLoading)="useShowSpinner()" (useUnLoading)="useHideSpinner()"></app-customer-import>
            <app-product-import [data]="data" *ngIf="type === 'product'" (useChange)="data = undefined" (useLoading)="useShowSpinner()" (useUnLoading)="useHideSpinner()"></app-product-import>
            <app-employee-import [data]="data" *ngIf="type === 'employee'" (useChange)="data = undefined" (useLoading)="useShowSpinner()" (useUnLoading)="useHideSpinner()"></app-employee-import>
        </div>
    </nb-card-body>
</nb-card>
