<button class="float-right mr-1" (click)="useExport(export)" status="success" outline nbButton size="small">
  <nb-icon icon="download-outline"></nb-icon>
</button>
<table #export style="display: none">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>type</th>
            <th>dateStart</th>
            <th>dateEnd</th>
            <th>deal</th>
            <th>campaign</th>
            <th>assignee</th>
            <th>assignBy</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <th>{{ item.id }}</th>
            <th>{{ item.name }}</th>
            <th>{{ item.type }}</th>
            <th>{{ item.dateStart | date: 'hh:mm dd/MM/yyyy' }}</th>
            <th>{{ item.dateEnd | date: 'hh:mm dd/MM/yyyy' }}</th>
            <th>{{ item.deal?.title }}</th>
            <th>{{ item.campaign?.name }}</th>
            <th>{{ item.assignee?.fullname }}</th>
            <th>{{ item.assignBy?.fullname }}</th>
        </tr>
    </tbody>
</table>