<nb-card>
    <nb-card-header style="padding: 0.5rem 1.5rem;">
        <b style="font: 600 17px/16px monospace, sans-serif; color: #747678;">Search</b>
    </nb-card-header>
    <nb-card-body *ngIf="stage === 'list'">
        <nb-form-field class="float-left mb-2 w-100">
            <input class="border-radius-0" [(ngModel)]="search.name" [style.height]="'40px'" fullWidth placeholder="Search by name" nbInput (ngModelChange)="useSearch.emit(search)" />
            <nb-icon nbSuffix icon="search-outline"></nb-icon>
        </nb-form-field>
        <nb-form-field class="float-left mb-2 w-100">
            <nb-icon *ngIf="!search.range" nbSuffix icon="clock-outline"></nb-icon>
            <input readonly class="border-radius-0" [(ngModel)]="search.range" (ngModelChange)="useSearch.emit(search)" [style.height]="'40px'" fullWidth placeholder="Start Time - End Time" nbInput [nbDatepicker]="formpicker" />
            <nb-icon *ngIf="search.range" nbSuffix status="danger" (click)="search.range = undefined; useSearch.emit(search)" icon="close-circle-outline"></nb-icon>
            <nb-rangepicker #formpicker format="yyyy-MM-dd"></nb-rangepicker>
        </nb-form-field>
        <nb-form-field class="float-left mb-2 w-100" style="max-width:
    100%;">
            <nb-select [style.height]="'40px'" [(ngModel)]="search.states" multiple fullWidth placeholder="Select state" (ngModelChange)="useSearch.emit(search)">
                <nb-option value="notStart" class="text-primary">Not Started</nb-option>
                <nb-option value="processing" class="text-success">Processing</nb-option>
                <nb-option value="expired" class="text-danger">Expired</nb-option>
            </nb-select>
        </nb-form-field>
    </nb-card-body>
    <nb-card-body *ngIf="stage === 'calendar'">
        <nb-form-field class="float-left mb-2 w-100" style="max-width:
    100%;">
            <nb-select size="small" [style.height]="'40px'" fullWidth placeholder="Select Type" [(ngModel)]="search.type" (ngModelChange)="useSearch.emit(search)">
                <nb-option value="month">Month</nb-option>
                <nb-option value="week">Week</nb-option>
                <nb-option value="day">Day</nb-option>
            </nb-select>
        </nb-form-field>
        <nb-form-field class="float-left mb-2 w-100">
            <nb-icon icon="calendar-outline" nbSuffix></nb-icon>
            <input class="border-radius-0" fullWidth readonly size="small" [nbDatepicker]="datePicker" [style.height]="'40px'" nbInput [value]="search.viewDate | date: 'dd/MM/yyyy'">
            <nb-datepicker (dateChange)="search.viewDate = $event; useSearch.emit(search)" [format]="'dd/MM/yyyy'" #datePicker></nb-datepicker>
        </nb-form-field>
        <div class="float-left mb-2 w-100">
            <button nbButton status="primary" class="float-left border-radius-0" [style.height]="'40px'" [style.width]="'40px'" size="small" mwlCalendarPreviousView [view]="search.type" [(viewDate)]="search.viewDate" (viewDateChange)="useSearch.emit(search)">
      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
      </button>
            <button nbButton status="default" class="float-left border-radius-0" [style.height]="'40px'" [style.width]="'calc(100% - 80px)'" size="small" mwlCalendarToday [(viewDate)]="search.viewDate" (viewDateChange)="useSearch.emit(search)">
          Today
      </button>
            <button nbButton status="primary" class="float-left border-radius-0" [style.height]="'40px'" [style.width]="'40px'" size="small" mwlCalendarNextView [view]="search.type" [(viewDate)]="search.viewDate" (viewDateChange)="useSearch.emit(search)">
        <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
      </button>
        </div>
    </nb-card-body>
</nb-card>