.deal {
    width: 98%;
    margin: auto;
    min-height: 86px;
    height: auto;
    padding: 6px 8px;
    background: white;
    margin-bottom: 0.5rem;
    position: relative;
    &.changing {
        opacity: 0.5;
    }
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .05),
    0 1px 2px -2px rgba(0, 0, 0, .06),
    0 1px 3px 0 rgba(0, 0, 0, .07);
    &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 1px 0px, rgba(0, 0, 0, 0.05) 0px 2px 2px 0px, rgba(0, 0, 0, 0.06) 0px 3px 1px -2px, rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
    }
    .deal-activity {
        position: absolute;
        bottom: 0.25rem;
        right: 0.25rem;
    }
    .deal-more {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
    }
    .deal-move {
        position: absolute;
        top: 36px;
        right: 0.25rem;
    }
    .deal-info {
        height: 100%;
        width: 100%;
        .deal-header {
            min-height: 4px;
            border-radius: 4px;
            width: 32px;
            background-color: rgb(255, 204, 0);
        }
        .deal-body {
            margin-top: 10px;
            width: 100%;
            min-height: 36px;
            span {
                font: 600 17px/16px monospace, sans-serif;
                color: #747678;
                word-wrap: break-word;
                white-space: -moz-pre-wrap;
                white-space: pre-wrap;
            }
        }
        .deal-value {
            margin-top: 6px;
            width: 100%;
            height: 20px;
            span {
                font: 600 13px / 16px "Source Sans Pro", sans-serif;
                color: rgb(116, 118, 120);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
    &.dragging:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    &.cdk-drag-placeholder {
        opacity: 0;
    }
    &.cdk-drag-preview {
        box-sizing: border-box;
        height: fit-content !important;
        background: white;
        border-radius: 0px !important;
        z-index: 10000 !important;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}