<!-- <div cdkDrag class="deal" [cdkDragStartDelay]="10" [class.dragging]="dragging" [cdkDragDisabled]="deal?.changing || deal?.status !== 'processing'" [class.changing]="deal?.changing" (cdkDragStarted)="useDragging.emit(true)" (cdkDragEnded)="useDragging.emit(false)"> -->
<div class="deal" [class.canDrag]="deal?.status === 'processing'" [class.dragging]="dragging" [class.changing]="deal?.changing">
    <div class="deal-info" (click)="useDetail()">
        <div class="deal-header"></div>
        <div class="deal-body">
            <nb-icon pack="eva" icon="inbox" style="margin-right: 0.3rem;"></nb-icon>
            <span>{{deal.title}}</span>
            <br>
            <nb-icon pack="eva" icon="calendar" style="margin-right: 0.3rem;"></nb-icon>
            <span>{{deal.createdAt | date: 'HH:mm dd/MM/yyyy'}}</span>
        </div>
        <div class="deal-value">
            <nb-icon pack="eva" icon="person" style="margin-right: 0.3rem;"></nb-icon>
            <span>₫{{[deal] | totalMoney}}</span>
        </div>
    </div>
    <button nbButton *ngIf="deal.status === 'processing'" size="tiny" shape="round" class="deal-move" (click)="useDialog(movetoRef)">
      <nb-icon pack="eva" icon="car-outline"></nb-icon>
    </button>
    <button nbButton *ngIf="deal.status === 'processing'" size="tiny" shape="round" class="deal-more" nz-dropdown [nzDropdownMenu]="more" [nzBackdrop]="false" [nzTrigger]="'click'" nzPlacement="bottomCenter">
      <nb-icon pack="eva" icon="more-horizontal-outline"></nb-icon>
    </button>
    <button nbButton *ngIf="deal.status === 'processing'" size="tiny" shape="round" class="deal-activity" [nbPopover]="activityRef" nbPopoverPlacement="end">
      <nb-icon pack="eva" icon="alert-triangle-outline" status="warning"></nb-icon>
    </button>
    <span *ngIf="deal.status !== 'processing'" [class.bg-danger]="deal.status === 'close'" style="display: flex; position: absolute; top: 2.2rem; right: 0.5rem; padding: 0.2rem; border-radius: 5px; width: 80px; letter-spacing: 2px; justify-content: center; align-items: center;"
        [class.bg-success]="deal.status === 'won'">
        <b style="text-transform: uppercase; color: white; font-family: victor mono, Menlo, Monaco, 'Courier New', monospace;">{{deal.status}}</b>
    </span>
</div>
<nz-dropdown-menu #more="nzDropdownMenu">
    <ul nz-menu style="border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
        <li nz-menu-item (click)="useWon()" style="width: 200px; display: flex; justify-content: center; align-items: center; font-weight: 600; padding: 1rem;" class="text-success">WON</li>
        <li nz-menu-item (click)="useClose()" style="width: 200px; display: flex; justify-content: center; align-items: center; font-weight: 600; padding: 1rem;" class="text-danger">CLOSE</li>
        <li nz-menu-item (click)="useDelete()" style="width: 200px; display: flex; justify-content: center; align-items: center; font-weight: 600; padding: 1rem;">DELETE</li>
    </ul>
</nz-dropdown-menu>
<ng-template #activityRef>
    <app-pipeline-activity [deal]="deal"></app-pipeline-activity>
</ng-template>
<ng-template #movetoRef let-data let-ref="dialogRef">
    <app-reuse-pipeline-move-to [deal]="deal" (useMove)="useMoveTo($event); ref.close()" (useClose)="ref.close()"></app-reuse-pipeline-move-to>
</ng-template>
