<!-- <div class="role-main">
    <div class="role">
        <div class="name">
            Roles
        </div>
        <div class="search">
            <nb-form-field class="not-search" [nbSpinner]="state.search.role.stage === 'querying'" [nbSpinnerSize]="'tiny'">
                <nb-icon [ngStyle]="{'opacity': state.search.role.stage === 'done' ? '1' : '0'}" nbPrefix icon="search-outline"></nb-icon>
                <input (input)="useFilter()" fullWidth [placeholder]="'Search'" shape="rectangle" [(ngModel)]="state.search.role.value" nbInput size="medium" />
            </nb-form-field>
        </div>
        <div class="items">
            <div class="item" [class.selected]="state.selectedRole.value.id === role.id" (click)="useSelectRole(role)" *ngFor="let role of state.filterRoles">
                <b>{{role.name}}</b>
            </div>
            <div class="item add" (click)="usePlus()" [class.selected]="!state.selectedRole.value.id">
                <nb-icon icon="plus-outline"></nb-icon>
            </div>
        </div>
    </div>
    <div class="role">
        <div class="name">
            Account List
        </div>
        <div class="search">
            <button style="float: left" (click)="usePlusAccount()" nbButton status="success" outline>
            <nb-icon icon="plus-outline"></nb-icon>
          </button>
            <nb-form-field style="width: calc(100% - 6rem); float: left;" class="not-search" [nbSpinner]="state.search.account.stage === 'querying'" [nbSpinnerSize]="'tiny'">
                <nb-icon [ngStyle]="{'opacity': state.search.account.stage === 'done' ? '1' : '0'}" nbPrefix icon="search-outline"></nb-icon>
                <input (input)="useFilterAccount()" fullWidth [placeholder]="'Search'" shape="rectangle" [(ngModel)]="state.search.account.value" nbInput size="large" />
            </nb-form-field>
            <button (click)="useReload()" nbButton status="default" outline>
              <nb-icon icon="sync-outline"></nb-icon>
            </button>
        </div>
        <div class="items pb-3">
            <app-role-account *ngFor="let account of state.filterAccounts" (useToggle)="useToggleAccount(account, $event)" [isPlus]="state.isPlus" [level]="state.selectedRole.value.level" [employee]="account"></app-role-account>
        </div>
    </div>
    <ngx-spinner [name]="'role-main'" bdColor="#e5e5e5" [style.opacity]="0.8" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
    <div class="role text-center" [formGroup]="state.selectedRole">
        <div class="name">
            Information & Permissions
        </div>
        <div *ngIf="state.selectedRole.value.level > 0" class="content">
            <span style="display: block; margin-bottom: 0.5rem; font-weight: 600" [class.text-danger]="
          state.selectedRole.get('name').invalid &&
          (state.selectedRole.get('name').touched || state.selectedRole.get('name').dirty)
        ">Name <span class="text-danger">*</span></span>
            <nb-form-field style="width: 100%; margin-bottom: 1rem">
                <nb-icon icon="pin-outline" nbPrefix></nb-icon>
                <input [status]="
              state.selectedRole.get('name').invalid &&
              (state.selectedRole.get('name').touched || state.selectedRole.get('name').dirty) ? 'danger' : 'basic'
            " fullWidth [formControl]="state.selectedRole.get('name')" nbInput size="small" />
            </nb-form-field>
            <span style="display: block; margin-bottom: 0.5rem; font-weight: 600" [class.text-danger]="
                  state.selectedRole.get('level').invalid &&
                  (state.selectedRole.get('level').touched || state.selectedRole.get('level').dirty)
                ">Level <span class="text-danger">*</span></span>
            <nb-form-field style="width: 100%; margin-bottom: 1rem">
                <button nbButton ghost (click)="useMinusLevel()" nbPrefix>
                  <nb-icon icon="minus-outline"></nb-icon>
                </button>
                <input style="text-align: center;" readonly [status]="
                      state.selectedRole.get('level').invalid &&
                      (state.selectedRole.get('level').touched || state.selectedRole.get('level').dirty) ? 'danger' : 'basic'
                    " fullWidth [value]="state.selectedRole.get('level').value" nbInput size="small" />
                <button nbButton ghost (click)="usePlusLevel()" nbSuffix>
                      <nb-icon icon="plus-outline"></nb-icon>
                    </button>
            </nb-form-field>
            <span style="display: block; margin-bottom: 0.5rem; font-weight: 600">Permissions</span
                >
            <div nz-row style="width: 100%;" *ngFor="let permission of state.permissions">
              <div nz-col [nzSpan]="24" *ngFor="let item of permission">
                <nb-toggle status="success" [formControl]="state.selectedRole.get(item.value)">{{item.label}}</nb-toggle>
              </div>
            </div>
            <span style="display: block; margin-bottom: 0.5rem; font-weight: 600">Description</span
              >
            <nb-form-field style="width: 100%; margin-bottom: 1rem">
              <textarea
                #area
                placeHolder="Description"
                fullWidth
                [formControl]="state.selectedRole.get('description')"
                rows="5"
                nbInput
              ></textarea>
            </nb-form-field>
        </div>
        <div *ngIf="state.selectedRole.value.level === 0" class="cant-edit">
          <p>
            This role is the highest role in the system.
            This role owns all permissions of the system.
            This role properties cannot be changed.
          </p>
        </div>
        <div class="footer">
          <button nbButton status="primary" class="mb-3" size="small" fullWidth outline (click)="useSubmit()">Save</button>
        </div>

    </div>
</div> -->

<nb-card class="h-100 w-100 position-relative">
    <ngx-spinner [name]="'role-main'" bdColor="#e5e5e5" [style.opacity]="0.8" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
    <nb-card-header style="padding: 1rem 2.25rem;">
        <span class="display-flex align-items-center float-left h-100" style="max-width: 50%;">
    <nb-icon icon="settings-2-outline" class="mr-2"></nb-icon>
      <b style="font: 600 17px/16px monospace, sans-serif; color: #747678;">{{state.selectedRole ? state.selectedRole.name : 'Settings'}}</b>
        </span>
        <button class="float-right" (click)="useReload()" outline nbButton size="small">
      <nb-icon icon="sync-outline"></nb-icon>
      </button>
        <button class="float-right mr-2" nz-dropdown [nzDropdownMenu]="roleSearch" [nzTrigger]="'click'" [nzPlacement]="'bottomCenter'" [nzBackdrop]="false" outline nbButton status="primary" size="small">
          <nb-icon icon="search-outline"></nb-icon>
          </button>
        <button class="float-right mr-2" nz-dropdown [nzDropdownMenu]="roleInformation" [nzTrigger]="'click'" [nzBackdrop]="false" [nzPlacement]="'bottomCenter'" outline status="info" nbButton size="small">
            <nb-icon icon="info-outline"></nb-icon>
                </button>
        <button class="float-right mr-2" (click)="useImport()" status="info" outline nbButton size="small">
                  <nb-icon icon="upload" class="display-flex justify-content-center align-items-center" pack="font-awesome"></nb-icon>
                  </button>
        <button class="float-right mr-2" (click)="usePlus()" status="success" outline nbButton size="small">
          <nb-icon icon="plus-outline"></nb-icon>
          </button>
        <nz-dropdown-menu #roleInformation="nzDropdownMenu">
            <app-role-information [selectedRole]="state.selectedRole" (useSelect)="state.selectedRole = $event; useFilter()"></app-role-information>
        </nz-dropdown-menu>
        <nz-dropdown-menu #roleSearch="nzDropdownMenu">
            <app-role-search class="display-block" style="margin-left: 1.75rem;" (useSearch)="useSearch($event)" [search]="state.search"></app-role-search>
        </nz-dropdown-menu>
    </nb-card-header>
    <nb-card-body class="p-0">
        <div class="crm-account">
            <div class='crm-account-body'>
                <div nz-row style="width: 90%; margin: auto">
                    <div nz-col class="mb-2" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="8" [nzXXl]="8" *ngFor="let account of state.filterArray">
                        <app-role-account [selectedRole]="state.selectedRole" [account]="account"></app-role-account>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>