.main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    .content {
        height: 100%;
        width: calc(1010px - 6rem);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 4.5rem 0 4.5rem 0;
        .list {
            width: 100%;
            height: 100%;
            align-content: baseline;
            nb-accordion {
                padding: 0 0.5rem 0 0.5rem;
            }
        }
    }
}

.header {
    min-height: 3.5rem;
    position: fixed;
    height: 3.5;
    width: calc(100% - 6rem + 5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    right: 0;
    .content {
        height: 3.5rem;
        background: white;
        border-radius: 5px;
        width: calc(1010px - 7rem);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        position: relative;
        .customer {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            img {
                width: 80%;
                height: 80%;
            }
        }
        .action {
            height: 100%;
            width: 100%;
        }
        .search {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 3;
        }
    }
}

@media (max-width: 1009px) {
    .main {
        .content {
            width: 100vw;
            .list {
                .item {
                    padding: 0 2rem 0 2rem;
                }
            }
        }
    }
    .header {
        width: 100%;
        left: 0;
        .content {
            width: 100%;
        }
    }
}

.done {
    border-left: 10px solid #28a745;
}

.processing {
    border-left: 10px solid#dc3545;
}

.tab-content {
    min-height: calc(100vh - 30rem);
    width: 100%;
    overflow-x: hidden;
    border: 2px solid #7cc7fe;
    background-color: #f7f9fc;
    padding: 1rem 1rem 0 1rem;
    position: relative;
    .employee {
        width: 100%;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 9rem;
        background: white;
        position: relative;
        .avatar {
            display: flex;
            justify-content: center;
            align-self: center;
            width: 3.5rem;
            height: 3.5rem;
            position: absolute;
            top: 2.75rem;
            left: 0.5rem;
            img {
                width: 90%;
                height: 90%;
            }
        }
        .information {
            width: calc(100% - 5rem);
            position: absolute;
            left: 4.5rem;
            top: 0.2rem;
            height: 100%;
        }
    }
    .task-header {
        height: 3rem;
        width: 93%;
        margin: auto;
        position: relative;
        .add {
            position: absolute;
            top: 0.5rem;
        }
        .search {
            position: absolute;
            top: 1rem;
            right: 2.5rem;
        }
        .more {
            position: absolute;
            top: 1rem;
            right: 0.5rem;
        }
    }
    .task-body {
        min-height: calc(100vh - 19.5rem);
        width: 100%;
        max-height: calc(100vh - 20rem);
        overflow: auto;
        margin-top: 1rem;
        &::-webkit-scrollbar {
            width: 3px;
            ;
        }
        .task {
            border-radius: 10px;
            background: white;
            padding: 0.8rem;
            width: 95%;
            margin: auto;
            margin-bottom: 1rem;
            position: relative;
            box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
        }
    }
    .statistical {
        min-height: calc(100vh - 15.5rem);
        width: 100%;
        max-height: calc(100vh - 24.5rem);
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 3px;
            ;
        }
    }
    .department {
        min-height: calc(100vh - 15.5rem);
        width: 100%;
        max-height: calc(100vh - 24.5rem);
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 3px;
            ;
        }
    }
    .comments {
        min-height: calc(100vh - 34rem);
        width: 100%;
        max-height: calc(100vh - 20rem);
        padding: 1rem;
        overflow-y: auto;
        margin-bottom: 4.5rem;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            width: 3px;
            ;
        }
        .comment {
            width: 100%;
            .comment-avatar {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.5rem;
                float: left;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .comment-message {
                background: white;
                border-radius: 10px;
                width: calc(100% - 2rem);
                float: left;
                padding: 0.5rem 1rem 0.5rem 1rem;
                min-height: 3rem;
                margin-bottom: 1rem;
                word-wrap: break-word;
                white-space: -moz-pre-wrap;
                white-space: pre-wrap;
            }
        }
    }
}
