<div class="header" *ngIf="instance">
    <div class="content">
        <div class="action">
            <!-- <div class="button-icon-circle" style="position: absolute; right: 0.5rem; top: 0.5rem;" [nzPlacement]="'bottomRight'" [nzOverlayClassName]="'mt-1 l-1-half'" nz-dropdown [nzDropdownMenu]="dropdown">
              <nb-icon icon="more-horizontal-outline"></nb-icon>
          </div>
          <nz-dropdown-menu #dropdown="nzDropdownMenu">
              <app-action-menu [actions]="headerActions" (useSelectItem)="useAction($event, table, undefined, undefined)"></app-action-menu>
          </nz-dropdown-menu> -->
            <div class="customer button-icon-circle" [nzPlacement]="'bottomLeft'" [nzOverlayClassName]="'mt-1'" nz-dropdown [nzDropdownMenu]="dropdown">
                <img [src]="instance.customer.avatar ? instance.customer.avatar : '../../../../../../../assets/user.png'">
            </div>
            <nz-dropdown-menu #dropdown="nzDropdownMenu">
                <app-instance-customer-card [customer]="instance.customer"></app-instance-customer-card>
            </nz-dropdown-menu>
        </div>
    </div>
</div>
<div class="main" *ngIf="instance">
    <div class="content">
        <div class="list">
            <nb-accordion>
                <nb-accordion-item (collapsedChange)="useCollapsedChange(ref, $event)" *ngFor="let step of instance.processStepInstances; let i = index" style="margin-bottom: 1rem; border-radius: 10px" class="{{step.status}}">
                    <nb-accordion-item-header>
                        <div class="step" #ref style="width: 100%">
                            <span class="name">
                              <span class="{{useIcon(step.processStep.type + '-' + step.processStep.subType).value}}" style="margin-right: 1rem; font-size: 1.5rem"></span>
                            <span style="font-size: 1.5rem;">{{step.processStep.name}}</span>
                            </span>
                            <br>
                            <span class="date">
                              <nb-icon icon="calendar-outline" style="margin-right: 1rem"></nb-icon>
                              <span style="color: #929090;">{{step.processStep.createdAt | date: 'hh:mm yyyy-MM-dd'}}</span>
                            </span>
                            <br>
                            <span class="department">
                              <nb-icon icon="cube-outline" style="margin-right: 1rem"></nb-icon>
                              <span class="text-info">{{step.processStep.department.name}}</span>
                            </span>
                            <br>
                            <span class="responsible">
                              <nb-icon icon="person-outline" style="margin-right: 1rem"></nb-icon>
                              <span class="text-danger">{{useLeader(step) ? useLeader(step).account.fullname : 'No one'}}</span>
                            </span>
                            <br>
                            <span class="process" style="display: flex;">
                              <nb-icon icon="sync-outline" style="margin-right: 1rem"></nb-icon>
                              <nb-progress-bar style="min-width: calc(90% - 1rem);" [value]="useProgress(step)" [status]="useStatus(step)" [displayValue]="true"></nb-progress-bar>
                            </span>
                        </div>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <div style="min-height: calc(100vh - 24rem); width: 100%; overflow-x: hidden;">
                            <div class="description">
                                <nb-tabset fullWidth (changeTab)="useLoadBottom(comments)">
                                    <nb-tab style="padding: 0.5rem 0 0 0;" responsive tabIcon="pie-chart-outline" tabTitle="Statistical">
                                        <div class="tab-content p-0">
                                            <div class="statistical p-3">
                                                <h5>Completion schedule: ({{useProgress(step)}} %)</h5>
                                                <nb-progress-bar size="giant" style="width: 100%" [value]="useProgress(step)" [status]="useStatus(step)" [displayValue]="true"></nb-progress-bar>
                                                <nb-accordion style="margin-top: 1rem;">
                                                    <nb-accordion-item [expanded]="true">
                                                        <nb-accordion-item-header>State of Completion Chart</nb-accordion-item-header>
                                                        <nb-accordion-item-body>
                                                            <nz-spin nzTip="Loading..." [nzSpinning]="!useStatisticsStatusCompletion(step)">
                                                                <div [ngStyle]="{'opacity': useStatisticsStatusCompletion(step) ? '1' : '0'}" echarts [options]="useStatisticsStatusCompletion(step)" class="chart">
                                                                </div>
                                                            </nz-spin>
                                                        </nb-accordion-item-body>
                                                    </nb-accordion-item>
                                                </nb-accordion>

                                            </div>
                                        </div>
                                    </nb-tab>
                                    <nb-tab style="padding: 0.5rem 0 0 0;" responsive tabIcon="briefcase-outline" tabTitle="Task">
                                        <div class="tab-content p-0">
                                            <div class="task-header p-2">
                                                <button class="add" (click)="useDialog(createDialog, 'create-modal')" nbButton status="success" size="small">Create Task</button>
                                                <ng-template #createDialog let-data let-ref="dialogRef">
                                                    <app-instance-task-create [processStepInstance]="step" [leader]="useLeader(step)" [members]="useMembers(step)" (useDone)="useCreate(ref, $event, step)" (useClose)="ref.close()"></app-instance-task-create>
                                                </ng-template>
                                                <div #search style="width: 100%; position: absolute; top: 0; left: 0; display: none; z-index: 1;">
                                                    <nb-form-field style="width: 100%;">
                                                        <input #searchInput (keyup)="searchInput.value = $event.target.value" style="height: 3rem" type="text" nbInput fullWidth status="info" placeholder="Fill name to search" />
                                                        <nb-icon (click)="search.style.display = 'none'" class="text-danger" nbSuffix icon="close-circle-outline"></nb-icon>
                                                    </nb-form-field>
                                                </div>
                                                <nb-icon class="search" icon="search-outline" (click)="search.style.display = 'block'"></nb-icon>
                                                <nb-icon class="more" icon="more-horizontal-outline"></nb-icon>
                                            </div>
                                            <div class="task-body p-2">
                                                <div class="task" [ngStyle]="{'display': task.name.toLowerCase().includes(searchInput.value.toLowerCase()) ? 'block' : 'none'}" *ngFor="let task of step.tasks">
                                                    <nb-form-field style="width: 100%;">
                                                        <nb-icon nbPrefix icon="smiling-face-outline"></nb-icon>
                                                        <input type="text" nbInput fullWidth status="info" readonly [value]="task.name" />
                                                        <nb-icon style="cursor: copy;" nbSuffix icon="copy-outline" (click)="useCopy(task.name)"></nb-icon>
                                                    </nb-form-field>
                                                    <span style="width: 100%; display: block; margin-bottom: 0.5rem; padding: 0.3rem 0.6rem 0.3rem 0.6rem">
                                                      <nb-icon style="margin-right: 0.6rem;" nbPrefix icon="briefcase-outline"></nb-icon>
                                                      <span class="text-info">{{task.assignee.fullname}}</span>
                                                    </span>
                                                    <span style="width: 100%; display: block; margin-bottom: 0.5rem; padding: 0.3rem 0.6rem 0.3rem 0.6rem">
                                                      <nb-icon style="margin-right: 0.6rem;" nbPrefix icon="person-outline"></nb-icon>
                                                      <span class="text-danger">{{task.assignBy.fullname}}</span>
                                                    </span>
                                                    <span style="width: 100%; display: block; margin-bottom: 0.5rem; padding: 0.3rem 0.6rem 0.3rem 0.6rem">
                                                      <nb-icon style="margin-right: 0.6rem;" nbPrefix icon="calendar-outline"></nb-icon>
                                                      <span class="text-warning">{{task.deadline | date: 'yyyy-MM-dd'}}</span>
                                                    </span>
                                                    <span style="width: 100%; display: block; padding: 0.3rem 0.6rem 0.3rem 0.6rem">
                                                      <nb-icon style="margin-right: 0.6rem;" nbPrefix icon="checkmark-square-2-outline"></nb-icon>
                                                      <span [class.text-success]="task.status === 'done'" [class.text-info]="task.status === 'processing'" [class.text-danger]="task.status === 'cancel'" style="text-transform: capitalize;">{{task.status}}</span>
                                                    </span>
                                                    <button (click)="useDialog(editDialog, 'update-modal')" style="position: absolute; bottom: 0.5rem; right: 5.5rem" shape="round" status="info" nbButton size="small">
                                                      <nb-icon icon="edit-2-outline"></nb-icon>
                                                    </button>
                                                    <button style="position: absolute; bottom: 0.5rem; right: 3rem" shape="round" status="success" nbButton size="small">
                                                      <nb-icon icon="checkmark-square-2-outline"></nb-icon>
                                                    </button>
                                                    <button style="position: absolute; bottom: 0.5rem; right: 0.5rem" shape="round" status="danger" nbButton size="small">
                                                      <nb-icon icon="close-square-outline"></nb-icon>
                                                    </button>
                                                    <ng-template #editDialog let-data let-ref="dialogRef">
                                                        <app-instance-task-update [task]="task" [processStepInstance]="step" [leader]="useLeader(step)" [members]="useMembers(step)" (useDone)="useUpdate(ref, $event, step, i)" (useClose)="ref.close()"></app-instance-task-update>
                                                    </ng-template>
                                                </div>
                                                <nz-empty *ngIf="step.tasks.length === 0" style="transform: translate(-50%, -50%); top: 50%; left: 50%; position: absolute;" nzNotFoundImage="simple" nzNotFoundContent="Don't have any task yet!'"></nz-empty>
                                            </div>
                                        </div>
                                    </nb-tab>
                                    <nb-tab style="padding: 0.5rem 0 0 0;" responsive tabIcon="message-square-outline" tabTitle="Forum">
                                        <div class="tab-content p-0">
                                            <div #comments class="comments">
                                                <div class="comment" *ngFor="let comment of step.comments">
                                                    <div class="comment-avatar">
                                                        <img [src]="comment.account.avatar ? comment.account.avatar : '../../../../../../../assets/user.png'">
                                                    </div>
                                                    <div class="comment-message">
                                                        <b style="margin-bottom: 0.5rem; font-size: 0.8rem;">{{comment.account.fullname}}</b>
                                                        <p>
                                                            {{comment.message}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <nz-empty *ngIf="step.comments.length === 0" style="transform: translate(-50%, -50%); top: 50%; left: 50%; position: absolute;" nzNotFoundImage="simple" nzNotFoundContent="Don't have any comment yet!'"></nz-empty>
                                            <nb-form-field style="width: 100%; position: absolute; bottom: 0; left: 0;">
                                                <textarea #inp type="text" nbInput fullWidth style="height: 4rem; resize: none; padding-right: 5.5rem;"></textarea>
                                                <nb-icon style="cursor: pointer; position: absolute;right: 3.5rem;font-size: 2rem;" nbSuffix (click)="emo.style.display = emo.style.display === 'block' ? 'none' : 'block'" icon="smiling-face-outline"></nb-icon>
                                                <nb-icon style="cursor: pointer; position: absolute;right: 1rem;font-size: 2rem;" status="primary" nbSuffix icon="navigation-2" (click)="useComment(step, inp, comments, emo)"></nb-icon>
                                            </nb-form-field>
                                            <span #emo style="display: none;"></span>
                                            <emoji-mart (emojiSelect)="useEmoji($event, inp)" [style]="{ position: 'absolute', bottom: '4rem', right: '0' }" [skin]="2" *ngIf="emo.style.display === 'block'" nbSuffix title="Pick your emoji…" emoji="point_up"></emoji-mart>
                                        </div>
                                    </nb-tab>
                                    <nb-tab style="padding: 0.5rem 0 0 0;" responsive tabIcon="person-outline" tabTitle="Department">
                                        <div class="tab-content p-0">
                                            <div class="department p-3">
                                                <h5>Department Information</h5>
                                                <nb-form-field style="width: 100%; margin-bottom: 0.5rem;">
                                                    <nb-icon nbPrefix icon="cube-outline"></nb-icon>
                                                    <input type="text" nbInput fullWidth readonly [value]="step.processStep.department.name">
                                                </nb-form-field>
                                                <h5>Leader</h5>
                                                <div class="employee" *ngIf="useLeader(step)">
                                                    <div class="avatar">
                                                        <img [src]="useLeader(step).account.avatar ? useLeader(step).account.avatar : '../../../../../../../assets/user.png'">
                                                    </div>
                                                    <div class="information">
                                                        <nb-form-field style="width: 100%; margin-bottom: 0.5rem;">
                                                            <nb-icon nbPrefix icon="person-outline"></nb-icon>
                                                            <input type="text" nbInput fullWidth readonly [value]="useLeader(step).account.fullname">
                                                            <nb-icon style="cursor: copy;" nbSuffix icon="copy-outline" (click)="useCopy(useLeader(step).account.fullname)"></nb-icon>
                                                        </nb-form-field>
                                                        <nb-form-field style="width: 100%; margin-bottom: 0.5rem;">
                                                            <nb-icon nbPrefix icon="email-outline" status="warning"></nb-icon>
                                                            <input type="text" nbInput fullWidth readonly [value]="useLeader(step).account.email">
                                                            <nb-icon style="cursor: copy;" nbSuffix icon="copy-outline" (click)="useCopy(useLeader(step).account.email)"></nb-icon>
                                                        </nb-form-field>
                                                        <nb-form-field style="width: 100%; margin-bottom: 0.5rem;">
                                                            <nb-icon nbPrefix icon="phone-outline" status="success"></nb-icon>
                                                            <input type="text" nbInput fullWidth readonly [value]="useLeader(step).account.phone">
                                                            <nb-icon style="cursor: copy;" nbSuffix icon="copy-outline" (click)="useCopy(useLeader(step).account.phone)"></nb-icon>
                                                        </nb-form-field>
                                                    </div>
                                                </div>
                                                <div class="employee" nz-row *ngIf="!useLeader(step)">

                                                </div>
                                                <h5>Members</h5>
                                                <div class="employee" *ngFor="let employee of useMembers(step)" style="margin-bottom: 0.5rem;">
                                                    <div class="avatar">
                                                        <img [src]="employee.account.avatar ? employee.account.avatar : '../../../../../../../assets/user.png'">
                                                    </div>
                                                    <div class="information">
                                                        <nb-form-field style="width: 100%; margin-bottom: 0.5rem;">
                                                            <nb-icon nbPrefix icon="person-outline"></nb-icon>
                                                            <input type="text" nbInput fullWidth readonly [value]="employee.account.fullname">
                                                            <nb-icon style="cursor: copy;" nbSuffix icon="copy-outline" (click)="useCopy(employee.account.fullname)"></nb-icon>
                                                        </nb-form-field>
                                                        <nb-form-field style="width: 100%; margin-bottom: 0.5rem;">
                                                            <nb-icon nbPrefix icon="email-outline" status="warning"></nb-icon>
                                                            <input type="text" nbInput fullWidth readonly [value]="employee.account.email">
                                                            <nb-icon style="cursor: copy;" nbSuffix icon="copy-outline" (click)="useCopy(employee.account.email)"></nb-icon>
                                                        </nb-form-field>
                                                        <nb-form-field style="width: 100%; margin-bottom: 0.5rem;">
                                                            <nb-icon nbPrefix icon="phone-outline" status="success"></nb-icon>
                                                            <input type="text" nbInput fullWidth readonly [value]="employee.account.phone">
                                                            <nb-icon style="cursor: copy;" nbSuffix icon="copy-outline" (click)="useCopy(employee.account.phone)"></nb-icon>
                                                        </nb-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </nb-tab>
                                </nb-tabset>
                            </div>
                        </div>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
        </div>
    </div>
</div>
