<nb-card style="position: relative;">
    <ngx-spinner [name]="'setting-permission'" bdColor="#e5e5e5" [style.opacity]="'0.8'" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
    <nb-card-header style="background: #f7f7f7; border-bottom: 1px solid #e5e5e5; text-transform: capitalize;">
        Setting permission
        <button (click)="useClose.emit()" style="float:right" nbButton size="tiny">
          <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
        <button class="mb-2" nbButton (click)="usePlus()" outline status="success">
        <nb-icon icon="plus-outline"></nb-icon> <b>Role</b>
      </button>
        <nb-accordion>
            <nb-accordion-item class="mb-2" *ngFor="let role of roles">
                <nb-accordion-item-header>{{role.name}}</nb-accordion-item-header>
                <nb-accordion-item-body style="max-height: 30rem; overflow-y:auto;">
                    <app-reuse-role-save [role]="role" [inside]="true"></app-reuse-role-save>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </nb-card-body>
</nb-card>