nb-card {
    width: 789px;
    margin-top: 29px;
    nb-card-body {
        max-height: calc(100vh - 238px);
        overflow-y: auto;
        overflow-x: hidden;
        .empty {
            width: 100%;
            height: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: 789px) {
    nb-card {
        width: 95vw;
    }
}
