nb-card {
    width: 789px;
    margin-top: 29px;
    nb-card-body {
        max-height: calc(100vh - 238px);
        overflow: auto;
        .image {
            width: 100%;
            margin-bottom: 1rem;
            height: fit-content;
            display: flex;
            justify-content: center;
            min-height: 250px;
            border: 1px solid #e5e5e5;
            align-items: center;
            position: relative;
            .image-picker {
                &.danger {
                    border: 1px solid #dc3545;
                }
                border: 1px solid #e5e5e5;
                width: 200px;
                position: relative;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (max-width: 789px) {
    nb-card {
        width: 95vw;
    }
}
