nb-card {
    background: #edf1f7;
    nb-card-body {
        .crm-event {
            width: 100%;
            position: relative;
            .crm-event-body {
                width: 100%;
                max-width: 100%;
                overflow-x: auto;
                overflow-y: hidden;
                position: relative;
                display: block;
                float: left;
            }
        }
    }
}