<nb-card class="h-100 w-100 position-relative">
    <ngx-spinner [name]="'event-main'" bdColor="#e5e5e5" [style.opacity]="0.8" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
    <nb-card-header style="padding: 1rem 2.25rem;">
        <span class="display-flex align-items-center float-left h-100">
    <nb-icon icon="calendar-outline" class="mr-2"></nb-icon>
      <b style="font: 600 17px/16px monospace, sans-serif; color: #747678;">Event</b>
    </span>
        <button class="float-right" (click)="useReload()" outline nbButton size="small">
      <nb-icon icon="sync-outline"></nb-icon>
      </button>
        <button *ngIf="state.stage === 'calendar'" class="float-right mr-2" (click)="state.stage = 'list'" outline nbButton size="small" status="info">
        <nb-icon icon="menu-outline"></nb-icon>
      </button>
        <button *ngIf="state.stage === 'list'" class="float-right mr-2" (click)="state.stage = 'calendar'" outline nbButton size="small" status="info">
        <nb-icon icon="calendar-outline"></nb-icon>
      </button>
        <button class="float-right mr-2" nz-dropdown [nzDropdownMenu]="eventSearch" [nzTrigger]="'click'" [nzPlacement]="'bottomCenter'" [nzBackdrop]="false" outline nbButton status="primary" size="small">
        <nb-icon icon="search-outline"></nb-icon>
        </button>
        <button *ngIf="state.canAdd" class="float-right mr-2" (click)="usePlus()" status="success" outline nbButton size="small">
        <nb-icon icon="plus-outline"></nb-icon>
        </button>
        <nz-dropdown-menu #eventSearch="nzDropdownMenu">
            <app-event-search class="display-block" style="margin-left: 1.75rem;" [stage]="state.stage" (useSearch)="useSearch($event)" [search]="state.search"></app-event-search>
        </nz-dropdown-menu>
    </nb-card-header>
    <nb-card-body>
        <div class="crm-event">
            <div class="crm-event-body">
                <app-event-calendar *ngIf="state.stage === 'calendar'" [events]="state.events" [type]="state.search.type" [viewDate]="state.search.viewDate" [view]="state.search.view" [canAdd]="state.canAdd" [canUpdate]="state.canUpdate"></app-event-calendar>
                <app-event-list *ngIf="state.stage === 'list'" [canRemove]="state.canRemove" [canUpdate]="state.canUpdate" [events]="state.events"></app-event-list>
            </div>
        </div>
    </nb-card-body>
</nb-card>