<div class="main" (click)="useClickOutside.emit()">
    <nz-spin nzTip="Loading..." [nzSpinning]="status">
        <div class="main-header">
            <div class="url" (click)="useGo('')">
                <button [nbTooltip]="'Home'" nbButton size="small" status="basic">
                    <nb-icon icon="home-outline"></nb-icon>
                </button>
            </div>
            <div class="url" *ngFor="let point of points" (click)="useGo(point.value)" [ngStyle]="{'display': point.value === 'dashboard' ? 'none' : 'flex'}">
                <span style="margin: 0 0.5rem 0 0.5rem;">/</span>
                <button [nbTooltip]="point.label" nbButton size="small" status="basic">
                    <nb-icon icon="{{point.icon ? point.icon : 'alert-circle'}}-outline"></nb-icon>
                    <span>{{point.label | maxLength: 11}}</span>
                </button>
            </div>

        </div>
        <div class="main-body">
            <ng-content select="router-outlet"></ng-content>
        </div>
    </nz-spin>
</div>